<!-- filters wrapper -->
<div
    class=" filters-wrapper w-full rounded-lg bg-white min-h-[60px] flex items-center justify-between p-2 mt-3 border">
    <div class="filter-fields flex items-center justify-start w-[80%]"></div>
    <div class="list-actions flex items-center justify-between"></div>
</div>
<!-- filters wrapper -->
<!-- list content -->
<div class=" w-full  mt-2">
    <div class="w-full  min-h-[64vh] intro-y box p-3">
        <div class="w-full h-full listview-wrapper "></div>
    </div>
</div>