{% load static %}
<div class="w-full h-full grid grid-rows-2">
    <div class="-2 intro-y">
        <div class="box p-3 h-full">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">Print Format History</h4>
            </div>
            <div class="my-5 bg-gray-300 w-full h-[3px] rounded-full"></div>
            
        </div>
    </div>

    <div class="-2 intro-y mt-6">
        <div class="box p-3 h-full">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">Default Print Formats</h4>
            </div>
            <div class="my-5 bg-gray-300 w-full h-[3px] rounded-full"></div>
        </div>
    </div>
</div>