<div class="col-span-1 w-full h-full grid grid-rows-2 gap-y-8">
    <div class="-2 intro-y h-full">
        <div class="box p-3 h-full">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">Job Applications</h4>
            </div>
            <div class="my-2 bg-gray-300 w-full h-[3px] rounded-full"></div>
            <div id="job-application" class="w-full h-full">
                <div class="w-full my-8 flex items-center justify-between">
                    <div class="flex flex-col">
                        <span class="font-semibold flex items-center justify-start">
                            <span class="material-symbols-outlined text-[14px] mr-1 text-orange-600">
                                total_dissolved_solids
                            </span>
                            Total
                        </span>
                        <small class="text-slate-500 ml-5 w-[90%]">
                            Total number of Applications
                        </small>
                    </div>
                    <div class="total-applications rounded-full bg-gray-200 w-[30px] h-[30px] flex items-center justify-center text-[12px]" id="total_applicants">
                        0
                    </div>
                </div>
                <div class="w-full my-8 flex items-center justify-between">
                    <div class="flex flex-col">
                        <span class="font-semibold flex items-center justify-start">
                            <span class="material-symbols-outlined text-[14px] mr-1 text-red-400">
                                person
                            </span>
                            Applicants
                        </span>
    
                        <small class="text-slate-500 ml-5 w-[90%]">
                            Total number of unique applicants
                        </small>
                    </div>
                    <div  class="total-applicants rounded-full bg-gray-200 w-[30px] h-[30px] flex items-center justify-center text-[12px]">
                        0
                    </div>
                </div>
                <div class="w-full my-8 flex items-center justify-between">
                    <div class="flex flex-col">
                        <span class="font-semibold flex items-center justify-start">
                            <span class="material-symbols-outlined text-[15px] mr-1 text-default">
                                wifi_notification
                            </span>
                            Active
                        </span>
                        <small class="text-slate-500 ml-5 w-[90%%]">
                            Successfully made applications
                        </small>
                    </div>
                    <div class="active rounded-full bg-gray-200 w-[30px] h-[30px] flex items-center justify-center text-[12px]" id="successful_applications">
                        0
                    </div>
                </div>
                <div class="w-full my-8 flex items-center justify-between">
                    <div class="flex flex-col">
                        <span class="font-semibold flex items-center justify-start">
                            <span class="material-symbols-outlined text-[15px] mr-1 text-default">
                                swipe_left
                            </span>
                            Rejected
                        </span>
                        <small class="text-slate-500 ml-5 w-[90%%]">
                            Rejected applications
                        </small>
                    </div>
                    <div class="active rounded-full bg-gray-200 w-[30px] h-[30px] flex items-center justify-center text-[12px]" id="rejected_applications">
                        0
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="-2 intro-y h-full">
        <div class="box p-3 h-full">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">Job Application By Designation</h4>
            </div>
            <div id="job_applic_by_desig-chart-info" class="w-full h-full"></div>
        </div>
    </div>
</div>