<div class="grid grid-rows-2 gap-y-5">
    <div class="-2 intro-y h-[100%]">
        <div class="box p-3 h-full">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">Stock Value Summary</h4>
            </div>
            <div class="my-2 bg-gray-300 w-full h-[3px] rounded-full"></div>
            <div class="h-[88%] w-full">
                <div class="h-full w-full flex justify-center items-center relative" id="items-value"></div>
            </div>
        </div>
    </div>

    <div class="-2 w-full intro-x">
        <div class="box w-full h-full p-3">
            <h3 class="font-semibold text-12 text-gray-700 w-full border-b pb-2">Quick Links</h3>
            <a href="#"
                class="w-full flex items-center justify-start h-[40px] hover:text-blue-700 transition duration-100 hover:translate-x-[-3%]">
                <span class="material-symbols-outlined text-[14px] mr-1 text-yellow-800">
                    account_tree
                </span>
                Item Groups
            </a>
            <a href="#"
                class="w-full flex items-center justify-start h-[40px] hover:text-blue-700 transition duration-100 hover:translate-x-[-3%]">
                <span class="material-symbols-outlined text-[14px] mr-1 text-green-700">
                    partner_exchange
                </span>
                Material request
            </a>
            <a href="#"
                class="w-full flex items-center justify-start h-[40px] hover:text-blue-700 transition duration-100 hover:translate-x-[-3%]">
                <span class="material-symbols-outlined text-[14px] mr-1 text-warning">
                    chart_data
                </span>
                Stock Ledger
            </a>
            <a href="#"
                class="w-full flex items-center justify-start h-[40px] hover:text-blue-700 transition duration-100 hover:translate-x-[-3%]">
                <span class="material-symbols-outlined text-[14px] mr-1 text-success">
                    stacked_line_chart
                </span>
                Stock Balance
            </a>
            <a href="#"
                class="w-full flex items-center justify-start h-[40px] hover:text-blue-700 transition duration-100 hover:translate-x-[-3%]">
                <span class="material-symbols-outlined text-[14px] mr-1 text-danger">
                    query_stats
                </span>
                Stock Summary
            </a>
            <a href="#"
                class="w-full flex items-center justify-start h-[40px] hover:text-blue-700 transition duration-100 hover:translate-x-[-3%]">
                <span class="material-symbols-outlined text-[14px] mr-1 text-indigo-600">
                    sell
                </span>
                Item
            </a>
            <a href="#"
                class="w-full flex items-center justify-start my-5 hover:text-blue-700 hover:translate-x-[-3%]">
                <span class="material-symbols-outlined text-[14px] mr-1 text-orange-600">
                    forklift
                </span>
                Warehouses
            </a>
        </div>
    </div>
</div>