<div class="grid grid-rows-2 gap-y-5">
    <div class="-2 intro-y h-[100%]">
        <div class="box p-3 h-full">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">Item Summary Info</h4>
            </div>
            <div class="my-2 bg-gray-300 w-full h-[3px] rounded-full"></div>
            <div class="h-[88%] w-full">
                <div class="h-full w-full flex justify-center items-center" id="item-value"></div>
            </div>
        </div>
    </div>

    
    <div class="-2 w-full intro-x">
        <div class="box w-full h-full p-3">
            <h3 class="font-semibold text-12 text-gray-700 w-full border-b pb-2"><span class="warehouse-name"></span> Related Items</h3>
            <div class="h-[90%] w-full">
                <div id="side-itemss" class="h-full w-full grid grid-rows-5 gap-y-2 py-2">
                    <div class="border-b rounded-md">
                        <div class="h-full w-full grid grid-cols-7">
                            <div  class="col-span-3 flex justify-start items-center">
                                <h1 class="text-sm text-slate-700">ITEM:</h1>
                            </div>
                            <div  class="col-span-2 flex justify-center items-center">
                                <h1 class="text-sm text-slate-700">QTY:</h1>
                            </div>
                            <div  class="col-span-2 flex justify-end items-center">
                                <h1 class="text-sm text-slate-700">VLU:</h1>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="border-b rounded-md">
                        <div class="h-full w-full grid grid-cols-7">
                            <div  class="col-span-3 flex justify-start items-center">
                                <h1 class="text-[13px] text-slate-700 truncate">LG insperon</h1>
                            </div>
                            <div  class="col-span-2 flex justify-center items-center">
                                <h1 class="text-[13px] text-slate-700 truncate font-semibold">55</h1>
                            </div>
                            <div  class="col-span-2 flex justify-end items-center">
                                <h1 class="text-[13px] text-slate-700 truncate">K 300, 000.00</h1>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>