<div for="Country Stats" class="multi-content-group w-full">
    <div class="w-full grid grid-cols-10 h-[75%] gap-3">
        <!-- country listing -->
        <div class=" col-span-2">
            {% include "./country_list.html" %}
        </div>
        <!-- country listing -->
        <!-- country content -->
        <div class="col-span-5">
            {% include "./country_map.html" %}
            {% include "./top_stats.html" %}
        </div>
        <div class="col-span-3">
            {% include "./top_countries.html" %}

            <div class="-2 intro-y mt-5">
                <div class="box p-3 min-h-[200px] relative">
                    <h4 class="font-semibold w-full mb-5">Content Unavailable</h4>
                    
                </div>
            </div>
        </div>
    </div>
</div>