{% load static %}
<div class="report-box-2 intro-y mt-5">
    <div class="box p-3  h-full">
        <h4 class="font-semibold">Country List</h4>
        <div class="my-3 bg-gray-300 w-full h-[2px] rounded-full"></div>
        <div class="country-list w-full">
            <!-- country -->
            <div class="w-full flex items-center justify-between my-5 border-b pb-2">
                <div class="img-wrapper flex items-center justify-center">
                    <img src='{% static "images/country/au.svg" %}'
                        class="w-[25px] h-[25px] object-cover rounded-md mr-2" alt="IMG">
                    Australia
                </div>
                <div class="dropdown w-1/2 sm:w-auto" style="position: relative;">
                    <button class="dropdown-toggle w-full" aria-expanded="false" data-tw-toggle="dropdown">
                        <i data-lucide="more-vertical" class="w-[17px] h-[17px]"></i>
                        <!-- Actions -->
                    </button>
                    <div class="dropdown-menu w-[140px]" id="_hjlc5luf1" data-popper-placement="bottom-end"
                        style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(-0.5px, 38px, 0px);">
                        <ul class="dropdown-content">
                            <li>
                                <a id="tabulator-export-csv" href="javascript:;" class="dropdown-item">
                                    <i data-lucide="edit-3" class="w-[17px] h-[17px] mr-2"></i>
                                    Edit
                                </a>
                            </li>
                            <li>
                                <a id="tabulator-export-csv" href="javascript:;" class="dropdown-item">
                                    <i data-lucide="trash-2"
                                        class="w-[17px] h-[17px] mr-2 text-red-700"></i>
                                    Delete
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="w-full flex items-center justify-between my-5 border-b pb-2">
                <div class="img-wrapper flex items-center justify-center">
                    <img src='{% static "images/country/af.svg" %}'
                        class="w-[25px] h-[25px] object-cover rounded-md mr-2" alt="IMG">
                    Afghanistan
                </div>
                <div class="dropdown w-1/2 sm:w-auto" style="position: relative;">
                    <button class="dropdown-toggle w-full" aria-expanded="false" data-tw-toggle="dropdown">
                        <i data-lucide="more-vertical" class="w-[17px] h-[17px]"></i>
                        <!-- Actions -->
                    </button>
                    <div class="dropdown-menu w-[140px]" id="_hjlc5luf1" data-popper-placement="bottom-end"
                        style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(-0.5px, 38px, 0px);">
                        <ul class="dropdown-content">
                            <li>
                                <a id="tabulator-export-csv" href="javascript:;" class="dropdown-item">
                                    <i data-lucide="edit-3" class="w-[17px] h-[17px] mr-2"></i>
                                    Edit
                                </a>
                            </li>
                            <li>
                                <a id="tabulator-export-csv" href="javascript:;" class="dropdown-item">
                                    <i data-lucide="trash-2"
                                        class="w-[17px] h-[17px] mr-2 text-red-700"></i>
                                    Delete
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="w-full flex items-center justify-between my-5 border-b pb-2">
                <div class="img-wrapper flex items-center justify-center">
                    <img src='{% static "images/country/ao.svg" %}'
                        class="w-[25px] h-[25px] object-cover rounded-md mr-2" alt="IMG">
                    Angola
                </div>
                <div class="dropdown w-1/2 sm:w-auto" style="position: relative;">
                    <button class="dropdown-toggle w-full" aria-expanded="false" data-tw-toggle="dropdown">
                        <i data-lucide="more-vertical" class="w-[17px] h-[17px]"></i>
                        <!-- Actions -->
                    </button>
                    <div class="dropdown-menu w-[140px]" id="_hjlc5luf1" data-popper-placement="bottom-end"
                        style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(-0.5px, 38px, 0px);">
                        <ul class="dropdown-content">
                            <li>
                                <a id="tabulator-export-csv" href="javascript:;" class="dropdown-item">
                                    <i data-lucide="edit-3" class="w-[17px] h-[17px] mr-2"></i>
                                    Edit
                                </a>
                            </li>
                            <li>
                                <a id="tabulator-export-csv" href="javascript:;" class="dropdown-item">
                                    <i data-lucide="trash-2"
                                        class="w-[17px] h-[17px] mr-2 text-red-700"></i>
                                    Delete
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="w-full flex items-center justify-between my-5 border-b pb-2">
                <div class="img-wrapper flex items-center justify-center">
                    <img src='{% static "images/country/cv.svg" %}'
                        class="w-[25px] h-[25px] object-cover rounded-md mr-2" alt="IMG">
                    Cabo Verde
                </div>
                <div class="dropdown w-1/2 sm:w-auto" style="position: relative;">
                    <button class="dropdown-toggle w-full" aria-expanded="false" data-tw-toggle="dropdown">
                        <i data-lucide="more-vertical" class="w-[17px] h-[17px]"></i>
                        <!-- Actions -->
                    </button>
                    <div class="dropdown-menu w-[140px]" id="_hjlc5luf1" data-popper-placement="bottom-end"
                        style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(-0.5px, 38px, 0px);">
                        <ul class="dropdown-content">
                            <li>
                                <a id="tabulator-export-csv" href="javascript:;" class="dropdown-item">
                                    <i data-lucide="edit-3" class="w-[17px] h-[17px] mr-2"></i>
                                    Edit
                                </a>
                            </li>
                            <li>
                                <a id="tabulator-export-csv" href="javascript:;" class="dropdown-item">
                                    <i data-lucide="trash-2"
                                        class="w-[17px] h-[17px] mr-2 text-red-700"></i>
                                    Delete
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="w-full flex items-center justify-between my-5 border-b pb-2">
                <div class="img-wrapper flex items-center justify-center">
                    <img src='{% static "images/country/fi.svg" %}'
                        class="w-[25px] h-[25px] object-cover rounded-md mr-2" alt="IMG">
                    Finland
                </div>
                <div class="dropdown w-1/2 sm:w-auto" style="position: relative;">
                    <button class="dropdown-toggle w-full" aria-expanded="false" data-tw-toggle="dropdown">
                        <i data-lucide="more-vertical" class="w-[17px] h-[17px]"></i>
                        <!-- Actions -->
                    </button>
                    <div class="dropdown-menu w-[140px]" id="_hjlc5luf1" data-popper-placement="bottom-end"
                        style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(-0.5px, 38px, 0px);">
                        <ul class="dropdown-content">
                            <li>
                                <a id="tabulator-export-csv" href="javascript:;" class="dropdown-item">
                                    <i data-lucide="edit-3" class="w-[17px] h-[17px] mr-2"></i>
                                    Edit
                                </a>
                            </li>
                            <li>
                                <a id="tabulator-export-csv" href="javascript:;" class="dropdown-item">
                                    <i data-lucide="trash-2"
                                        class="w-[17px] h-[17px] mr-2 text-red-700"></i>
                                    Delete
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="w-full flex items-center justify-between my-5 border-b pb-2">
                <div class="img-wrapper flex items-center justify-center">
                    <img src='{% static "images/country/sz.svg" %}'
                        class="w-[25px] h-[25px] object-cover rounded-md mr-2" alt="IMG">
                    Eswatini
                </div>
                <div class="dropdown w-1/2 sm:w-auto" style="position: relative;">
                    <button class="dropdown-toggle w-full" aria-expanded="false" data-tw-toggle="dropdown">
                        <i data-lucide="more-vertical" class="w-[17px] h-[17px]"></i>
                        <!-- Actions -->
                    </button>
                    <div class="dropdown-menu w-[140px]" id="_hjlc5luf1" data-popper-placement="bottom-end"
                        style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(-0.5px, 38px, 0px);">
                        <ul class="dropdown-content">
                            <li>
                                <a id="tabulator-export-csv" href="javascript:;" class="dropdown-item">
                                    <i data-lucide="edit-3" class="w-[17px] h-[17px] mr-2"></i>
                                    Edit
                                </a>
                            </li>
                            <li>
                                <a id="tabulator-export-csv" href="javascript:;" class="dropdown-item">
                                    <i data-lucide="trash-2"
                                        class="w-[17px] h-[17px] mr-2 text-red-700"></i>
                                    Delete
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="w-full flex items-center justify-between my-5 border-b pb-2">
                <div class="img-wrapper flex items-center justify-center">
                    <img src='{% static "images/country/gw.svg" %}'
                        class="w-[25px] h-[25px] object-cover rounded-md mr-2" alt="IMG">
                    Guinea-Bissau
                </div>
                <div class="dropdown w-1/2 sm:w-auto" style="position: relative;">
                    <button class="dropdown-toggle w-full" aria-expanded="false" data-tw-toggle="dropdown">
                        <i data-lucide="more-vertical" class="w-[17px] h-[17px]"></i>
                        <!-- Actions -->
                    </button>
                    <div class="dropdown-menu w-[140px]" id="_hjlc5luf1" data-popper-placement="bottom-end"
                        style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(-0.5px, 38px, 0px);">
                        <ul class="dropdown-content">
                            <li>
                                <a id="tabulator-export-csv" href="javascript:;" class="dropdown-item">
                                    <i data-lucide="edit-3" class="w-[17px] h-[17px] mr-2"></i>
                                    Edit
                                </a>
                            </li>
                            <li>
                                <a id="tabulator-export-csv" href="javascript:;" class="dropdown-item">
                                    <i data-lucide="trash-2"
                                        class="w-[17px] h-[17px] mr-2 text-red-700"></i>
                                    Delete
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="w-full flex items-center justify-between my-5 border-b pb-2">
                <div class="img-wrapper flex items-center justify-center">
                    <img src='{% static "images/country/hk.svg" %}'
                        class="w-[25px] h-[25px] object-cover rounded-md mr-2" alt="IMG">
                    Hong Kong
                </div>
                <div class="dropdown w-1/2 sm:w-auto" style="position: relative;">
                    <button class="dropdown-toggle w-full" aria-expanded="false" data-tw-toggle="dropdown">
                        <i data-lucide="more-vertical" class="w-[17px] h-[17px]"></i>
                        <!-- Actions -->
                    </button>
                    <div class="dropdown-menu w-[140px]" id="_hjlc5luf1" data-popper-placement="bottom-end"
                        style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(-0.5px, 38px, 0px);">
                        <ul class="dropdown-content">
                            <li>
                                <a id="tabulator-export-csv" href="javascript:;" class="dropdown-item">
                                    <i data-lucide="edit-3" class="w-[17px] h-[17px] mr-2"></i>
                                    Edit
                                </a>
                            </li>
                            <li>
                                <a id="tabulator-export-csv" href="javascript:;" class="dropdown-item">
                                    <i data-lucide="trash-2"
                                        class="w-[17px] h-[17px] mr-2 text-red-700"></i>
                                    Delete
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="w-full flex items-center justify-between my-5 border-b pb-2">
                <div class="img-wrapper flex items-center justify-center">
                    <img src='{% static "images/country/ir.svg" %}'
                        class="w-[25px] h-[25px] object-cover rounded-md mr-2" alt="IMG">
                    Iran
                </div>
                <div class="dropdown w-1/2 sm:w-auto" style="position: relative;">
                    <button class="dropdown-toggle w-full" aria-expanded="false" data-tw-toggle="dropdown">
                        <i data-lucide="more-vertical" class="w-[17px] h-[17px]"></i>
                        <!-- Actions -->
                    </button>
                    <div class="dropdown-menu w-[140px]" id="_hjlc5luf1" data-popper-placement="bottom-end"
                        style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(-0.5px, 38px, 0px);">
                        <ul class="dropdown-content">
                            <li>
                                <a id="tabulator-export-csv" href="javascript:;" class="dropdown-item">
                                    <i data-lucide="edit-3" class="w-[17px] h-[17px] mr-2"></i>
                                    Edit
                                </a>
                            </li>
                            <li>
                                <a id="tabulator-export-csv" href="javascript:;" class="dropdown-item">
                                    <i data-lucide="trash-2"
                                        class="w-[17px] h-[17px] mr-2 text-red-700"></i>
                                    Delete
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="w-full flex items-center justify-between my-5 border-b pb-2">
                <div class="img-wrapper flex items-center justify-center">
                    <img src='{% static "images/country/in.svg" %}'
                        class="w-[25px] h-[25px] object-cover rounded-md mr-2" alt="IMG">
                    India
                </div>
                <div class="dropdown w-1/2 sm:w-auto" style="position: relative;">
                    <button class="dropdown-toggle w-full" aria-expanded="false" data-tw-toggle="dropdown">
                        <i data-lucide="more-vertical" class="w-[17px] h-[17px]"></i>
                        <!-- Actions -->
                    </button>
                    <div class="dropdown-menu w-[140px]" id="_hjlc5luf1" data-popper-placement="bottom-end"
                        style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(-0.5px, 38px, 0px);">
                        <ul class="dropdown-content">
                            <li>
                                <a id="tabulator-export-csv" href="javascript:;" class="dropdown-item">
                                    <i data-lucide="edit-3" class="w-[17px] h-[17px] mr-2"></i>
                                    Edit
                                </a>
                            </li>
                            <li>
                                <a id="tabulator-export-csv" href="javascript:;" class="dropdown-item">
                                    <i data-lucide="trash-2"
                                        class="w-[17px] h-[17px] mr-2 text-red-700"></i>
                                    Delete
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="w-full flex items-center justify-between my-5 border-b pb-2">
                <div class="img-wrapper flex items-center justify-center">
                    <img src='{% static "images/country/il.svg" %}'
                        class="w-[25px] h-[25px] object-cover rounded-md mr-2" alt="IMG">
                    Israel
                </div>
                <div class="dropdown w-1/2 sm:w-auto" style="position: relative;">
                    <button class="dropdown-toggle w-full" aria-expanded="false" data-tw-toggle="dropdown">
                        <i data-lucide="more-vertical" class="w-[17px] h-[17px]"></i>
                        <!-- Actions -->
                    </button>
                    <div class="dropdown-menu w-[140px]" id="_hjlc5luf1" data-popper-placement="bottom-end"
                        style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(-0.5px, 38px, 0px);">
                        <ul class="dropdown-content">
                            <li>
                                <a id="tabulator-export-csv" href="javascript:;" class="dropdown-item">
                                    <i data-lucide="edit-3" class="w-[17px] h-[17px] mr-2"></i>
                                    Edit
                                </a>
                            </li>
                            <li>
                                <a id="tabulator-export-csv" href="javascript:;" class="dropdown-item">
                                    <i data-lucide="trash-2"
                                        class="w-[17px] h-[17px] mr-2 text-red-700"></i>
                                    Delete
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- country -->
        </div>
    </div>
</div>