{% load static %}
<div class="mt-5 w-full grid grid-cols-3 gap-3">
    <div class="-2 intro-y mt-5">
        <div class="box p-3 min-h-[200px] relative">
            <div class="w-full h-full flex items-center justify-center flex-col">
                <h1
                    class="font-bolder text-[30px] text-default w-[100px] h-[100px] rounded-full border border-indigo-900 border-[6px] flex items-center justify-center">
                    70%
                </h1>
                <h4 class="font-semibold mt-5 mb-2 w-full">Transactions in Africa</h4>
                <div class="flex w-full items-center justify-start text-12 mb-2">
                    <div class="rounded-full mr-1 bg-green-700 w-[8px] h-[8px]"></div>
                    1,344 Sales
                </div>
                <div class="flex w-full items-center justify-start text-12 mb-2">
                    <div class="rounded-full mr-1 bg-red-700 w-[8px] h-[8px]"></div>
                    355 Purchases
                </div>
            </div>
        </div>
    </div>
    <div class="-2 intro-y mt-5">
        <div class="box p-3 min-h-[200px] relative">
            <div class="w-full h-full flex items-center justify-center flex-col">
                <h1
                    class="font-bolder text-[30px] text-orange-800 w-[100px] h-[100px] rounded-full border border-orange-900  border-[6px] flex items-center justify-center">
                    23%
                </h1>
                <h4 class="font-semibold mt-5 mb-2 w-full">Transactions in Europe</h4>
                <div class="flex w-full items-center justify-start text-12 mb-2">
                    <div class="rounded-full mr-1 bg-green-700 w-[8px] h-[8px]"></div>
                    300 Sales
                </div>
                <div class="flex w-full items-center justify-start text-12 mb-2">
                    <div class="rounded-full mr-1 bg-red-700 w-[8px] h-[8px]"></div>
                    4 Purchases
                </div>
            </div>
        </div>
    </div>
    <div class="-2 intro-y mt-5">
        <div class="box p-3 min-h-[200px] relative">
            <div class="w-full h-full flex items-center justify-center flex-col">
                <h1
                    class="font-bolder text-[30px] text-yellow-300 w-[100px] h-[100px] rounded-full border border-yellow-300  border-[6px] flex items-center justify-center">
                    5%
                </h1>
                <h4 class="font-semibold mt-5 mb-2 w-full">Transactions in America</h4>
                <div class="flex w-full items-center justify-start text-12 mb-2">
                    <div class="rounded-full mr-1 bg-green-700 w-[8px] h-[8px]"></div>
                    7 Sales
                </div>
                <div class="flex w-full items-center justify-start text-12 mb-2">
                    <div class="rounded-full mr-1 bg-red-700 w-[8px] h-[8px]"></div>
                    7 Purchases
                </div>
            </div>
        </div>
    </div>
</div>