{% load static %}
<div class="-2 intro-y mt-5">
    <div class="box p-3  min-h-[400px]">
        <h3 class="font-semibold">Top Selling Countries</h3>
        <div class="w-full">
            <div class="flex items-center justify-between my-5">
                <div class="flex items-center justify-start font-semibold">
                    <img src='{% static "images/country/zm.svg" %}'
                        class="w-[20px] h-[20px] rounded-full mr-2" alt="">
                    Zambia
                </div>
                <div class="text-default bg-indigo-100 px-4 rounded-md py-1 font-semibold">$1,555,675.00
                </div>
            </div>
            <div class="flex items-center justify-between my-5">
                <div class="flex items-center justify-start font-semibold">
                    <img src='{% static "images/country/ke.svg" %}'
                        class="w-[20px] h-[20px] rounded-full mr-2" alt="">
                    Kenya
                </div>
                <div class="text-default bg-indigo-100 px-4 rounded-md py-1 font-semibold">$1,028,675.00
                </div>
            </div>
            <div class="flex items-center justify-between my-5">
                <div class="flex items-center justify-start font-semibold">
                    <img src='{% static "images/country/lr.svg" %}'
                        class="w-[20px] h-[20px] rounded-full mr-2" alt="">
                    Liberia
                </div>
                <div class="text-default bg-indigo-100 px-4 rounded-md py-1 font-semibold">$1,001,675.00
                </div>
            </div>
            <div class="flex items-center justify-between my-5">
                <div class="flex items-center justify-start font-semibold">
                    <img src='{% static "images/country/mz.svg" %}'
                        class="w-[20px] h-[20px] rounded-full mr-2" alt="">
                    Mozambique
                </div>
                <div class="text-default bg-indigo-100 px-4 rounded-md py-1 font-semibold">$555,675.00
                </div>
            </div>
            <div class="flex items-center justify-between my-5">
                <div class="flex items-center justify-start font-semibold">
                    <img src='{% static "images/country/ma.svg" %}'
                        class="w-[20px] h-[20px] rounded-full mr-2" alt="">
                    Morocco
                </div>
                <div class="text-default bg-indigo-100 px-4 rounded-md py-1 font-semibold">$385,225.00
                </div>
            </div>
            <div class="flex items-center justify-between my-5">
                <div class="flex items-center justify-start font-semibold">
                    <img src='{% static "images/country/nr.svg" %}'
                        class="w-[20px] h-[20px] rounded-full mr-2" alt="">
                    Nauru
                </div>
                <div class="text-default bg-indigo-100 px-4 rounded-md py-1 font-semibold">$400,111.89
                </div>
            </div>
            <div class="flex items-center justify-between my-5">
                <div class="flex items-center justify-start font-semibold">
                    <img src='{% static "images/country/no.svg" %}'
                        class="w-[20px] h-[20px] rounded-full mr-2" alt="">
                    Norway
                </div>
                <div class="text-default bg-indigo-100 px-4 rounded-md py-1 font-semibold">$90,622.80
                </div>
            </div>
        </div>
    </div>
</div>