<div class="top-stats w-full h-full grid grid-cols-3 mobile-grid-2 gap-5">
    <div class="-2 w-full h-full intro-y mobile-col-2 col-span-2">
        <div class="box relative dashboard-content w-full h-full p-2">
            <div class="w-full flex items-center justify-between border-b border-b-[2px] pb-2">
                <h3 class="font-bold text-gray-700">Workflows</h3>
                <a href="/app/core/workflow/?app=core&page=list&content_type=Workflow" class="flex items-center justify-between">
                    <span>Explore</span>
                    <span class="material-symbols-outlined ml-2"> arrow_right_alt </span>
                </a>
            </div>
            <div class="w-full workflow-list grid grid-cols-3 gap-3 p-2 text-12"></div>
        </div>
    </div>
    <div class="-2 w-full h-full intro-y mobile-col-2">
        <div class="box w-full h-full flex items-center justify-center flex-col p-3 relative dashboard-content">
            <div class="w-[20px] h-[10px] rounded-full absolute top-2 right-2 border border-[1px] border-purple-500"></div>
            <h1 class="font-bold border border-[4px] rounded-full flex items-center justify-center text-25 w-[70px] h-[70px] border-purple-500 total-users">
                0
            </h1>
            <div class="flex items-center justify-start w-full flex items-center justify-between border-t pt-3 mt-3">
                <div class="flex items-center justify-start">
                    <span class="material-symbols-outlined mr-2 text-purple-700"> account_circle </span>
                    <span class="text-13">Total Users</span>
                </div>

                <a href="/app/core/user/?app=core&page=list&content_type=User" class="flex mobile-hidden items-center justify-between">
                    <span>View</span>
                    <span class="material-symbols-outlined"> arrow_right_alt </span>
                </a>
            </div>
        </div>
    </div>
</div>