<div class="col-span-1 w-full h-full grid grid-rows-2 gap-y-7">
    <div class="-2 intro-y col-span-1">
        <div class="box p-3 h-full flex items-center justify-start flex-col">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">Skill Levy Summary</h4>
            </div>
            <div class="w-full h-[2px] bg-gray-300 rounded-full"></div>
            <div id="staffing-plan-info" class="w-full h-full"></div>
        </div>
    </div>
    <div class="-2 intro-y col-span-1">
        <div class="box p-3 h-full flex items-center justify-start flex-col">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">Skill Levy Stats</h4>
            </div>
            <div class="w-full h-full flex items-center justify-center">
                <div id="staffing-plan-chart"></div>
            </div>
        </div>
    </div>
</div>