{% extends "../client_app/layout.html" %}
{% block title %}
Certificate Of Service
{% endblock title %}
{% block content %}
{% load static %}
<div class="mt-10 w-[96%] mx-auto h-[80vh]">
    <div class="w-full grid grid-cols-4 h-[75%] gap-7">
        <!-- tab list view for the  -->
        <div class="w-full col-span-4">
            <!-- BEGIN: top action -->
            <div class="col-span-12">
                <div class="intro-y flex items-center justify-between items-end h-[max-content]">
                    {% include 'client_app/components/navigators.html' %}
                    <!-- TITLE CONTENT -->
                    <!-- RIGHT ACTIONS -->
                    {% include "./components/controller.html" %}
                    <!-- RIGHT ACTIONS -->
                </div>
            </div>
            <!-- END: top action -->


            <!-- main content -->
            <div class="main-content-wrapper w-full  h-full">
                <div class="content-group list-view-content w-full  h-full">
                    <div for="certificate of service" class="multi-content-group w-full  h-full">
                        {% include "./components/certificate_of_service/list_view.html" %}
                    </div>
                    <div for="certificate of service temporal employee" class="multi-content-group w-full  h-full">
                        {% include "./components/cs_seasonal_employment/list_view.html" %}
                    </div>
                    
                </div>
                <div class="content-group info-view-content w-full  h-full hidden">
                    <div for="certificate of service" class="multi-content-group w-full  h-full">
                        {% include "./components/certificate_of_service/info_view.html" %}
                    </div>
                    <div for="certificate of service temporal employee" class="multi-content-group w-full  h-full hidden">
                        {% include "./components/cs_seasonal_employment/info_view.html" %}
                    </div>
                    
                </div>
                <div class="content-group new-form-view-content w-full   hidden">
                    <div for="certificate of service" class="multi-content-group w-full">
                        {% include "./components/certificate_of_service/form.html" %}
                    </div>
                    <div for="certificate of service temporal employee" class="multi-content-group w-full hidden">
                        {% include "./components/cs_seasonal_employment/form.html" %}
                    </div>
                    
                </div>
            </div>    
        </div>
    </div>


</div>
{% endblock content %}