{% load static %}
<div class="w-full mt-5 intro-y">
    <div class="box p-3 h-[65vh] overflow-y-auto">
        <form id="new-oc" class="w-full">
            <div class="form-header w-full flex justify-between items-center gap-2">
                <div class="flex items-center justify-start">
                    
                </div>
                <h1 class="form-title font-bold text-[19px] mb-5 text-gray-500"></h1>
            </div>
            <div class="form-fields grid gap-3 gap-x-5"></div>
        </form>
    </div>
</div>