<div class=" page-actions-wrapper flex items-center justify-center ">
    <!-- actions for the list view -->
    <div class="content-group list-view-content flex items-center justify-center">
        <button class="new-action-btn h-[47px] text-16 w-max btn bg-default text-theme_text_color shadow-md mr-2">
            <i data-lucide="plus-circle" class="w-[17px] h-[17px] mr-2"></i>New Overtime
        </button>
    </div>
    <div class="content-group info-view-content new-form-view-content form-content-view info-actions flex items-center justify-center hidden"></div>

</div>