<div class="roles w-full h-full overflow-y-auto pl-3">
    <div class="flex items-center justify-between h-[max-content] mb-3">
        <span class="font-bold flex items-center justify-start h-[20px] mt-2">
            <span class="material-symbols-outlined mr-2 text-17 text-indigo-600"> lock_open </span>
            Additional Permissions
        </span>
        <div class="flex items-center justify-between  mt-2">
            <div class="module-filter"></div>
            <div class="flex items-center justify-center relative permission_search  rounded-md w-[200px] h-[33px] px-1 overflow-shidden">
                <span class="material-symbols-outlined absolute left-2 text-17 text-gray-300"> search</span>
                <input type="text" fieldname="permission-searcher" class="lite-field permission-searcher text-13 min-h-[33px] w-full form-control pl-6 outline-0" placeholder="Search Permission">
            </div>
        </div>
    </div>
    <div class="permission-list w-full grid grid-cols-3 gap-2">
        
    </div>
</div>