{% comment %} <div class="roles w-full border-r border-r-3 h-full overflow-y-auto pr-3">
    <div class="w-full flex items-center justify-between h-[20px] col-span-2 mt-2 mb-3">
        <span class="font-bold flex items-center justify-start">
            <span class="material-symbols-outlined mr-2 text-17 text-emerald-600"> verified_user </span>
            User Roles
        </span>
        <a href="/core/role/?app=core&page=new-form&content_type=Role" class="bg-gray-200 flex items-center justify-center px-2 rounded-md text-13 h-[25px] border border-gray-300 btn">
            <span class="material-symbols-outlined mr-1"> add_circle </span>
            New Role
        </a>
    </div>
    <div class="role-list w-full p-3 grid grid-cols-3 gap-3"></div>
</div> {% endcomment %}