<div class="col-span-1 w-full h-full grid grid-rows-2 gap-y-4">
    <div class="-2 intro-y h-full">
        <div class="box p-3 h-full relative dashboard-content">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">Recent Users</h4>
            </div>
            <div class="my-2 bg-gray-300 w-full h-[3px] rounded-full"></div>
            <div class="w-full recent-users"></div>
        </div>
    </div>

    <div class="-2 intro-y h-full">
        <div class="box p-3 h-full relative dashboard-content">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">Disabled Users</h4>
            </div>
            <div class="my-2 bg-gray-300 w-full h-[3px] rounded-full"></div>
            <div class="w-full grid gap-y-2 grayscale disabled-users"></div>
        </div>
    </div>
</div>