{% load static %}
<div class="w-full h-[70vh] grid grid-cols-3 gap-4 mb-5">
    <div class=" h-full intro-y col-span-3">
        <div class="box p-2 bg-white h-full">
            <h4 class="font-semibold text-slate-600 mb-5 flex items-center justify-start">
                <span class="material-symbols-outlined text-20 text-orange-600 mr-2"> manage_accounts </span>
                User Group Info
            </h4>
            <form id="user-group-info" class="w-full">
                <div class="form-fields grid gap-3 gap-x-5"></div>
            </form>
        </div>
    </div>
</div>
