<div class="-2 w-full h-full intro-y">
    <div class="box w-full h-full p-2 relative">
        <div class="h-full w-full grid grid-rows-2 grid-cols-2 gap-2">
            <div class="bg-slate-200 rounded-md flex justify-center items-center">
                <h3 class="font-semibold capitalize flex justify-center items-center gap-2">
                    <span class="material-symbols-outlined text-[30px] text-pink-600">
                        campaign
                    </span>
                    <span class="text-[13px] relative block">
                        new Vacancies 
                        <span class="absolute -top-2 -right-7 h-[25px] w-[25px] rounded-full bg-pink-500/30 text-pink-500 flex justify-center items-center animate-pulse">0</span>
                    </span>
                    
                </h3>
            </div>
            <div class="bg-slate-200 rounded-md flex justify-center items-center">
                <h3 class="font-semibold capitalize flex justify-center items-center gap-2">
                    <span class="material-symbols-outlined text-[20px] text-yellow-600">
                        folder
                    </span>
                    
                    <span class="text-[13px] relative block">
                        new applications 
                        <span class="absolute -top-2 -right-7 h-[25px] w-[25px] rounded-full bg-yellow-600/30 text-yellow-600 flex justify-center items-center animate-pulse" id="total_job_applications">0</span>
                    </span>
                </h3>
            </div>
            <div class="bg-slate-200 rounded-md flex justify-center items-center">
                <h3 class="font-semibold capitalize flex justify-center items-center gap-2">
                    <span class="material-symbols-outlined text-[20px] text-emerald-600">
                        chat
                    </span>
                    <span class="text-[13px] relative block">
                        new interviews 
                        <span class="absolute -top-2 -right-7 h-[25px] w-[25px] rounded-full bg-emerald-500/30 text-emerald-500 flex justify-center items-center animate-pulse" id="new_interviews">0</span>
                    </span>
                </h3>
            </div>
            <div class="bg-slate-200 rounded-md flex justify-center items-center">
                <h3 class="font-semibold capitalize flex justify-center items-center gap-2">
                    <span class="material-symbols-outlined text-[20px] text-blue-600">
                        diversity_3
                    </span>
                    <span class="text-[13px] relative block">
                        new Offers <span class="absolute -top-2 -right-7 h-[25px] w-[25px] rounded-full bg-blue-500/30 text-blue-500 flex justify-center items-center" id="job_offers">0</span>
                    </span>
                </h3>
            </div>
        </div>
    </div>
</div>