<div class="-2 w-full h-full intro-y employee-retention">
    <div class="box w-full h-full p-2 relative">
        <h3 class="font-semibold text-12 text-gray-700 w-full border-b pb-2">Employee Retention</h3>
        <div class="h-[90%] w-full bg-white">
            <div class="h-full w-full grid grid-cols-7">
                <div class="col-span-5 h-full">
                    <div class="h-full w-full flex justify-center items-center">
                        <div class="w-full"  id="top-grieved-person"></div>
                    </div>
                </div>
                <div class="col-span-2 border-l p-2">
                    <h5 class="text-slate-500 font-semibold text-[13px] border-b">Quarter Stats</h5>
                    <div class="mt-2 h-[93%] w-full flex flex-col gap-4">
                        <div class="h-[30px] flex justify-between items-center">
                            <span class="font-semibold  text-[12px]"> HIRES: </span>
                            <span class="font-semibold  text-[12px] p-2 w-[30px] h-[30px] rounded-full flex justify-center items-center bg-pink-500/20 hires" id="hires">0</span>
                        </div>
                        <div class="h-[30px] flex justify-between items-center">
                            <span class="font-semibold  text-[12px]"> YEAR OLD EMPs: </span>
                            <span class="font-semibold  text-[12px] p-2 w-[30px] h-[30px] rounded-full flex justify-center items-center bg-purple-500/20 one-year" id="a_year">0</span>
                        </div>
                        <div class="h-[30px] flex justify-between items-center">
                            <span class="font-semibold  text-[12px]"> 2YEAR's OLD EMPs: </span>
                            <span class="font-semibold  text-[12px] p-2 w-[30px] h-[30px] rounded-full flex justify-center items-center bg-blue-500/20 two-years" id="two_year">0</span>
                        </div>
                        <div class="h-[30px] flex justify-between items-center">
                            <span class="font-semibold  text-[12px]"> 3+ YEAR's OLD: </span>
                            <span class="font-semibold  text-[12px] p-2 w-[30px] h-[30px] rounded-full flex justify-center items-center bg-emerald-500/20 three-years-old" id="three_year_plus">0</span>
                        </div>
                        <div class="h-[30px] flex justify-between items-center">
                            <span class="font-semibold  text-[12px]"> RESIGNED: </span>
                            <span class="font-semibold  text-[12px] p-2 w-[30px] h-[30px] rounded-full flex justify-center items-center bg-violet-500/20 resigned" id="resigned_employees">0</span>
                        </div>
                        <div class="h-[30px] flex justify-between items-center">
                            <span class="font-semibold  text-[12px]"> TERMINATED: </span>
                            <span class="font-semibold  text-[12px] p-2 w-[30px] h-[30px] rounded-full flex justify-center items-center bg-red-600/20" id="termination">0</span>
                        </div>
                        <div class="h-[30px] flex justify-between items-center">
                            <span class="font-semibold  text-[12px]"> RETIRED: </span>
                            <span class="font-semibold  text-[12px] p-2 w-[30px] h-[30px] rounded-full flex justify-center items-center bg-rose-500/20" id="retired">0</span>
                        </div>
                        <div class="h-[30px] flex justify-between items-center">
                            <span class="font-semibold  text-[12px]"> NEW VACANCIES: </span>
                            <span class="font-semibold  text-[12px] p-2 w-[30px] h-[30px] rounded-full flex justify-center items-center bg-pink-500/20 vacancies" id="vacancies">0</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>