<div class="-2 w-full h-full intro-y overview">
    <div class="box w-full h-full p-2 relative">
        <div class="h-full w-full grid grid-cols-4 gap-2">
            <div class="bg-white border-r flex justify-center items-center flex-col gap-2">
                <div class="row-span-6 flex justify-center items-center">
                    <span class="material-symbols-outlined text-purple-500 text-[40px]">
                        groups
                    </span>
                </div>
                <div class="row-span-6 flex justify-center items-center">
                    <h3 class="font-semibold text-slate-500 text-[14px]"><span id="total_employees">0</span> Employees</h3>
                </div>
            </div>
            <div class="bg-white border-r flex justify-center items-center flex-col gap-2">
                <div class="row-span-6 flex justify-center items-center">
                    <span class="material-symbols-outlined text-blue-500 text-[40px]">
                        group_add
                    </span>
                </div>
                <div class="row-span-6 flex justify-center items-center">
                    <h3 class="font-semibold text-slate-500 text-[14px]"><span id="total_interns">0</span> Interns</h3>
                </div>
            </div>
            <div class="bg-white border-r flex justify-center items-center flex-col gap-2">
                <div class="row-span-6 flex justify-center items-center">
                    <span class="material-symbols-outlined text-purple-500 text-[40px]">
                        diversity_2
                    </span>
                </div>
                <div class="row-span-6 flex justify-center items-center">
                    <h3 class="font-semibold text-slate-500 text-[14px]"><span id="total_temps">0</span> Temps</h3>
                </div>
            </div>
            <div class="bg-white flex justify-center items-center flex-col gap-2">
                <div class="row-span-6 flex justify-center items-center">
                    <span class="material-symbols-outlined text-pink-500 text-[40px]">
                        photo_auto_merge
                    </span>
                </div>
                <div class="row-span-6 flex justify-center items-center">
                    <h3 class="font-semibold text-slate-500 text-[14px]"><span id="total_full_time">0</span> Full Time</h3>
                </div>
            </div>
        </div>
    </div>
</div>