<div class="-2 w-full h-full intro-y overview-stats">
    <div class="box w-full h-full p-2 relative">
        <div class="h-full w-full grid grid-cols-7 gap-2">
            <div class="col-span-2 h-full">
                <div class="h-full w-full">
                    <div class="h-[10%] w-full flex justify-center items-center">
                        <h3 class="text-center font-semibold text-[20px]">Overviews</h3>
                    </div>
                    <div class="h-[90%] w-full">
                        <div class="h-full w-full p-2 flex flex-col gap-7 space-y-4">
                            <div class="flex flex-col justify-center">
                                <h4 class="text-[23px] font-semibold total-vacancies" id="published_job_openings">0</h4>
                                <h4 class="text-[17px] text-slate-500"> Published Vacancies</h4>
                            </div>
                            <div class="flex flex-col justify-center">
                                <h4 class="text-[23px] font-semibold total-applicants">0</h4>
                                <h4 class="text-[17px] text-slate-500"> Candidates</h4>
                            </div>
                            <div class="flex flex-col justify-center">
                                <h4 class="text-[23px] font-semibold" id="total_applicants_selected"></h4>
                                <h4 class="text-[17px] text-slate-500"> Selected Candidates</h4>
                            </div>

                            <div class="flex flex-col justify-center">
                                <h4 class="text-[23px] font-semibold"> 0</h4>
                                <h4 class="text-[17px] text-slate-500"> Hired Candidates</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-span-5 h-full">
                <div class="h-full w-full bg-default/10">
                    <div id="outstanding-Interviews"></div>
                </div>
            </div>
        </div>
    </div>
</div>