<div class=" flex items-end justify-between sm:flex items-end h-[max-content] mb-5">
    {% include 'client_app/components/navigators.html' %}
    <!-- TITLE CONTENT -->
    <!-- RIGHT ACTIONS -->
    <div class=" page-actions-wrapper flex items-center justify-center ">
        <!-- actions for the list view -->
        
        <!-- actions for the form --> 
        <div class="content-group info-view-content new-form-view-content form-content-view info-actions flex items-center justify-center hidden"></div>
    </div>
</div>