{% load static %}
<div class="w-full mt-5 intro-y">
    <div class="box p-3 h-[65vh] overflow-y-auto">
        <form id="sector-info" class="w-full">
            <div class="form-header w-full flex justify-between items-center gap-2">
                <div class="flex items-center justify-start">
                    Status : <span class="bg-indigo-100 text-indigo-900 rounded-md min-w-[80px] font-semibold text-center ml-2 text-13">Draft</span>
                </div>
                <h1 class="payroll-title font-bold text-[15px] flex items-center justify-center mb-5 text-gray-500">
                    <span class="material-symbols-outlined text-20 mr-1 text-orange-400">memory</span>
                    PAYROLL PROCESSOR
                </h1>
            </div>
            <div class="form-fields grid gap-3 gap-x-5"></div>
        </form>
    </div>
</div>