<div class="col-span-1 w-full h-full grid grid-rows-2 gap-y-8">
    
    <div class="-2 intro-y row-span-2">
        <div class="box p-3 h-full flex items-center justify-start flex-col">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">probation</h4>
            </div>
            <div class="w-full h-[2px] bg-gray-300 rounded-full"></div>
            <div class="w-full h-full dashboard-content" id="leave-type-stats">
                <div class="">
                    
                </div>
            </div>
        </div>
    </div>
</div>