<div class="col-span-1 w-full h-full grid grid-rows-2 gap-y-7">
    <div class="-2 intro-y col-span-1">
        <div class="box p-3 h-full flex items-center justify-start flex-col">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">Employee Gender Summary</h4>
            </div>
            <div class="w-full h-full flex items-center justify-center">
                <div id="donut"></div>
            </div>
        </div>
    </div>

    <div class="-2 intro-y col-span-1">
        <div  class="box p-3 h-full flex items-center justify-start flex-col">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600 ">Summary By Designation</h4>
            </div>
            <div class="w-full h-[2px] bg-gray-300 rounded-full"></div>
            <div id="employee-by-designation" class="w-full h-full  ">
                <!-- <div class="w-full h-[40px] flex items-center justify-between">
                    <div class="flex items-center justify-start">
                        <div class="flex ietms-center justify-center relative w-[30px] h-[20px] mr-1">
                            <div class="absolute w-[15px] h-[15px] border-2 border-orange-600 rounded-md rotate-[50deg] mt-1"></div>
                            <div class="absolute w-[15px] h-[15px] border-2 border-indigo-600 rounded-md rotate-[40deg]"></div>
                        </div>
                        <span>Software Development</span>
                    </div>
                    <div class="rounded-full bg-gray-100 font-bold flex items-center justify-center w-[25px] h-[25px]">
                        88
                    </div>
                </div>
                <div class="w-full h-[40px] flex items-center justify-between">
                    <div class="flex items-center justify-start">
                        <div class="flex ietms-center justify-center relative w-[30px] h-[20px] mr-1">
                            <div class="absolute w-[15px] h-[15px] border-2 border-orange-600 rounded-md rotate-[50deg] mt-1"></div>
                            <div class="absolute w-[15px] h-[15px] border-2 border-indigo-600 rounded-md rotate-[40deg]"></div>
                        </div>
                        <span>CRM</span>
                    </div>
                    <div class="rounded-full bg-gray-100 font-bold flex items-center justify-center w-[25px] h-[25px]">
                        12
                    </div>
                </div>
                <div class="w-full h-[40px] flex items-center justify-between">
                    <div class="flex items-center justify-start">
                        <div class="flex ietms-center justify-center relative w-[30px] h-[20px] mr-1">
                            <div class="absolute w-[15px] h-[15px] border-2 border-orange-600 rounded-md rotate-[50deg] mt-1"></div>
                            <div class="absolute w-[15px] h-[15px] border-2 border-indigo-600 rounded-md rotate-[40deg]"></div>
                        </div>
                        <span>UI UX Designing</span>
                    </div>
                    <div class="rounded-full bg-gray-100 font-bold flex items-center justify-center w-[25px] h-[25px]">
                        88
                    </div>
                </div> -->
                <!-- <div class="w-full h-[40px] flex items-center justify-between">
                    <div class="flex items-center justify-start">
                        <div class="flex ietms-center justify-center relative w-[30px] h-[20px] mr-1">
                            <div class="absolute w-[15px] h-[15px] border-2 border-orange-600 rounded-md rotate-[50deg] mt-1"></div>
                            <div class="absolute w-[15px] h-[15px] border-2 border-indigo-600 rounded-md rotate-[40deg]"></div>
                        </div>
                        <span>Procurement</span>
                    </div>
                    <div class="rounded-full bg-gray-100 font-bold flex items-center justify-center w-[25px] h-[25px]">
                        67
                    </div>
                </div>
                <div class="w-full h-[40px] flex items-center justify-between">
                    <div class="flex items-center justify-start">
                        <div class="flex ietms-center justify-center relative w-[30px] h-[20px] mr-1">
                            <div class="absolute w-[15px] h-[15px] border-2 border-orange-600 rounded-md rotate-[50deg] mt-1"></div>
                            <div class="absolute w-[15px] h-[15px] border-2 border-indigo-600 rounded-md rotate-[40deg]"></div>
                        </div>
                        <span>Guards</span>
                    </div>
                    <div class="rounded-full bg-gray-100 font-bold flex items-center justify-center w-[25px] h-[25px]">
                        28
                    </div>
                </div>
                <div class="w-full h-[40px] flex items-center justify-between">
                    <div class="flex items-center justify-start">
                        <div class="flex ietms-center justify-center relative w-[30px] h-[20px] mr-1">
                            <div class="absolute w-[15px] h-[15px] border-2 border-orange-600 rounded-md rotate-[50deg] mt-1"></div>
                            <div class="absolute w-[15px] h-[15px] border-2 border-indigo-600 rounded-md rotate-[40deg]"></div>
                        </div>
                        <span>Cleaners</span>
                    </div>
                    <div class="rounded-full bg-gray-100 font-bold flex items-center justify-center w-[25px] h-[25px]">
                        17
                    </div>
                </div>
                <div class="w-full h-[40px] flex items-center justify-between">
                    <div class="flex items-center justify-start">
                        <div class="flex ietms-center justify-center relative w-[30px] h-[20px] mr-1">
                            <div class="absolute w-[15px] h-[15px] border-2 border-orange-600 rounded-md rotate-[50deg] mt-1"></div>
                            <div class="absolute w-[15px] h-[15px] border-2 border-indigo-600 rounded-md rotate-[40deg]"></div>
                        </div>
                        <span>Ford Drivers</span>
                    </div>
                    <div class="rounded-full bg-gray-100 font-bold flex items-center justify-center w-[25px] h-[25px]">
                        26
                    </div>
                </div> -->
            </div> 
        </div>
    </div>
</div>