<div class="flex items-center justify-end border-t h-[50px] pt-5">
    <button action="prev" class="prev-next-action-btn btn w-[150px] h-[35px] flex items-center justify-center overflow-hidden rounded-md font-semibold bg-gray-200">
        <span class="material-symbols-outlined mr-2 text-17"> keyboard_backspace </span>
        Back
    </button>
    <button action="next" class="prev-next-action-btn btn w-[150px] h-[35px] flex items-center justify-center overflow-hidden rounded-md ml-3 font-semibold bg-default text-theme_text_color">
        Next
        <span class="material-symbols-outlined ml-2 text-17"> arrow_right_alt </span>
    </button>
</div>