<div class="w-full bg-white min-h-[60vh] rounded-md mt-10 p-3 flex items-center justify-between flex-col border border-dotted border-secondary_color">
    <form action="" id="kyc" class="w-full gap-3 h-full">
        <div class=" mb-4 flex items-center justify-between flex-col lg:xl:flex-row border-b pb-2">
            <h4 class="text-14 text-gray-700 mb-5 lg:xl:mb-0">Provide the required info below.</h4>
            <div class="w-max-content grid grid-cols-2 h-[30px] bg-gray-300 rounded-md text-11 overflow-hidden">
                <button as="individual" class="registration-type h-full w-full flex items-center justify-center bg-default text-theme_text_color px-3 border-r rounded">
                    As An Individual
                    <span class="material-symbols-outlined ml-2 text-13"> navigate_next </span>
                </button>
                <button as="organization" class="registration-type h-full w-full flex items-center justify-center bg-gray-200 px-3">
                    As An Organization
                    <span class="material-symbols-outlined ml-2 text-13"> navigate_next </span>
                </button>
            </div>
        </div>
        <div id="kyc-fields-wrapper" class="w-full grid lg:xl:grid-cols-3 gap-3"></div>
    </form>
</div>