<div stage="4" id="license" class="stage-content hidden w-full min-h-[70vh] bg-white intro-y border rounded-md mx-auto p-3 mt-10 border-purple-300 border-dotted">
    <div class="w-full h-full">
        <div class="w-full flex items-center justify-betwen border-b pb-4 flex-col lg:xl:flex-row">
            <h3 class="w-full font-bold mb-3 lg:xl:mb-0">LICENSE AGREEMENT</h3>
            <label for="agree" class="lg:xl:w-[50%] w-full flex items-center lg:xl:pl-2 lg:xl:justify-end my-1 h-[40px] cursor-pointer hover:translate-y-[-2%] transition duration-1000 ">
                <div class="flex items-center justify-start license-agree-text bg-red-600 text-white px-3 rounded-md py-1 mx-2">
                    <input id="license-agreement" group="license-agreement" type="checkbox" class="lite-field package-field text-13 shadow-none form-check-input w-[16px] h-[16px] accent-default">
                    <span class="ml-2 text-12 font-bold ">Agree To License Terms</span>
                </div>
            </label>
        </div>
        <div id="license-content" class="h-[70vh] overflow-y-auto"></div>
    </div>
</div>