<div stage="1" class="lg:xl:w-[80%] w-[95%] mx-auto flex items-center justify-start flex-col mt-5 stage-content">
    <div class="flex items-center justify-center w-full intro-y">
        <div class="lg:xl:text-13 text-10 col-span-3 font-semibold intro-x">Monthly Subscription</div>
        <div class="w-[100px] col-span-2 lg:xl:h-[40px] h-[30px] mx-5 intro-x rounded-full bg-gray-300 border border-secondary_color relative px-1">
            <div freq="1" class="rounded-full mt-[2px] ml-0 transition duration-1000 w-[48px] lg:xl:h-[34px] h-[25px] bg-default cursor-pointer freq-toggler"></div>
        </div>
        <div class="lg:xl:text-13 text-10 col-span-3 font-semibold intro-x">Annual <span class="mx-1 text-23 font-bold annual-discount">0</span>% Discount</div>
    </div>

    <div class="w-full mx-auto min-h-[500px] grid lg:xl:grid-cols-3 lg:xl:gap-3 gap-y-5 module-group-wrapper mt-10"></div>
</div>
