<div class="w-full h-full col-span-2 rounded-md relative">
    <div class="package-list w-full h-full grid grid-cols-2 grid-rows-2 gap-4 text-13 relative dashboard-content"></div>






    <!-- <div class="w-full flex items-center justify-center absolute bottom-[-12px]">
        <button class="rounded-full bg-default text-theme_text_color w-[28px] h-[28px] mx-2 border border-indigo-700 shadow-md">1</button>
        <button class="rounded-full bg-gray-200 text-gray-900 w-[28px] h-[28px] mx-2 border border-gray-500 shadow-md">2</button>
        <button class="rounded-full bg-gray-200 text-gray-900 w-[28px] h-[28px] mx-2 border border-gray-500 shadow-md">3</button>
    </div> -->
</div>