
<div id="steps-wrapper" class="w-full grid grid-cols-5 h-[40px] rounded-md overflow-hidden font-semibold intro-y">
    <div step="1" class="step transition duration-1000 w-[105%] h-full flex items-center justify-center text-white bg-default setp-shape-forward">
        <span class="flex items-center icon-wrapper justify-center bg-white text-default rounded-full w-[20px] h-[20px] text-12">
            <span class="material-symbols-outlined"> webhook </span>
        </span>
        <span class="text-11 ml-2 hidden lg:xl:block">Module Selection</span>
    </div>
    <div step="2" class="step transition duration-1000 w-[105%] h-full flex items-center justify-center setp-shape-both bg-gray-300">
        <span class="flex items-center icon-wrapper justify-center bg-default text-theme_text_color rounded-full w-[20px] h-[20px] text-12"> 
            <span class="material-symbols-outlined"> calculate</span>
        </span>
        <span class="text-11 ml-2 hidden lg:xl:block">Totals</span>
    </div>
    <div step="3" class="step transition duration-1000 w-[105%] h-full flex items-center justify-center setp-shape-both bg-gray-300">
        <span class="flex items-center icon-wrapper justify-center bg-default text-theme_text_color rounded-full w-[20px] h-[20px] text-12"> 
            <span class="material-symbols-outlined"> description</span>
        </span>
        <span class="text-11 ml-2 hidden lg:xl:block">KYC</span>
    </div>
    <div step="4" class="step transition duration-1000 w-[105%] h-full flex items-center justify-center setp-shape-both bg-gray-300">
        <span class="flex items-center icon-wrapper justify-center bg-default text-theme_text_color rounded-full w-[20px] h-[20px] text-12"> 
            <span class="material-symbols-outlined"> license</span>
        </span>
        <span class="text-11 ml-2 hidden lg:xl:block">License Agreement</span>
    </div>
    <div step="5" class="step transition duration-1000 w-[105%] h-full flex items-center justify-center setp-shape-backward bg-gray-300 rounded-r">
        <span class="flex items-center icon-wrapper justify-center bg-default text-theme_text_color rounded-full w-[20px] h-[20px] text-12"> 
            <span class="material-symbols-outlined"> check</span>
        </span>
        <span class="text-11 ml-2 hidden lg:xl:block">Completion</span>
    </div>
</div>
