<div class="-2 w-full h-full intro-y">
    <div class="box w-full h-full p-2 flex items-center justify-start flex-col relative dashboard-content">
        <div class="w-full flex items-center justify-between mb-5">
            <span class="font-bold w-full ">Appraisal Summary</span>
        </div>
        <div class="w-[110px] h-[110px] rounded-full border-indigo-500 border-4 flex items-center justify-center flex-col">
            <h2 id="total" class="font-bold text-23 total-overall-appraisals">0</h2>
            <span class="mt-2 text-13 font-semibold">Total</span>
        </div>
        <div class="w-full h-1 border-gray border rounded-full my-3"></div>
        <div class="w-full flex items-center justify-between h-[60px] border rounded-md mb-3 px-1">
            <div class="flex items-center justify-start">
                <div class="flex items-center justify-center  w-[30px] h-[30px] rounded-full bg-orange-100 mr-2">
                    <span class="material-symbols-outlined text-18 text-orange-900"> calendar_clock </span>
                </div>
                <div class="flex items-start justify-center flex-col">
                    <h6>Self Appraisal</h6>
                    <small id="self_appraisal" class="flex items-center justify-center font-semibold text-11"> <span class="self_appraisal-score mr-1">0</span> </small>
                </div>
            </div>
            <a href="/app/hr/appraisal_setup/?app=appraisal_setup&page=new-form&content_type=appraisal%20setup" class="flex items-center justify-center">
                <span class="material-symbols-outlined text-18"> arrow_right_alt </span>
            </a>
        </div>
        <!-- <div class="w-full flex items-center justify-between h-[60px] border rounded-md mb-3 px-1">
            <div class="flex items-center justify-start">
                <div class="flex items-center justify-center  w-[30px] h-[30px] rounded-full bg-red-100 mr-2">
                    <span class="material-symbols-outlined text-18 text-red-900"> event </span>
                </div>
                <div class="flex items-start justify-center flex-col">
                    <h6>Appraisal 360</h6>
                    <small id="appraisal-360" class="flex items-center justify-center font-semibold text-11 "><span class="score-appraisal-360 mr-1">0</span> </small>
                </div>
            </div>
            <a href="/app/hr/appraisal_setup/?app=appraisal_setup&page=new-form&content_type=appraisal%20setup" class="flex items-center justify-center">
                <span class="material-symbols-outlined text-18"> arrow_right_alt </span>
            </a>
        </div> -->
        <div class="w-full flex items-center justify-between h-[60px] border rounded-md mb-3 px-1">
            <div class="flex items-center justify-start">
                <div class="flex items-center justify-center  w-[30px] h-[30px] rounded-full bg-blue-100 mr-2">
                    <span class="material-symbols-outlined text-18 text-blue-900"> event_available </span>
                </div>
                <div class="flex items-start justify-center flex-col">
                    <h6>New Appraisal</h6>
                </div>
            </div>
            <a href="/app/hr/appraisal_setup/?app=appraisal_setup&page=new-form&content_type=appraisal%20setup" class="flex items-center justify-center">
                <span class="material-symbols-outlined text-18"> arrow_right_alt </span>
            </a>
        </div>
    </div>
</div>