<div class="h-full w-full">
    <div class="-2 w-full h-full intro-y">
        <div class="box w-full h-full p-2 relative">
            <div class="flex items-center justify-between w-full h-[10%] border-b">
                <span class="font-bold w-full mb-3">Performance By Gender</span>
            </div>
            <div class="flex items-center justify-center h-full w-full peformance-by-gender">
                <div id="peformance-by-gender"></div>
            </div>
        </div>
    </div>
</div>