<div class="w-full h-full">
    <div class="-2 row-span-2 w-full h-full intro-y">
        <div class="box w-full h-full p-3">
            <div class="h-full w-full relative">
                <div class="flex items-center justify-between w-full">
                    <span class="font-bold w-full mb-3">Top Employee Performance and Attendance</span>
                    <button class="flex items-center justify-start min-w-[120px]">
                        View More
                        <span class="material-symbols-outlined text-18 ml-3">
                            arrow_right_alt
                        </span>
                    </button>
                </div>
                <div class="w-full h-[90%] grid grid-cols-2 gap-4">
                    <div class="col-span-1">
                        <div class="w-full h-full">
                            <div class="grid grid-cols-3 w-full h-[30px] bg-gray-100 text-11 rounded-t rounded-md mt-2">
                                <span class="flex items-center justify-start col-span-2">
                                    <span class="material-symbols-outlined mr-1 text-orange-600">person</span>
                                    Employee
                                </span>
                                <span class="flex items-center justify-start col-span-1">
                                    <span class="material-symbols-outlined mr-1 text-indigo-600">signature</span>
                                    Task Completion Rate
                                </span>
                            </div>
                            <div class="w-full h-[90%] overflow-y-auto top_performing" id="top-performing-employees"></div>
                        </div>
                    </div>
                    <div class="col-span-1">
                        <div class="w-full h-full">
                            <div class="grid grid-cols-3 w-full h-[30px] bg-gray-100 text-11 rounded-t rounded-md mt-2">
                                <span class="flex items-center justify-start col-span-2">
                                    <span class="material-symbols-outlined mr-1 text-orange-600">person</span>
                                    Employee
                                </span>
                                <span class="flex items-center justify-start col-span-1">
                                    <span class="material-symbols-outlined mr-1 text-emerald-600">event</span>
                                    Attendance
                                </span>
                            </div>
                            <div class="w-full h-[90%] overflow-y-auto top_performing" id="employee-performance"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>