<div class="-2 w-full h-full intro-x">
    <div class="box w-full h-full p-3 grid grid-cols-2 gap-3">

        <a href="/app/hr/work_plan/?loc=work_plan&type=list&document=work%20plan" class="w-full h-full hover:scale-[1.1] hover:shadow-md transition duration-1000 gover:z-2 bg-green-100 rounded-md flex items-center justify-center flex-col relative dashboard-content">
            <h3 class="text-green-900 font-bold text-[25px] total-tasks">0</h3>
            <small class="text-gray-500">Total Tasks</small>
        </a>
        <a  href="/app/hr/work_plan/?loc=work_plan&type=list&document=work%20plan" class="w-full h-full hover:scale-[1.1] hover:shadow-md transition duration-1000 gover:z-2 bg-red-100 rounded-md flex items-center justify-center flex-col relative dashboard-content">
            <h3 class="text-red-800 font-bold text-[25px] task-in-progress">0</h3>
            <small class="text-gray-500">Tasks In Progress</small>
        </a>
        <a  href="/app/hr/work_plan/?loc=work_plan&type=list&document=work%20plan" class="w-full h-full hover:scale-[1.1] hover:shadow-md transition duration-1000 gover:z-2 bg-slate-100 rounded-md flex items-center justify-center flex-col relative dashboard-content">
            <h3 class="text-red-800 font-bold text-[25px] completed-tasks">0</h3>
            <small class="text-gray-500">Completed Taks</small>
        </a>
        <a  href="/app/hr/work_plan/?loc=work_plan&type=list&document=work%20plan" class="w-full h-full hover:scale-[1.1] hover:shadow-md transition duration-1000 gover:z-2 bg-purple-100 rounded-md flex items-center justify-center flex-col relative dashboard-content">
            <h3 class="text-purple-900 font-bold text-[25px] pending-tasks">0</h3>
            <small class="text-gray-500">Pending tasks</small>
        </a>
    </div>
</div>