<div class="top-stats w-full h-full grid grid-cols-4 mobile-grid-2 gap-5">
    <div class="w-full h-full intro-y col-span-2">
        <div class="box w-full h-full flex flex-wrap justify-around items-center p-6 rounded-2xl bg-default/10 to-white gap-6">
          
          <!-- Total Leave Applications -->
          <div class="flex flex-col items-center justify-center gap-y-2 text-center">
            <span class="bg-indigo-100 h-12 w-12 rounded-full text-indigo-600 flex justify-center items-center text-3xl shadow">
              <span class="material-symbols-outlined">fact_check</span>
            </span>
            <h2 class="text-xl font-semibold text-default" id="total_application"></h2>
            <p class="text-sm text-gray-500">Total Applications</p>
          </div>
          <div class="flex flex-col items-center justify-center gap-y-2 text-center">
            <span class="bg-yellow-100 h-12 w-12 rounded-full text-yellow-600 flex justify-center items-center text-3xl shadow">
              <span class="material-symbols-outlined">hourglass_top</span>
            </span>
            <h2 class="text-xl font-semibold text-default" id="pending_approval"></h2>
            <p class="text-sm text-gray-500">Pending Approval</p>
          </div>
          <div class="flex flex-col items-center justify-center gap-y-2 text-center">
            <span class="bg-green-100 h-12 w-12 rounded-full text-green-600 flex justify-center items-center text-3xl shadow">
              <span class="material-symbols-outlined">task_alt</span>
            </span>
            <h2 class="text-xl font-semibold text-default" id="approved"></h2>
            <p class="text-sm text-gray-500">Approved</p>
          </div>
          <div class="flex flex-col items-center justify-center gap-y-2 text-center">
            <span class="bg-green-100 h-12 w-12 rounded-full text-green-600 flex justify-center items-center text-3xl shadow">
              <span class="material-symbols-outlined">task_alt</span>
            </span>
            <h2 class="text-xl font-semibold text-default" id="rejected"></h2>
            <p class="text-sm text-gray-500">Rejected</p>
          </div>
         
        </div>
      </div>
      
    <div class=" w-full h-full intro-y col-span-2">
        <div class="box w-full h-full flex flex-col p-3 relative dashboard-content">
            <div class="flex flex-col gap-y-2 text-center" id="employees_on_leave_by_department">
                
            </div>    
        </div>
    </div>
</div>