{% load static %}
<div class="col-span-1 w-full h-full grid grid-rows-2 gap-y-8">
    <div class="-2 intro-y h-full">
        <div  class="box p-3 h-full">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">Recent Imprest Requests</h4>
            </div>
            <div class="my-2 bg-gray-300 w-full h-[3px] rounded-full"></div>
            <div id="stafff-imprest" class="w-full h-full">
               <!-- <div class="w-full h-[45px] flex items-center justify-between border-b">
                    <div class="flex items-center justify-start">
                        <div class="flex items-ceenter justify-center mr-3">
                            <span class="material-symbols-outlined text-default text-17"> check_circle </span>
                        </div>
                        <div class="text-gray-700">Gresham Sichonda</div>
                    </div>
                    <div class="flex flex-col items-end justify-center">
                        <span class="font-semibold text-12">
                            <span class="material-symbols-outlined text-13 mr-1"> calendar_month </span>
                            1st Jan, 2024
                        </span>
                        <small class="text-orange-500 text-10">Promoted</small>
                    </div>
               </div> -->
               <!-- <div class="w-full h-[45px] flex items-center justify-between border-b">
                    <div class="flex items-center justify-start">
                        <div class="flex items-ceenter justify-center mr-3">
                            <span class="material-symbols-outlined text-default text-17"> check_circle </span>
                        </div>
                        <div class="text-gray-700">Bruce Chikola</div>
                    </div>
                    <div class="flex flex-col items-end justify-center">
                        <span class="font-semibold text-12">
                            <span class="material-symbols-outlined text-13 mr-1"> calendar_month </span>
                            1st Jan, 2024
                        </span>
                        <small class="text-orange-500 text-10">Promoted</small>
                    </div>
               </div> -->
               <!-- <div class="w-full h-[45px] flex items-center justify-between border-b">
                    <div class="flex items-center justify-start">
                        <div class="flex items-ceenter justify-center mr-3">
                            <span class="material-symbols-outlined text-default text-17"> check_circle </span>
                        </div>
                        <div class="text-gray-700">Gresham Sichonda</div>
                    </div>
                    <div class="flex flex-col items-end justify-center">
                        <span class="font-semibold text-12">
                            <span class="material-symbols-outlined text-13 mr-1"> calendar_month </span>
                            1st Jan, 2024
                        </span>
                        <small class="text-orange-500 text-10">Promoted</small>
                    </div>
               </div> -->
               <!-- <div class="w-full h-[45px] flex items-center justify-between border-b">
                    <div class="flex items-center justify-start">
                        <div class="flex items-ceenter justify-center mr-3">
                            <span class="material-symbols-outlined text-default text-17"> check_circle </span>
                        </div>
                        <div class="text-gray-700">Bright Kunda</div>
                    </div>
                    <div cl{% load static %}ass="flex flex-col items-end justify-center">
                        <span class="font-semibold text-12">
                            <span class="material-symbols-outlined text-13 mr-1"> calendar_month </span>
                            1st Jan, 2024
                        </span>
                        <small class="text-orange-500 text-10">Promoted</small>
                    </div>
               </div> -->
               <!-- <div class="w-full h-[45px] flex items-center justify-between border-b">
                    <div class="flex items-center justify-start">
                        <div class="flex items-ceenter justify-center mr-3">
                            <span class="material-symbols-outlined text-default text-17"> check_circle </span>
                        </div>
                        <div class="text-gray-700">Kakuhu Kabwe</div>
                    </div>
                    <div class="flex flex-col items-end justify-center">
                        <span class="font-semibold text-12">
                            <span class="material-symbols-outlined text-13 mr-1"> calendar_month </span>
                            1st Jan, 2024
                        </span>
                        <small class="text-orange-500 text-10">Promoted</small>
                    </div>
               </div> -->
               <!-- <div class="w-full h-[45px] flex items-center justify-between border-b">
                    <div class="flex items-center justify-start">
                        <div class="flex items-ceenter justify-center mr-3">
                            <span class="material-symbols-outlined text-default text-17"> check_circle </span>
                        </div>
                        <div class="text-gray-700">Aaron Mubanga</div>
                    </div>
                    <div class="flex flex-col items-end justify-center">
                        <span class="font-semibold text-12">
                            <span class="material-symbols-outlined text-13 mr-1"> calendar_month </span>
                            1st Jan, 2024
                        </span>
                        <small class="text-orange-500 text-10">Promoted</small>
                    </div>
               </div> -->
            </div>
          
         
        </div>
    </div>
    <div class="-2 intro-y h-full">
        <div class="box p-3 h-full">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">Stats</h4>
            </div>
            <div class="my-2 bg-gray-300 w-full h-[3px] rounded-full"></div>
            <div id="staff-imprest-stats"  class="w-full h-full px-10">
<!--                 
                <div class="w-full h-[45px] flex items-center justify-between">
                    <div class="flex items-center justify-start">
                        <div class="flex items-ceenter justify-center mr-3">
                            <span class="material-symbols-outlined text-orange-700 text-20">mail</span>
                        </div>
                        <div class="text-gray-700">Promotions In Draft</div>
                    </div>
                    <div class="flex flex-col items-center justify-center w-[20px] h-[20px] rounded-full bg-gray-100 text-12">
                        88
                    </div>
               </div>
                <div class="w-full h-[45px] flex items-center justify-between">
                    <div class="flex items-center justify-start">
                        <div class="flex items-ceenter justify-center mr-3">
                            <span class="material-symbols-outlined text-blue-700 text-20">task_alt</span>
                        </div>
                        <div class="text-gray-700">Approved Promotions</div>
                    </div>
                    <div class="flex flex-col items-center justify-center w-[20px] h-[20px] rounded-full bg-gray-100 text-12">
                        15
                    </div>
               </div>
                <div class="w-full h-[45px] flex items-center justify-between">
                    <div class="flex items-center justify-start">
                        <div class="flex items-ceenter justify-center mr-3">
                            <span class="material-symbols-outlined text-red-800 text-20">block</span>
                        </div>
                        <div class="text-gray-700">Rejected Promotions</div>
                    </div>
                    <div class="flex flex-col items-center justify-center w-[20px] h-[20px] rounded-full bg-gray-100 text-12">
                        27
                    </div>
               </div>
                <div class="w-full h-[45px] flex items-center justify-between">
                    <div class="flex items-center justify-start">
                        <div class="flex items-ceenter justify-center mr-3">
                            <span class="material-symbols-outlined text-emerald-700 text-20">chronic</span>
                        </div>
                        <div class="text-gray-700">Promotions In Transit</div>
                    </div>
                    <div class="flex flex-col items-center justify-center w-[20px] h-[20px] rounded-full bg-gray-100 text-12">
                        10
                    </div>
               </div> -->
            </div>
        </div>
    </div>
</div>





























<!-- {% load static %}
<div class="w-full">
    <div class="-2 intro-y">
        <div class="box p-3">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">Quotation Summary Info</h4>
                
            </div>
            <div class="my-5 bg-gray-300 w-full h-[3px] rounded-full"></div>
            <div class="w-full my-8 flex items-center justify-between">
                <div class="flex flex-col">
                    <span class="font-semibold flex items-center justify-start">
                        <span class="material-symbols-outlined text-[14px] mr-1 text-orange-600">
                            draft_orders
                        </span>
                        In Draft
                    </span>
                    <small class="text-slate-500 ml-5 w-[90%]">
                        Total quotations currently in draft
                    </small>
                </div>
                <div class="rounded-full bg-gray-200 w-[30px] h-[30px] flex items-center justify-center text-[12px]">
                    0
                </div>
            </div>
            <div class="w-full my-8 flex items-center justify-between">
                <div class="flex flex-col">
                    <span class="font-semibold flex items-center justify-start">
                        <span class="material-symbols-outlined text-[14px] mr-1 text-red-400">
                            add_card
                        </span>
                        Total Submitted
                    </span>

                    <small class="text-slate-500 ml-5 w-[90%]">Total quotations not billed</small>
                </div>
                <div class="rounded-full bg-gray-200 w-[30px] h-[30px] flex items-center justify-center text-[12px]">
                    0
                </div>
            </div>
            <div class="w-full my-8 flex items-center justify-between">
                <div class="flex flex-col">
                    <span class="font-semibold flex items-center justify-start">
                        <span class="material-symbols-outlined text-[15px] mr-1 text-default">
                            price_check
                        </span>
                        Total Reversed
                    </span>
                    <small class="text-slate-500 ml-5 w-[90%%]">Total quotations billed</small>
                </div>
                <div class="rounded-full bg-gray-200 w-[30px] h-[30px] flex items-center justify-center text-[12px]">
                    0
                </div>
            </div>
        </div>
    </div>

    <div class="-2 intro-y mt-6">
        <div class="box p-3">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">Summary Info</h4>
                

            </div>
            <div class="my-5 bg-gray-300 w-full h-[3px] rounded-full"></div>
            <small class="text-blue-700 font-semibold">From 13th Aug, 2023 to 7th Aug, 2023</small>
            <div class="flex items-center justify-between my-10">
                <div class="flex items-center justify-start">
                    <i data-lucide="activity" class="w-[17px] h-[17px] mr-2 text-red-600"></i>
                    For Customers
                </div>
                <div class="text-gray-700 font-semibold text-[12px]">ZMW 0.00</div>
            </div>
            <div class="flex items-center justify-between my-10">
                <div class="flex items-center justify-start">
                    <i data-lucide="bar-chart-2" class="w-[17px] h-[17px] mr-2 text-default"></i>
                    Suppliers
                </div>
                <div class="text-gray-700 font-semibold text-[12px]">ZMW 0.00</div>
            </div>
            <div class="flex items-center justify-between my-10">
                <div class="flex items-center justify-start">
                    <i data-lucide="calendar" class="w-[17px] h-[17px] mr-2"></i>
                    For Bank
                </div>
                <div class="font-semibold text-[12px] text-red-700">ZMW 0.00</div>
            </div>
        </div>
    </div>
</div> -->