<div class="col-span-1 w-full h-full grid grid-rows-2 gap-y-8">
    <div class="-2 intro-y h-full">
        <div class="box p-3 h-full">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">Department Info</h4>
            </div>
            <div class="my-2 bg-gray-300 w-full h-[3px] rounded-full"></div>
            <div class="col-span-3 w-full h-full grid grid-cols-3 grid-rows-2">
                <div class="border border-b-none w-full h-full p-3 bgs-indigo-50">
                    <div class="flex items-center justify-start">
                        <div class="w-[10px] h-[10px] rounded-full bg-indigo-700 mr-2">
                        </div>
                        <span class="">Development</span>
                    </div>
                    <small class="ml-4 text-gray-700">14 Employees</small>
                </div>
                <div class="border  border-b-none w-full h-full p-3 bgs-orange-50">
                    <div class="flex items-center justify-start">
                        <div class="w-[10px] h-[10px] rounded-full bg-orange-600 mr-2">
                        </div>
                        <span class="">CRM</span>
                    </div>
                    <small class="ml-4 text-gray-700">18 Employees</small>
                </div>
                <div class="border  border-b-none w-full h-full p-3 bgs-emerald-50">
                    <div class="flex items-center justify-start">
                        <div class="w-[10px] h-[10px] rounded-full bg-emerald-700 mr-2">
                        </div>
                        <span class="">Project Management</span>
                    </div>
                    <small class="ml-4 text-gray-700">55 Employees</small>
                </div>
                <div class="border w-full h-full p-3 bgs-purple-50">
                    <div class="flex items-center justify-start">
                        <div class="w-[10px] h-[10px] rounded-full bg-purple-600 mr-2">
                        </div>
                        <span class="">Administration</span>
                    </div>
                    <small class="ml-4 text-gray-700">28 Employees</small>
                </div>
                <div class="border w-full h-full p-3">
                    <div class="flex items-center justify-start">
                        <div class="w-[10px] h-[10px] rounded-full bg-[#f683ae] mr-2">
                        </div>
                        <span class="">Tech Support</span>
                    </div>
                    <small class="ml-4 text-gray-700">100 Employees</small>
                </div>
                <div class="border w-full h-full p-3 bgs-[#F6EAF5]">
                    <div class="flex items-center justify-start">
                        <div class="w-[10px] h-[10px] rounded-full bg-[#F175E8] mr-2">
                        </div>
                        <span class="">Drivers</span>
                    </div>
                    <small class="ml-4 text-gray-700">14 Employees</small>
                </div>
            </div>      </div>
    </div>
    <div class="-2 intro-y h-full">
        <div class="box p-3 h-full">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">More Configurations</h4>
            </div>
            <div class="my-2 bg-gray-300 w-full h-[3px] rounded-full"></div>
           
            <div class="my-2 bg-gray-300 w-full h-[1px] rounded-full"></div>
            <div class="w-full h-full relative flex items-center justify-center">
                <div
                    class="w-[140px] h-[140px] rounded-full border-indigo-700 border-b-indigo-900 border-l-blue-700 border-r-indigo-400 border-[7px]  flex items-center justify-center flex-col">
                    <h2 class="font-bold text-27"> 6</h2>
                    <span class="mt-2 text-13 font-semibold">Total Departments</span>
                </div>
            </div>
        </div>
    </div>
</div>