<div class="title-content-wrapper h-[80%] bg-white/40 p-4 rounded-[3rem]">
    <div class="h-full flex items-center justify-center info-view-wrapper flex-cols">
        <h3 class="mr-5 font-bold text-14 text-default flex items-center justify-start">
            <span class="span module-name-title mr-1 flex items-center justify-start"></span>
            <span class="app-name-title cursor-pointer hover:text-default mr-1 flex items-center justify-start"></span>
            <span class="content-type-title text-17 cursor-pointer hover:text-default mr-1 flex items-center justify-start"></span> || 
            <span class="doc-name-title flex items-center justify-start"></span>
        </h3>
        <div class="doc-status-wrapper px-3 flex items-center justify-center min-w-[110px] h-[30px] rounded-md bg-red-100 text-orange-800">
            <div class="w-[8px] doc-status-pill h-[8px] rounded-full mr-1 bg-orange-800"></div>
            <span class="doc-status-text text-14"></span>
        </div>
    </div>
</div>