<div class="w-full h-full grid grid-rows-2 gap-y-4">
    <div class="-2 w-full h-full intro-y">
        <div class="box w-full h-full p-2  dashboard-content relative">
            <div class="w-full flex items-center justify-between mb-5">
                <span class="font-bold w-full ">Employee Grievance</span>
                <a href="/app/hr/employee_grievance/?loc=employee_grievance&type=list&document=employee%20grievance" class="flex items-center justify-center w-[max-content]">
                    More
                    <span class="material-symbols-outlined text-17 ml-1">
                        arrow_right_alt
                    </span>
                </a>
            </div>
            <div class="w-full h-[80%] flex items-center justify-center flex-col">
                <span class="material-symbols-outlined text-[60px] text-indigo-900"> sentiment_dissatisfied </span>
                <div class="text-13 w-full font-bold mt-4 text-gray-700 flex items-center justify-around">
                    <div class="flex items-center w-full justify-center text-orange-800">
                        <span class="open-grievance-cases mr-2">0</span> Open
                    </div>
                    <div class="flex items-center w-full justify-center text-default border-l">
                        <span class="closed-grievance-cases mr-2">0</span> Closed
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="-2 w-full h-full intro-y">
        <div class="box w-full h-full p-2  dashboard-content relative">
            <div class="w-full flex items-center justify-between mb-5">
                <span class="font-bold w-full ">Employee Disciplinary</span>
                <a href="/app/hr/employee_disciplinary/?loc=employee_disciplinary&type=info&document=employee%20disciplinary&doc=1" class="flex items-center justify-center w-[max-content]">
                    More
                    <span class="material-symbols-outlined text-17 ml-1">
                        arrow_right_alt
                    </span>
                </a>
            </div>
            <div class="w-full h-[80%] flex items-center justify-center flex-col">
                <span class="material-symbols-outlined text-[60px] text-teal-900"> gavel </span>
                <div class="text-13 w-full font-bold mt-4 text-gray-700 flex items-center justify-around">
                    <div class="flex items-center w-full justify-center text-orange-800">
                        <span class="open-disciplinary-cases mr-2">0</span> Open
                    </div>
                    <div class="flex items-center w-full justify-center text-default border-l">
                        <span class="closed-disciplinary-cases mr-2">0</span> Closed
                    </div>
                </div>
                
            </div>
        </div>
    </div>

</div>
 


































