<div class="box w-full h-full p-3 gap-3">
    <h3 class="font-semibold text-gray-700 w-full pb-2">Employee Summary By Type</h3>
    <div class="w-full flex items-center justify-between h-[60px]">
        <div class="flex items-center justify-start">
            <div class="flex items-center justify-center  w-[40px] h-[40px] rounded-md bg-blue-100 mr-2">
                <span class="material-symbols-outlined text-23 text-blue-900 .material-symbols-outlined-hidden">
                    diversity_2
                </span>
            </div>
            <h6>On Internship</h6>
        </div>
        <div class="flex items-center justify-center font-bold">0</div>
    </div>
    <div class="w-full flex items-center justify-between h-[60px]">
        <div class="flex items-center justify-start">
            <div class="flex items-center justify-center  w-[40px] h-[40px] rounded-md bg-orange-100 mr-2">
                <span class="material-symbols-outlined text-23 text-orange-900 .material-symbols-outlined-hidden">
                    contract_edit
                </span>
            </div>
            <h6>On Contract</h6>
        </div>
        <div class="flex items-center justify-center font-bold">0</div>
    </div>
    <div class="w-full flex items-center justify-between h-[60px]">
        <div class="flex items-center justify-start">
            <div class="flex items-center justify-center  w-[40px] h-[40px] rounded-md bg-emerald-100 mr-2">
                <span class="material-symbols-outlined text-23 text-emerald-900 .material-symbols-outlined-hidden">
                    business_center
                </span>
            </div>
            <h6>Permanent</h6>
        </div>
        <div class="flex items-center justify-center font-bold">3</div>
    </div>
    <div class="w-full flex items-center justify-between h-[60px]">
        <div class="flex items-center justify-start">
            <div class="flex items-center justify-center  w-[40px] h-[40px] rounded-md bg-indigo-100 mr-2">
                <span class="material-symbols-outlined text-23 text-indigo-900 .material-symbols-outlined-hidden">
                    draw_abstract
                </span>
            </div>
            <h6>On Consultancy</h6>
        </div>
        <div class="flex items-center justify-center font-bold">0</div>
    </div>
    <div class="w-full flex items-center justify-between h-[60px]">
        <div class="flex items-center justify-start">
            <div class="flex items-center justify-center  w-[40px] h-[40px] rounded-md bg-teal-100 mr-2">
                <span class="material-symbols-outlined text-23 text-teal-900 .material-symbols-outlined-hidden">
                    work_history
                </span>
            </div>
            <h6>On Part Time</h6>
        </div>
        <div class="flex items-center justify-center font-bold">0</div>
    </div>
</div>