<div class="-2 w-full h-full intro-y">
    <div class="box w-full h-full p-3 grid grid-cols-3 relative dashboard-content">
        <div class="w-full flex items-center justify-center flex-col border-r ">
            <h1 class="font-bold text-30 active-employees">0</h1>
            <span class="text-13 mt-3">Active Employees</span>
            <span class="material-symbols-outlined text-16 text-gray-400 mt-1">
                badge
            </span>
        </div>
        <div class="w-full flex items-center justify-center flex-col border-r">
            <h1 class="font-bold text-30 employees-on-leave">0</h1>
            <span class="text-13 mt-3">Employees On Leave</span>
            <span class="material-symbols-outlined text-16 text-gray-400 mt-1">
                event_busy
            </span>
        </div>
        <div class="w-full flex items-center justify-center flex-col">
            <h1 class="font-bold text-30 text-orange-700 resigned-employees">0</h1>
            <span class="text-13 mt-3 text-orange-700">Resigned/Left Employees</span>
            <span
                class="material-symbols-outlined text-16 text-gray-400 mt-1 text-orange-700">
                logout
            </span>
        </div>
    </div>
</div>