<div class="-2 w-full h-full intro-y  col-span-2">
    <div class="box w-full h-full p-2 flex items-center justify-start flex-col relative dashboard-content">
        <div class="flex items-center justify-between w-full">
            <span class="font-bold w-full mb-3 text-12">Employee Demographics</span>
        </div>
        <div class="w-full h-full grid grid-cols-4 gap-x-4">
            <div class="w-full h-full relative flex items-center justify-center">
                <div class="w-[130px] h-[130px] rounded-full border-indigo-700 border-b-indigo-900 border-l-blue-700 border-r-indigo-400 border-[7px]  flex items-center justify-center flex-col">
                    <h2 class="font-bold text-27 total-employees">0</h2>
                    <span class="mt-2 text-13 font-semibold">Total Employees</span>
                </div>
            </div>
            <div class="col-span-3 w-full h-full grid grid-cols-3 grid-rows-3 employees-by-designation"></div>
        </div>
    </div>
</div>
    
