<div class="-2 w-full intro-x">
    <div class="box w-full h-full p-3 dashboard-content relative">
        <h3 class="font-semibold text-12 text-gray-700 w-full border-b pb-2">Quick Links</h3>
        <a href="/app/hr/designation/?loc=designation&type=list&document=designation"
            class="w-full flex items-center justify-start h-[40px] hover:text-blue-700 transition duration-100 hover:translate-x-[-3%]">
            <span class="material-symbols-outlined text-[14px] mr-1 text-warning">
                chart_data
            </span>
            Designation
        </a>
        <a href="/app/hr/department/?loc=department&type=list&document=department"
            class="w-full flex items-center justify-start h-[40px] hover:text-blue-700 transition duration-100 hover:translate-x-[-3%]">
            <span class="material-symbols-outlined text-[14px] mr-1 text-success">
                stacked_line_chart
            </span>
            Department
        </a>
        <a href="/app/hr/employee/?loc=employee&type=list&document=employee"
            class="w-full flex items-center justify-start h-[40px] hover:text-blue-700 transition duration-100 hover:translate-x-[-3%]">
            <span class="material-symbols-outlined text-[14px] mr-1 text-danger">
                query_stats
            </span>
            Employee
        </a>
        <a href="/app/hr/leave_policy/?loc=leave_policy&type=list&document=leave%20policy"
            class="w-full flex items-center justify-start my-5 hover:text-blue-700 hover:translate-x-[-3%]">
            <span class="material-symbols-outlined text-[14px] mr-1 text-orange-600">
                forklift
            </span>
            Leave Policy
        </a>
        <a href="/app/hr/leave_allocation/?loc=leave&type=list&document=leave%20allocation"
            class="w-full flex items-center justify-start h-[40px] hover:text-blue-700 transition duration-100 hover:translate-x-[-3%]">
            <span class="material-symbols-outlined text-[14px] mr-1 text-indigo-600">
                partner_exchange
            </span>
            Leave Allocation
        </a>
    </div>
</div>