<div class="box p-4 bg-white rounded-lg shadow-md">
    <h4 class="text-lg font-semibold text-slate-700">Skills and Qualifications</h4>
    <div class="my-2 bg-gray-300 w-full h-[2px] rounded-full"></div>
    <div class="overflow-y-scroll "> 
    <!-- Education Background -->
    <div class="mb-4">
        <h5 class="text-md font-semibold text-slate-600">Education Background</h5>
        <p class="text-sm text-slate-500 mt-1">
            Bachelor of Computer Engineering, Copperbelt University (2018 - 2022).
        </p>
        <p class="text-sm text-slate-500 mt-1">
            General Certificate of Education, St. Johns Secondary School (2016).
        </p>
    </div>

    <!-- Certifications and Licenses -->
    <div class="mb-4">
        <h5 class="text-md font-semibold text-slate-600">Certifications and Licenses</h5>
        <ul class="list-disc list-inside text-sm text-slate-500 mt-1">
            <li>Cisco DevNet Associate (May 2024)</li>
            <li>Postman API Fundamentals Student Expert (Jan 2024)</li>
            <li>Introduction to Continuous Delivery and GitOps using Argo CD (Dec 2023)</li>
            <li>Various Cisco Certificates (2023)</li>
            <li>Udemy Certificate in Databases with Python (Mar 2023)</li>
            <li>JavaScript & PHP Programming (Aug 2023)</li>
        </ul>
    </div>

    <!-- Skills -->
    <div class="mb-4">
        <h5 class="text-md font-semibold text-slate-600">Skills</h5>
        <ul class="list-disc list-inside text-sm text-slate-500 mt-1">
            <li>Technical: HTML, CSS, JavaScript, Python, C#, SQL, ReactJS, Laravel, Flutter</li>
            <li>Languages: English (Fluent), Bemba (Fluent), Nyanja (Fluent)</li>
            <li>Other: Cyber Security, Networking, Electronics Troubleshooting, Linux Systems</li>
        </ul>
    </div>

    <!-- Training and Development History -->
    <div>
        <h5 class="text-md font-semibold text-slate-600">Training and Development History</h5>
        <ul class="list-disc list-inside text-sm text-slate-500 mt-1">
            <li>Postman API Fundamentals Student Expert Certificate (Jan 2024)</li>
            <li>Introduction to Continuous Delivery and GitOps using Argo CD Certificate (Dec 2023)</li>
            <li>Various Cisco training modules (2023)</li>
            <li>JavaScript & PHP Programming (Aug 2023)</li>
            <li>Udemy Certificate in Databases with Python (Mar 2023)</li>
        </ul>
    </div>
</div>
</div>
