<div class="col-span-1 w-full h-full grid grid-rows-2 gap-y-8">
    <div class="-2 intro-y h-full">
        <div class="box p-3 h-full">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">Companies Info</h4>
            </div>
            <div class="my-2 bg-gray-300 w-full h-[3px] rounded-full"></div>
            <div class="flex items-center justify-between my-6">
                <div class="flex items-center justify-start">
                    <i data-lucide="database" class="w-[17px] h-[17px] mr-2"></i>
                    Default Company
                </div>
                <div class="text-gray-700 font-semibold text-[12px]">Probase Limited</div>
            </div>
            <div class="flex items-center justify-between my-6">
                <div class="flex items-center justify-start">
                    <i data-lucide="edit-2" class="w-[17px] h-[17px] mr-2"></i>
                    Default Reporting Currency
                </div>
                <div class="font-semibold text-[12px] text-orange-700">USD</div>
            </div>
            <div class="flex items-center justify-between my-6">
                <div class="flex items-center justify-start">
                    <i data-lucide="pie-chart" class="w-[17px] h-[17px] mr-2"></i>
                    Default Paybles Account
                </div>
                <div class="font-semibold text-[12px] text-orange-700">Dabtors</div>
            </div>
            <div class="flex items-center justify-between my-6">
                <div class="flex items-center justify-start">
                    <i data-lucide="pie-chart" class="w-[17px] h-[17px] mr-2"></i>
                    Default Receivables Account
                </div>
                <div class="font-semibold text-[12px] text-orange-700">Creditors</div>
            </div>
        </div>
    </div>
    <div class="-2 intro-y h-full">
        <div class="box p-3 h-full">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">More Configurations</h4>
            </div>
            <div class="my-2 bg-gray-300 w-full h-[3px] rounded-full"></div>
           
            <div class="my-2 bg-gray-300 w-full h-[1px] rounded-full"></div>
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">Attachments</h4>
                <label for="new-attachment"
                    class="flex items-center justify-center cursor-pointer  transition duration-2000 hover:translate-x-[-3%]">
                    <input type="file" name="" id="new-attachment" class="hidden">
                    <i data-lucide="plus-circle" class="w-[17px] h-[17px] mr-2"></i>
                    Add Attachment
                </label>
            </div>
            <div class="w-full">
                <a href="#"
                    class="w-full flex items-center justify-start text-default text-12 rounded-md my-4">
                    <i data-lucide="folder" class="w-[17px] h-[17px] mr-2 text-orange-600"></i>
                    Registration Certificate
                </a>
                <a href="#"
                    class="w-full flex items-center justify-start text-default text-12 rounded-md my-4">
                    <i data-lucide="folder" class="w-[17px] h-[17px] mr-2 text-orange-600"></i>
                    ZRA Submissions
                </a>
                <a href="#"
                    class="w-full flex items-center justify-start text-default text-12 rounded-md my-4">
                    <i data-lucide="folder" class="w-[17px] h-[17px] mr-2 text-orange-600"></i>
                    Shareholder Signatures
                </a>
                <a href="#"
                    class="w-full flex items-center justify-start text-default text-12 rounded-md my-4">
                    <i data-lucide="folder" class="w-[17px] h-[17px] mr-2 text-orange-600"></i>
                    Shareholder Signatures
                </a>
            </div>
        </div>
    </div>
</div>