
<div class=" page-actions-wrapper flex items-center justify-between ">
    {% include 'client_app/components/navigators.html' %}
    <div class="content-group actions-group list-view-content list-actions flex items-center justify-center ml-3 customer-type">
        <select type="select" action-type="multi-content-toggler" class="lite-selector border rounded-md px-3 w-[230px]" placeholder="Select Trader Type">
            <option value="Performance Key Area" selected>Performance Key Area</option>
            <option value="Performance Behavioural Imperatives">Performance Behavioural Imperatives</option>
        </select>
    </div>
    <div class="content-group info-view-content new-form-view-content form-content-view info-actions flex items-center justify-center hidden"></div>
</div>
