{% load static %}
<div class="w-full h-[740px] grid grid-rows-2 gap-6">
   <div class="-2 intro-y h-full">
        <div class="box p-5 h-full">
            <div class="w-full flex items-center justify-between border-b">
                <h4 class="font-semibold text-black-600">Ticket Information</h4>
            </div>
            <div class="my-3  w-full h-[3px] rounded-full" id="donut_chart_id_form"></div>          
        </div>
    </div>
    <div class="-2 intro-y h-full">
        <div class="box p-5 h-full">
            <div class="w-full flex items-center justify-between border-b">
                <h4 class="font-semibold text-black-600">Ticket Details</h4>
            </div>
            <div class="my-3 w-full h-[3px] rounded-full"></div>
            <div class="w-full">
    
                <!-- Ticket Follow-up -->
                <div class="mb-4">
                    <div class="justify-between flex">
                        <h1 class="font-semibold">
                            <span class="material-symbols-outlined text-[24px] mr-2 text-gray-700">
                                list_alt
                            </span>
                            Ticket
                        </h1>
                        <h1>Status</h1>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>
