{% load static %}
<div class="w-full h-full bg-red-500 gap-y-5">
    <div class="-2 intro-y">
        <div class="box p-3">
            {% comment %} <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">Add Address</h4>
            </div>
            <div class="my-3 bg-gray-300 w-full h-[3px] rounded-full"></div>
            <div class="w-full">
                <div class="w-full my-8 flex items-center justify-between">
                    <div class="flex items-start justify-center">
                        <span class="material-symbols-outlined text-gray-500">
                            distance
                        </span>
                        <div class="flex flex-col">
                            <span class="font-semibold">Billing Address</span>
                            <small class="text-slate-500">
                                ZCCM-H Offices, Mass Media, Lusaka
                            </small>
                        </div>
                    </div>
                    <button
                        class="w-[70px] h-[30px] border border-secondary_color/50 shadow-none flex items-center justify-center text-[12px] btn">
                        Select
                    </button>
                </div>
                <div class="w-full my-8 flex items-center justify-between">
                    <div class="flex items-start justify-center">
                        <span class="material-symbols-outlined text-gray-500">
                            distance
                        </span>
                        <div class="flex flex-col">
                            <span class="font-semibold">Shipping Address</span>
                            <small class="text-slate-500">
                                Woodgate House, Off Post Office, Lusaka
                            </small>
                        </div>
                    </div>
                    <button
                        class="w-[70px] h-[30px] border border-secondary_color/50 shadow-none flex items-center justify-center text-[12px] btn">
                        Select
                    </button>
                </div>
                <div class="w-full my-8 flex items-center justify-between">
                    <div class="flex items-start justify-center">
                        <span class="material-symbols-outlined text-gray-500">
                            distance
                        </span>
                        <div class="flex flex-col">
                            <span class="font-semibold">Office Address</span>
                            <small class="text-slate-500">
                                Chester House Building, Cairo RD, Lusaka
                            </small>
                        </div>
                    </div>
                    <button
                        class="w-[70px] h-[30px] border border-secondary_color/50 text-orange-600 shadow-none flex items-center justify-center text-[12px] btn">
                        <span class="material-symbols-outlined text-gray-500">
                            done_all
                        </span>
                    </button>
                </div>
            </div> {% endcomment %}

        </div>
    </div> 

    <div class="-2 intro-y mt-6">
        <div class="box p-3 min-h-[300px]">
            {% comment %} <div class="w-full flex items-center justify-start">
                <span class="material-symbols-outlined text-[14px] mr-2">
                    settings
                </span>
                <h4 class="font-semibold text-slate-600">Helper Config</h4>
            </div>
            <div class="my-3 bg-gray-300 w-full h-[3px] rounded-full"></div>
            <div class="w-full mt-6">
                <div class="w-full flex items-center justify-start mb-6">
                    <input type="checkbox" class="shadow-none form-check-input w-[20px] h-[20px] accent-default mr-2">
                    <span>Is Multi-Currency</span>
                </div>
                <div class="w-full flex items-center justify-start mb-6">
                    <input type="checkbox" class="shadow-none form-check-input w-[20px] h-[20px] accent-default mr-2">
                    <span>Create Seperate Entries</span>
                </div>
                <div class="w-full flex items-center justify-start mb-6">
                    <input type="checkbox" class="shadow-none form-check-input w-[20px] h-[20px] accent-default mr-2">
                    <span>Is Party Enrty</span>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
</div>