<div class="w-full grid grid-cols-4 mb-3 gap-x-1">
    <div class="report-box-2 w-full mt-7">
        <div class="box w-full p-3 h-[160px] flex justify-between flex-col">
            <div class="w-full flex items-center justify-between">
                <div class="flex items-center justify-start">
                    <div
                        class="flex items-center justify-center w-[40px] h-[40px] border rounded-md mr-2 bg-indigo-50 text-default text-30">
                        <span class="material-symbols-outlined">
                            grouped_bar_chart
                        </span>
                    </div>
                    <span class="text-13">Total Transactions</span>
                </div>
                <div class="dropdown w-1/2 sm:w-auto ml-3" style="position: relative;">
                    <button class="dropdown-toggle w-full" aria-expanded="false" data-tw-toggle="dropdown">
                        <i data-lucide="more-vertical" class="w-[17px] h-[17px]"></i>
                    </button>
                    <div class="dropdown-menu w-[150px]" id="_hjlc5luf1" data-popper-placement="bottom-end"
                        style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(-0.5px, 38px, 0px);">
                        <ul class="dropdown-content">
                            <li>
                                <a id="tabulator-export-csv" href="javascript:;" class="dropdown-item">
                                    <i data-lucide="eye" class="w-[17px] h-[17px] mr-2"></i>
                                    View in GL
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <h2 class="font-bold text-20">$3,455,677.90</h2>
            <small class="text-gray-500">Total transactions for the last 30 Days</small>
        </div>
    </div>
    <div class="report-box-2 w-full mt-7">
        <div class="box w-full p-3 h-[160px] flex justify-between flex-col">
            <div class="w-full flex items-center justify-between">
                <div class="flex items-center justify-start">
                    <div
                        class="flex items-center justify-center w-[40px] h-[40px] border rounded-md mr-2 bg-indigo-50 text-default text-[50px]">
                        <span class="material-symbols-outlined">
                            credit_score
                        </span>
                    </div>
                    <span class="text-13">Total Debits</span>
                </div>
                <div class="dropdown w-1/2 sm:w-auto ml-3" style="position: relative;">
                    <button class="dropdown-toggle w-full" aria-expanded="false" data-tw-toggle="dropdown">
                        <i data-lucide="more-vertical" class="w-[17px] h-[17px]"></i>
                    </button>
                    <div class="dropdown-menu w-[150px]" id="_hjlc5luf1" data-popper-placement="bottom-end"
                        style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(-0.5px, 38px, 0px);">
                        <ul class="dropdown-content">
                            <li>
                                <a id="tabulator-export-csv" href="javascript:;" class="dropdown-item">
                                    <i data-lucide="eye" class="w-[17px] h-[17px] mr-2"></i>
                                    View in GL
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <h2 class="font-bold text-20">$2,455,677.90</h2>
            <small class="text-gray-500">Total debits for the last 30 Days</small>
        </div>
    </div>
    <div class="report-box-2 w-full mt-7">
        <div class="box w-full p-3 h-[160px] flex justify-between flex-col">
            <div class="w-full flex items-center justify-between">
                <div class="flex items-center justify-start">
                    <div
                        class="flex items-center justify-center w-[40px] h-[40px] border rounded-md mr-2 bg-orange-50 text-orange-800 text-30">
                        <span class="material-symbols-outlined">
                            add_card
                        </span>
                    </div>
                    <span class="text-13">Total Credits</span>
                </div>
                <div class="dropdown w-1/2 sm:w-auto ml-3" style="position: relative;">
                    <button class="dropdown-toggle w-full" aria-expanded="false" data-tw-toggle="dropdown">
                        <i data-lucide="more-vertical" class="w-[17px] h-[17px]"></i>
                    </button>
                    <div class="dropdown-menu w-[150px]" id="_hjlc5luf1" data-popper-placement="bottom-end"
                        style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(-0.5px, 38px, 0px);">
                        <ul class="dropdown-content">
                            <li>
                                <a id="tabulator-export-csv" href="javascript:;" class="dropdown-item">
                                    <i data-lucide="eye" class="w-[17px] h-[17px] mr-2"></i>
                                    View in GL
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <h2 class="font-bold text-20">$3,455,677.90</h2>
            <small class="text-gray-500">Total credits for the last 30 Days</small>
        </div>
    </div>
    <div class="report-box-2 w-full mt-7">
        <div class="box w-full p-3 h-[160px] flex justify-between flex-col">
            <div class="w-full flex items-center justify-between">
                <div class="flex items-center justify-start">
                    <div
                        class="flex items-center justify-center w-[40px] h-[40px] border rounded-md mr-2 bg-red-50 text-red-800 text-30">
                        <span class="material-symbols-outlined">
                            credit_card_off
                        </span>
                    </div>
                    <span class="text-13">Total Cancelled</span>
                </div>
                <div class="dropdown w-1/2 sm:w-auto ml-3" style="position: relative;">
                    <button class="dropdown-toggle w-full" aria-expanded="false" data-tw-toggle="dropdown">
                        <i data-lucide="more-vertical" class="w-[17px] h-[17px]"></i>
                    </button>
                    <div class="dropdown-menu w-[150px]" id="_hjlc5luf1" data-popper-placement="bottom-end"
                        style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(-0.5px, 38px, 0px);">
                        <ul class="dropdown-content">
                            <li>
                                <a id="tabulator-export-csv" href="javascript:;" class="dropdown-item">
                                    <i data-lucide="eye" class="w-[17px] h-[17px] mr-2"></i>
                                    View in GL
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <h2 class="font-bold text-20 text-red-700">$3,455,677.90</h2>
            <small class="text-gray-500">Total Cancelled transactions for the last 30 Days</small>
        </div>
    </div>

</div>