<div class="col-span-1 w-full h-full grid grid-rows-2 gap-y-5">
    <div class="-2 intro-y h-full">
        <div class="box p-3 h-full  relative dashboard-content">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">Currency-Wise Transaction Trends</h4>
            </div>
            <div class="my-2 bg-gray-300 w-full h-[3px] rounded-full">
                <div class="w-full flex items-center justify-between border-b py-2 intro-x">
                    <div class="flex items-start justify-start">
                        <span class="material-symbols-outlined text-15 text-purple-600 mr-2"> bar_chart</span>
                        <div class="flex items-start justify-center flex-col">
                            <span class="font-semibold text-13">USD</span>
                            <small class="text-gray-700">United States Doller</small>
                        </div>
                    </div>
                    <div class="flex items-end justify-center flex-col">
                        <span class="font-semibold text-13">0</span>
                        <small class="text-default">30 Days to Date</small>
                    </div>
                </div>
                <div class="w-full flex items-center justify-between border-b py-2 intro-x">
                    <div class="flex items-start justify-start">
                        <span class="material-symbols-outlined text-15 text-purple-600 mr-2"> bar_chart</span>
                        <div class="flex items-start justify-center flex-col">
                            <span class="font-semibold text-13">ZMW</span>
                            <small class="text-gray-700">Zambian Kwacha</small>
                        </div>
                    </div>
                    <div class="flex items-end justify-center flex-col">
                        <span class="font-semibold text-13">805,222.18</span>
                        <small class="text-default">30 Days to Date</small>
                    </div>
                </div>
                <div class="w-full flex items-center justify-between border-b py-2 intro-x">
                    <div class="flex items-start justify-start">
                        <span class="material-symbols-outlined text-15 text-purple-600 mr-2"> bar_chart</span>
                        <div class="flex items-start justify-center flex-col">
                            <span class="font-semibold text-13">EURO</span>
                            <small class="text-gray-700">Euros</small>
                        </div>
                    </div>
                    <div class="flex items-end justify-center flex-col">
                        <span class="font-semibold text-13">0</span>
                        <small class="text-default">30 Days to Date</small>
                    </div>
                </div>
                <div class="w-full flex items-center justify-between border-b py-2 intro-x">
                    <div class="flex items-start justify-start">
                        <span class="material-symbols-outlined text-15 text-purple-600 mr-2"> bar_chart</span>
                        <div class="flex items-start justify-center flex-col">
                            <span class="font-semibold text-13">JPY</span>
                            <small class="text-gray-700">Japanese Yuen</small>
                        </div>
                    </div>
                    <div class="flex items-end justify-center flex-col">
                        <span class="font-semibold text-13">0</span>
                        <small class="text-default">30 Days to Date</small>
                    </div>
                </div>
                <div class="w-full flex items-center justify-between border-b py-2 intro-x">
                    <div class="flex items-start justify-start">
                        <span class="material-symbols-outlined text-15 text-purple-600 mr-2"> bar_chart</span>
                        <div class="flex items-start justify-center flex-col">
                            <span class="font-semibold text-13">ZAR</span>
                            <small class="text-gray-700">South African Rand</small>
                        </div>
                    </div>
                    <div class="flex items-end justify-center flex-col">
                        <span class="font-semibold text-13">0</span>
                        <small class="text-default">30 Days to Date</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="-2 intro-y h-full">
        <div class="box p-3 h-full  relative dashboard-content">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">Exchange Rate History</h4>
            </div>
            <div class="my-2 bg-gray-300 w-full h-[3px] rounded-full"></div>
            <div class="w-full exchange-rate-history"></div>
        </div>
    </div>
</div>