<div class="stats w-full h-[240px] grid grid-cols-4 gap-4 mb-7">
    <div class=" stats-view h-full content-group list-view-content intro-y col-span-3">
        <div class="box p-2 bg-white h-full relative dashboard-content">
            <h4 class="font-semibold text-slate-600">Recent Exchange Gain/Loss Summary ( <small class="text-default">Month to date</small> )</h4>
            <div id="exchange-gran-or-loss"></div>
        </div>
    </div>

    <div class=" stats-view h-full content-group list-view-content intro-y">
        <div class="box p-3 bg-white h-full overflow-hidden relative dashboard-content">
            <h4 class="font-semibold text-slate-600">Top Exchange Rates</h4>
            <div class="w-full bg-gray-200 h-[2px] my-3"></div>
            <div class="w-full h-full top-xchange-rates"> </div>
        </div>
    </div>
</div>