<div class="w-full grid grid-cols-3 mt-[80px] gap-2 border-t pt-10">
    <div class="w-full text-11">
        <div class="bank-accounts-wrapper w-full">

        </div>
    </div>
    <div class="w-full"></div>
    <div class="w-full text-11">
        <div class="w-full flex items-center justify-between mb-2 intro-y">
            <span class="font-semibold">Total Qty</span>
            <span class="font-semibold">
                <div class="lite-field" fieldname="total_qty" type="read-only"></div>
            </span>
        </div>
        <div class="w-full flex items-center justify-between mb-2 intro-y">
            <span class="font-semibold">Sub Total</span>
            <span class="font-semibold">
                <div class="lite-field" fieldname="sub_total_amount" type="read-only"></div>
            </span>
        </div>
        <div class="w-full flex items-center justify-between mb-2 intro-y">
            <span class="font-semibold">Total Discount</span>
            <span class="font-semibold">
                <div class="lite-field" fieldname="total_discount_amount" type="read-only"></div>
            </span>
        </div>
        <div class="w-full flex items-center justify-between mb-2 intro-y">
            <span class="font-semibold">Total Exclusive</span>
            <span class="font-semibold">
                <div class="lite-field" fieldname="tax_exclusive_total_amount" type="read-only"></div>
            </span>
        </div>
        <div class="w-full mb-2 total-taxes-wrapper"></div>
        <div class="w-full flex items-center justify-between mb-2 intro-y">
            <span class="font-semibold">Total Inclusive</span>
            <span class="font-semibold">
                <div class="lite-field" fieldname="inclusive_total_amount" type="read-only"></div>
            </span>
        </div>
        <div class="hidden w-full flex items-center justify-between mb-2 intro-y">
            <span class="font-semibold">Total Paid</span>
            <span class="font-semibold">
                <div class="lite-field" fieldname="total_paid_amount" type="read-only"></div>
            </span>
        </div>
        <div class="hidden w-full flex items-center justify-between mb-2 intro-y">
            <span class="font-semibold">Total Outstanding</span>
            <span class="font-semibold">
                <div class="lite-field" fieldname="total_outstanding_amount" type="read-only"></div>
            </span>
        </div>
    </div>
</div>