<div class="w-full h-full flex items-center justify-center flex-col p-2">
    <div class="w-full flex items-center justify-between">
        <span class="font-semibold text-12 flex items-center justify-start">
            <span class="material-symbols-outlined mr-1">credit_card_clock</span>
            Advance Summary
        </span>
    </div>
    <div class="w-full h-[90%] flex items-center justify-center flex-col">
        <h1 class="font-black text-40 text-default mb-4" id="balance_advance">0.00</h1>
        <span class="text-orange-700 text-12">Total Advance Outstanding</span>
        <div class="w-full border-t border-t-dotted"></div>
        <span class="text-default text-14 font-bold mt-3"><span id="repaid-advance">0.00</span> Repaid</span>
        <a href="/app/staff/staff_advance/?app=staff_advance&page=new-form&content_type=Staff%20Advance" class="flex items-center justify-center rounded-md bg-default text-theme_text_color w-[170px] h-[30px] mt-3">
            <span class="material-symbols-outlined text-20 mr-1">add_box</span>
            Apply Now
        </a>
    </div>
</div>