<div class="w-full h-full p-2">
    <div class="w-full flex items-center justify-between">
        <span class="font-semibold text-12">YTD Earning vs Deduction Summary</span>
    </div>
    <div class="w-full h-[90%] grid grid-cols-2 grid-rows-2 gap-1">
        <div class="w-full h-full bg-default/20 p-3 flex items-start justify-center flex-col">
            <h2 class="font-black text-20 text-default" id="basic">0.00</h2>
            <small class="mt-1">Your total <span class="bg-default text-white px-2 rounded-full">Basic</span></small>
        </div>
        <div class="w-full h-full bg-blue-900/20 p-3 flex items-start justify-center flex-col">
            <h2 class="font-black text-20 text-blue-700" id="gross">0.00</h2>
            <small class="mt-1">Your total <span class="bg-blue-700 text-white px-2 rounded-full">Gross</span></small>
        </div>
        <div class="w-full h-full bg-orange-900/20 p-3 flex items-start justify-center flex-col">
            <h2 class="font-black text-20 text-orange-700" id="deductions">0.00</h2>
            <small class="mt-1">Your total <span class="bg-orange-700 text-white px-2 rounded-full">Deductions</span></small>
        </div>
        <div class="w-full h-full bg-pink-900/20 p-3 flex items-start justify-center flex-col">
            <h2 class="font-black text-20 text-pink-700" id="net">0.00</h2>
            <small class="mt-1">Your total <span class="bg-pink-700 text-white px-2 rounded-full">Net</span></small>
        </div>
    </div>
</div>