<div class="w-full h-full p-3 bg-default rounded-md text-white">
    <div class="w-full flex items-center justify-between">
        <span class="font-semibold text-12 flex items-center justify-center">
            <span class="material-symbols-outlined mr-1 text-13">lock_open</span>
            Your Files
        </span>
        <button class="download-leave-report flex items-center justify-center text-12 px-2 rounded-md cursor-pointer">
            Explore More
            <span class="material-symbols-outlined mr-l text-14">chevron_right</span>
        </button>
    </div>
    <div class="w-full h-[85%] grid grid-cols-3 grid-rows-2 gap-3 mt-2" id="employee-files">
        {% comment %} <div class="bg-white/40 rounded-md flex items-center justify-center flex-col">
            <span class="material-symbols-outlined text-25 text-white">folder</span>
            <small class="truncate overflow-ellipsis w-[90%] text-center">Diploma In Computer Science</small>
        </div>
        <div class="bg-white/40 rounded-md flex items-center justify-center flex-col">
            <span class="material-symbols-outlined text-25 text-white">folder</span>
            <small class="truncate overflow-ellipsis w-[90%] text-center">NRC</small>
        </div>
        <div class="bg-white/40 rounded-md flex items-center justify-center flex-col">
            <span class="material-symbols-outlined text-25 text-white">folder</span>
            <small class="truncate overflow-ellipsis w-[90%] text-center">Driver's License</small>
        </div>
        <div class="bg-white/40 rounded-md flex items-center justify-center flex-col">
            <span class="material-symbols-outlined text-25 text-white">folder</span>
            <small class="truncate overflow-ellipsis w-[90%] text-center">Certification</small>
        </div>
        <div class="bg-white/40 rounded-md flex items-center justify-center flex-col">
            <span class="material-symbols-outlined text-25 text-white">folder</span>
            <small class="truncate overflow-ellipsis w-[90%] text-center">White Book</small>
        </div>
        <div class="bg-white/40 rounded-md flex items-center justify-center flex-col">
            <span class="material-symbols-outlined text-25 text-white">folder</span>
            <small class="truncate overflow-ellipsis w-[90%] text-center">Contract</small>
        </div> {% endcomment %}
        
    </div>
</div>