<div class="w-full h-full flex items-center justify-center flex-col bg-default text-white rounded-r-md p-2">
    <div class="w-full flex items-center justify-between">
        <span class="font-semibold text-12 flex items-center justify-start">
            <span class="material-symbols-outlined mr-1">wallet</span>
            Expense Summary
        </span>
    </div>
    <div class="w-full h-[90%] flex items-center justify-center flex-col">
        <h1 class="font-black text-40 text-theme_text_color mb-4">0.00</h1>
        <span class="text-white/80 text-12">Total Expenses Approved</span>
        <div class="w-full border-t border-t-dotted"></div>
        <span class="text-white text-14 font-bold mt-3">0.00 Unretired Imprest</span>
        <a href="/app/staff/staff_imprest/?app=staff_imprest&page=new-form&content_type=Imprest" class="flex items-center justify-center rounded-md bg-theme_text_color text-default w-[170px] h-[30px] mt-3">
            <span class="material-symbols-outlined text-20 mr-1">add_card</span>
            Apply Now
        </a>
    </div>
</div>