<div class="w-full h-full flex items-center justify-center flex-col rounded-md p-2">
    <div class="w-full flex items-center justify-between">
        <span class="font-semibold text-12 flex items-center justify-center">
            <span class="material-symbols-outlined mr-1 text-13">account_balance_wallet</span>
            Recent Payslips
        </span>
        <button class="download-leave-report flex items-center justify-center text-12 px-2 rounded-md cursor-pointer">
            Explore More
            <span class="material-symbols-outlined mr-l text-14">chevron_right</span>
        </button>
    </div>
    <div class="w-full h-[85%] recent-payslips grid gap-y-1 grid-rows-3 relative" id="recent-payslips">
        {% comment %} <div class="w-full rounded-sm h-full grid grid-cols-10 bg-pink-100 p-1">
            <div class="w-full h-full col-span-4 flex flex-col items-start justify-center">
                <span class="font-semibold">Slip-0034</span>
                <small class="font-semibold text-orange-800 text-10">1st Jan, 2024 -> 31st Jan, 2024</small>
            </div>
            <div class="col-span-4 h-full w-full flex items-start justify-center flex-col">
                <span class="net font-semibold text-13">ZMW 35,000.87</span>
                <small class="text-slate-700 text-10">Total Net</small>
            </div>
            <div class="col-span-2 h-full w-full flex items-center justify-end">
                <button class="bg-pink-600 w-[150px] h-[25px] flex items-center justify-center rounded-md text-12 text-white">
                    <span class="material-symbols-outlined mr-1 text-17">download</span>
                    Download
                </button>
            </div>
        </div>
        <div class="w-full rounded-sm h-full grid grid-cols-10 bg-pink-100 p-1">
            <div class="w-full h-full col-span-4 flex flex-col items-start justify-center">
                <span class="font-semibold">Slip-0034</span>
                <small class="font-semibold text-orange-800 text-10">1st Jan, 2024 -> 31st Jan, 2024</small>
            </div>
            <div class="col-span-4 h-full w-full flex items-start justify-center flex-col">
                <span class="net font-semibold text-13">ZMW 35,000.87</span>
                <small class="text-slate-700 text-10">Total Net</small>
            </div>
            <div class="col-span-2 h-full w-full flex items-center justify-end">
                <button class="bg-pink-600 w-[150px] h-[25px] flex items-center justify-center rounded-md text-12 text-white">
                    <span class="material-symbols-outlined mr-1 text-17">download</span>
                    Download
                </button>
            </div>
        </div>
        <div class="w-full rounded-sm h-full grid grid-cols-10 bg-pink-100 p-1">
            <div class="w-full h-full col-span-4 flex flex-col items-start justify-center">
                <span class="font-semibold">Slip-0034</span>
                <small class="font-semibold text-orange-800 text-10">1st Jan, 2024 -> 31st Jan, 2024</small>
            </div>
            <div class="col-span-4 h-full w-full flex items-start justify-center flex-col">
                <span class="net font-semibold text-13">ZMW 35,000.87</span>
                <small class="text-slate-700 text-10">Total Net</small>
            </div>
            <div class="col-span-2 h-full w-full flex items-center justify-end">
                <button class="bg-pink-600 w-[150px] h-[25px] flex items-center justify-center rounded-md text-12 text-white">
                    <span class="material-symbols-outlined mr-1 text-17">download</span>
                    Download
                </button>
            </div>
        </div> {% endcomment %}
    </div>
</div>