<div class="w-full h-full flex items-center justify-center flex-col bg-blue-100 rounded-md rounded-l-none p-2 relative">
    <div class="w-full flex items-center justify-between">
        <span class="font-semibold text-12 flex items-center justify-center">
            <span class="material-symbols-outlined mr-1 text-13">fact_check</span>
            Task Summary
        </span>
    </div>
    <div class="w-full h-[85%] flex items-center justify-center">
        <div id="task-summary"></div>
    </div>

    <div class="w-full flex items-center justify-center absolute bottom-2 left-0">
        <div class="flex items-center mt-1 justify-center px-1 rounded-sm bg-default text-white text-10"> Total </div>
        <div class="flex items-center mt-1 justify-center px-1 rounded-sm bg-[#1bb8cc] text-white text-10 ml-2"> Completed </div>
        <div class="flex items-center mt-1 justify-center px-1 rounded-sm bg-[#de4421] text-white text-10 ml-2"> Pending </div>
        <div class="flex items-center mt-1 justify-center px-1 rounded-sm bg-[#ff033e] text-white text-10 ml-2"> Overdue </div>
    </div>
</div>