{% load static %}
<div class="col-span-1 w-full h-full grid grid-rows-1 gap-y-8">
    <div class="-2 intro-y h-full">
        <div  class="box p-3 h-full">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">Recent Imprest Requests</h4>
            </div>
            <div class="my-2 bg-gray-300 w-full h-[3px] rounded-full"></div>
            <div id="stafff-imprest" class="w-full h-full">
               <!-- <div class="w-full h-[45px] flex items-center justify-between border-b">
                    <div class="flex items-center justify-start">
                        <div class="flex items-ceenter justify-center mr-3">
                            <span class="material-symbols-outlined text-default text-17"> check_circle </span>
                        </div>
                        <div class="text-gray-700">Aaron Mubanga</div>
                    </div>
                    <div class="flex flex-col items-end justify-center">
                        <span class="font-semibold text-12">
                            <span class="material-symbols-outlined text-13 mr-1"> calendar_month </span>
                            1st Jan, 2024
                        </span>
                        <small class="text-orange-500 text-10">Promoted</small>
                    </div>
               </div> -->
            </div>
        </div>
    </div>   
</div> 
