<div class="w-full bg-default min-h-[80vh] relative text-white pt-[105px] pb-[50px]">
    {% include "./benefits_deco.html" %}
    <div class="relative z-5 flex items-center justify-start flex-col w-[80%] h-[90%] mx-auto gap-7">
        <h2 class="col-span-3 font-bold text-center lg:text-[40px] xl:text-[40px] text-[28px] leading-[1.5]">Benefits of startApp ERP system</h2>
        <span class="col-span-3 text-center">
            From improved productivity, increased efficiency and reduced costs, below are are 
            some of the benefits of intergrating Varyon ERP into your business.
        </span>
        <div class="w-full grid lg:grid-cols-3 xl:grid-cols-3 mt-6 w-[60%] gap-[30px] text-black">
            <div class="w-full min-h-[170px] bg-white rounded-md relative p-3">
                <div class="w-full flex items-center justify-start">
                    <div class="w-[15px] h-[15px] border border-[4px] rounded-full border-default"></div>
                    <span class="ml-2 font-semibold text-15">Competitive Advantage</span>
                </div>
                <div class="ml-5 mt-3 text-14">
                    With so many enterprise resource planning advantages the software provides, 
                    users can see improvements within multiple departments. 
                    Implementing ERP software helps 
                    to keep you ahead of the competition
                </div>
            </div>
            <div class="w-full min-h-[170px] bg-white rounded-md relative p-3">
                <div class="w-full flex items-center justify-start">
                    <div class="w-[15px] h-[15px] border border-[4px] rounded-full border-orange-500"></div>
                    <span class="ml-2 font-semibold text-15">Improved Process Efficiency</span>
                </div>
                <div class="ml-5 mt-3 text-14">
                    Eliminates repetitive processes and greatly reduces the need to manually enter information, 
                    which not only improves user productivity, 
                    but eliminates the possibility of inaccurate 
                    data that may cost the business.
                </div>
            </div>
            <div class="w-full min-h-[170px] bg-white rounded-md relative p-3">
                <div class="w-full flex items-center justify-start">
                    <div class="w-[15px] h-[15px] border border-[4px] rounded-full border-indigo-700"></div>
                    <span class="ml-2 font-semibold text-15">Data Reliability</span>
                </div>
                <div class="ml-5 mt-3 text-14">
                    Provides reliable data that can be accessed 
                    from different locations (if implemented in the cloud) 
                    and through multiple devices including tablets and smartphones
                </div>
            </div>
            <div class="w-full min-h-[170px] bg-white rounded-md relative p-3">
                <div class="w-full flex items-center justify-start">
                    <div class="w-[15px] h-[15px] border border-[4px] rounded-full border-emerald-700"></div>
                    <span class="ml-2 font-semibold text-15">Customized Reporting</span>
                </div>
                <div class="ml-5 mt-3 text-14">
                    Varyon ERP helps make reporting more customizable, fit to meet all of your needs. 
                    With improved reporting capabilities, 
                    your company can respond to complex data requests easily.
                </div>
            </div>
            <div class="w-full min-h-[170px] bg-white rounded-md relative p-3">
                <div class="w-full flex items-center justify-start">
                    <div class="w-[15px] h-[15px] border border-[4px] rounded-full border-purple-700"></div>
                    <span class="ml-2 font-semibold text-15">Mobility</span>
                </div>
                <div class="ml-5 mt-3 text-14">
                    Users have access to a centralized database from anywhere you work 
                    and from different devices including your laptop, tablet or cell phone.
                </div>
            </div>
            <div class="w-full min-h-[170px] bg-white rounded-md relative p-3">
                <div class="w-full flex items-center justify-start">
                    <div class="w-[15px] h-[15px] border border-[4px] rounded-full border-pink-700"></div>
                    <span class="ml-2 font-semibold text-15">Integrated Information</span>
                </div>
                <div class="ml-5 mt-3 text-14">
                    Every business want to be smart with its 
                    financials and avoid making costly mistakes. 
                    With one source of accurate, real-time information and operations costs,
                    Varyon ERP is the best solution.
                </div>
            </div>
        </div>
    </div>
</div>