<div class="absolute w-[30%] h-full bottom-0 p-3 lg:grid xl:grid grid-cols-15 text-center hidden">
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
    <span class="w-[5px] h-[5px] bg-slate-400/20 rounded-md"></span>
</div>