<div class="w-full hero-wrapper h-max-content xl:h-[100vh] sm:h-[100vh] xs:h-[100vh] bg-default relative overflow-hidden">
    <div class="swiper min-h-[100vh] h-max-content">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper min-h-[100vh] h-max-content">
            <!-- Slides -->
            <div class="swiper-slide min-h-[100vh] h-max-content h-full w-full">
                <img loading="lazy" src="/static/images/web/landing.png" alt="" class="w-full min-h-[100vh] h-max-content object-cover object-top">
            </div>
            <div class="swiper-slide min-h-[100vh] h-max-content h-full w-full">
                <img loading="lazy" src="/static/images/web/landing1.jpg" alt="" class="w-full min-h-[100vh] h-max-content object-cover object-top">
            </div>
            <div class="swiper-slide min-h-[100vh] h-max-content h-full w-full bg-green-500">
                <img loading="lazy" src="/static/images/web/landing2.png" alt="" class="w-full min-h-[100vh] h-max-content object-cover object-top">
            </div>
        </div>
    </div>
    <div class="w-full h-scren bg-default/30 absolute top-0 left-0 flex items-center justify-center">
        <div class="w-[80%] h-[100vh] grid lg:grid-cols-2 xl:grid-cols-2 gap-x-6">
            <div class="w-full h-[100vh] flex items-start justify-center flex-col">
                <div class="hero-content w-full text-white  intro-y">
                    <div class="main-content text-[40px] leading-[1.5] font-bold mb-9 hero-title"> </div>
                    <div class="text-white my-9 hero-message"> </div>
                </div>
                <div class="grid lg:grid-cols-2 xl:grid-cols-2 gap-x-3 intro-y">
                    <a href="/web/onboarding/" class="bg-white text-default rounded-md px-4 py-4 w-[250px] flex items-center justify-center font-bold text-20">
                        Get Started
                        <span class="material-symbols-outlined ml-2"> arrow_forward_ios </span>
                    </a>
                    <a href="/web/modules/" class="border mt-5 lg:mt-0 xl:mt-0 border-white text-white rounded-md px-4 py-4 w-[250px] flex items-center justify-center font-bold text-20">
                        Learn More
                        <span class="material-symbols-outlined ml-2"> arrow_forward_ios </span>
                    </a>
                </div>
            </div>
        </div>
        <a href="#why-use-startapp" class="w-[50px] h-[50px] rounded-full bg-default/50 absolute bottom-2 font-bold border flex items-center justify-center cursor-pointer z-[10]">
            <div class="w-[80%] h-[80%] rounded-full bg-default text-theme_text_color flex items-center justify-center border border-secondary_color font-bold">
                <span class="material-symbols-outlined  text-28">expand_more</span>
            </div>
        </a>
        
    </div>
</div>