<div class="w-full h-max-content pb-20 xl:h-[70vh] bg-gray-100">
    <div class="w-full h-full grid xl:grid-cols-2">
        <div class="w-full hidden xl:block h-full bg-default relative xs:pb-[30px]">
            <div class="w-full h-full relative z-5 flex items-center justify-center">
                <div class="w-[70%] h-[60%] grid grid-cols-2 grid-rows-2 gap-3 rounded-md">
                    <div class="w-full h-full shadow-md border rounded-md relative">
                        <div class="absolute top-[-40px] left-[-50px] w-[100px] h-[100px] border border-[3px] border-gray-500 rounded-md"></div>
                        <img src="/static/images/web/accounting_dashboard.png" class="w-full h-full object-fit rounded-md relative" alt="">
                    </div>
                    <div class="w-full h-full  border rounded-md mt-[40px] relative">
                        <div class="absolute bottom-[-24px] right-[-20px] rotate-[40deg] w-[60px] h-[60px] border border-[3px] border-orange-800 rounded-full"></div>
                        <img src="/static/images/web/asset_dashboard.png" class="w-full h-full object-fit rounded-md relative" alt="">
                    </div>
                    <div class="w-full h-full shadow-md border rounded-md relative">
                        <div class="absolute bottom-[-40px] left-[-50px] w-[80px] h-[80px] border border-[3px] border-purple-800 rounded-md"></div>
                        <img src="/static/images/web/stock_dashboard.png" class="w-full h-full object-fit rounded-md relative" alt="">
                    </div>
                    <div class="w-full h-full  border rounded-md mt-[40px] relative">
                        <div class="absolute bottom-[-24px] right-[-20px] rotate-[40deg] w-[60px] h-[60px] border border-[3px] border-blue-800 rounded-md"></div>
                        <img src="/static/images/web/payroll_dashboard.png" class="w-full h-full object-fit rounded-md relative" alt="">
                    </div>
                </div>
            </div>
            <div class="intro-bottom-rounder absolute bottom-0 right-0 bg-gray-100 w-[50px] h-[50px]"></div>
        </div>
        <div class="w-full h-full bg-gray-100 relative flex items-center justify-center xs:pb-10">
            <div class="w-[80%] h-[80%] flex items-center justify-start flex-col">
                <h3 class="font-bold text-[40px] leading-[1.5]">Welcome To <span class="text-default">Varyon ERP</span></h3>
                <div class="w-full bg-gray-400 mt-5 h-[5px] rounded-md my-5"></div>
                <span class="w-full"> Join over 1,000 business owners using Startapp</span>
                <div class="w-full grid mt-7">
                    <div class="w-full flex items-center justify-start mb-4">
                        <div class="flex items-center justify-center relative min-h-[45px] w-[30px]">
                            <div class="absolute w-[20px] h-[20px] rounded-md border border-orange-700 border-[2px] rotate-[45deg]"></div>
                            <div class="absolute w-[20px] h-[20px] rounded-md border border-indigo-700 border-[2px] rotate-[80deg]"></div>
                        </div>
                        <span class="font-semibold"> Empowering Micro & Medium Enterprises in Africa.</span>
                    </div>
                    <div class="w-full flex items-center justify-start mb-4">
                        <div class="flex items-center justify-center relative min-h-[45px] w-[30px]">
                            <div class="absolute w-[20px] h-[20px] rounded-md border border-orange-700 border-[2px] rotate-[45deg]"></div>
                            <div class="absolute w-[20px] h-[20px] rounded-md border border-indigo-700 border-[2px] rotate-[80deg]"></div>
                        </div>
                        <span class="font-semibold"> Giving You Competitive Advantage</span>
                    </div>
                    <div class="w-full flex items-center justify-start mb-4">
                        <div class="flex items-center justify-center relative min-h-[45px] w-[30px]">
                            <div class="absolute w-[20px] h-[20px] rounded-md border border-orange-700 border-[2px] rotate-[45deg]"></div>
                            <div class="absolute w-[20px] h-[20px] rounded-md border border-indigo-700 border-[2px] rotate-[80deg]"></div>
                        </div>
                        <span class="font-semibold">Helps You Improve Processing Efficiency</span>
                    </div>
                    <div class="w-full flex items-center justify-start mb-4">
                        <div class="flex items-center justify-center relative min-h-[45px] w-[30px]">
                            <div class="absolute w-[20px] h-[20px] rounded-md border border-orange-700 border-[2px] rotate-[45deg]"></div>
                            <div class="absolute w-[20px] h-[20px] rounded-md border border-indigo-700 border-[2px] rotate-[80deg]"></div>
                        </div>
                        <span class="font-semibold"> Reduced Costs</span>
                    </div>
                    <div class="w-full mt-7">
                        <a href="/web/modules/" class="border bg-default text-theme_text_color border-default rounded-md w-[200px] h-[40px] flex items-center justify-center font-semibold">
                            Learn More
                            <span class="material-symbols-outlined ml-2"> arrow_forward_ios </span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="intro-top-rounder absolute top-0 left-0 w-[50px] h-[50px] bg-default"></div>
        </div>
    </div>
</div>