<div id="why-use-startapp" class="w-full min-h-[70vh] lg:pt-10 xl:pt-10 flex items-center justify-start flex-col relative">
    <div class="lg:w-[90%] xl:w-[90%] w-[80%] h-full grid xl:grid-cols-2 lg:grid-cols-2 gap-x-9">
        <div class="w-full h-full flex items-center justify-center">
            <div class="w-full h-[max-content] gap-y-5 lg:gap-y-0 xl:gap-y-0 xl:h-[600px] grid xl:grid-rows-3 xl:grid-cols-3">
                <div class=""></div>
                <div class="w-full lg:h-full xl:h-full h-[240px] shadow-lg p-3 rounded-md border border border-orange-200 bg-orange-50 flex items-center justify-center flex-col">
                    <img src="/static/images/web/benefit1.svg" alt="" class="mb-2 w-[55px] object-fit">
                    <span class="text-orange-700 text-center text-13">
                        Empowering Micro & Medium Enterprises in Africa.
                    </span>
                    <span class="text-11">
                        Varyon ERP is designed to promote financial 
                        inclusion by providing SMEs with the tools 
                        and capabilities they need to succeed.
                    </span>
                </div>
                <div class=""></div>
                <div class="w-full lg:h-full xl:h-full h-[240px] shadow-lg p-3 rounded-md border border-indigo-200 bg-purple-50 flex items-center justify-center flex-col">
                    <img src="/static/images/web/efficiency.svg" alt="" class="mb-2 w-[55px] object-fit">
                    <span class="text-purple-700 text-center text-13">
                        Operational Efficiency
                    </span>
                    <span class="text-11">
                        Automate manual or routine tasks, implement smarter workflows and gain efficiency
                    </span>
                </div>
                <div class="w-full h-full lg:grid xl:grid grid-cols-2 grid-rows-2 gap-2 hidden">
                    <div class="w-full h-full border-r border-orange-200 border-b border-dotted rounded-br-md"></div>
                    <div class="w-full h-full border-l border-b border-emerald-300 border-dotted rounded-bl-md"></div>
                    <div class="w-full h-full border-r border-t border-indigo-200 border-dotted mt-[0.5px] rounded-tr-md"></div>
                    <div class="w-full h-full border-l border-t border-default border-dotted ml-[.5px] rounded-tl-md"></div>
                </div>
                <div class="w-full lg:h-full xl:h-full h-[240px] shadow-lg p-3 rounded-md border border-emerald-200 bg-emerald-50 flex items-center justify-center flex-col">
                    <img src="/static/images/web/realtime.svg" alt="" class="mb-2 w-[55px] object-fit">
                    <span class="text-emerald-700 text-center text-13">
                        Realtime Reporting
                    </span>
                    <span class="text-11">
                        Analyze and compare every aspect of your business from a single point of view
                    </span>
                </div>
                <div class=""></div>
                <div class="w-full lg:h-full xl:h-full h-[240px] shadow-lg p-3 rounded-md border border-default bg-indigo-50 flex items-center justify-center flex-col">
                    <img src="/static/images/web/reducedcost.svg" alt="" class="mb-2 w-[55px] object-fit">
                    <span class="text-default text-center text-13">
                        Reduced Costs
                    </span>
                    <span class="text-11">
                        Reduced paperwork and optimize daily routines, decrease repetitive tasks. 
                        Speed up business operations that 
                        involve information requests and approvals.
                    </span>
                </div>
            </div>
        </div>
        <div class="w-full">
            <div class="w-full lg:mb-2 xl:mb-2 mt-10 lg:translate-y-[-20%] xl:translate-y-[-20%]">
                <h1 class="font-bold text-[40px] leading-[1.5]">Why use Varyon ERP?</h1>
                <span>
                    Varyon ERP systems enable businesses to have greater insight and visibility into their operations. 
                    Access to this key information allows them to make critical business decisions 
                    sand to maintain a competitive edge in their industry, 
                    no matter how big or small the competition may be.
                </span>
            </div>
            <div class="w-full lg:h-[600px] xl:h-[600px] h-[max-content] mt-10 grid-rows-2">
                <div class="w-[80%] relative grid lg:h-[300px] xl:h-[300px] h-[180px]">
                    <div class="w-[250px] h-[250px] absolute bottom-[-100px] left-[70px] border border-secondary_color/50 rounded-md"></div>
                    <div class="w-[250px] h-[250px] absolute bottom-[-120px] left-[90px] border border-indigo-400 rounded-md"></div>
                    <img src="/static/images/web/currency_dashboard.png" class="w-full h-full rounded-md shadow-md relative" alt="">
                </div>
                <div class="w-[80%] relative lg:h-[300px] xl:h-[300px] h-[180px] float-right translate-y-[-25%]">
                    <img src="/static/images/web/exchange_rates_dashboard.png" class="w-full h-full rounded-md  shadow-md relative" alt="">
                </div>
            </div>
        </div>
    </div>
</div>