<div class="col-span-1 w-full h-full grid grid-rows-2 gap-y-8">
  
    <div class="-2 intro-y h-full">
        <div class="box p-3 h-full">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">Attendance Details</h4>
            </div>
            <div class="my-2 bg-gray-300 w-full h-[3px] rounded-full"></div>
            <div  class="w-full h-[90%] flex items-center justify-center">
                <div  class="w-[200px] h-[200px] rounded-full border-orange-500 border-[7px]  flex items-center justify-center flex-col">
                <h2   id="attendance" class="font-bold text-27 text-orange-800"></h2>
                <span class="mt-2 text-13 font-semibold">Employees In Attendance</span>
                <!-- <span class="mt-2 text-13 font-semibold text-default">255 Present</span> -->
            </div>
        </div>
        </div>
    </div>

    <div class="-2 intro-y h-full">
        <div class="box p-3 h-full">
           
            <div class="box w-full h-full p-3 grid grid-cols-2">
                <!-- <span class="font-bold">Annual Profit</span> -->
                <!-- <div id="monthly-revenue"></div> -->
                <div class="w-full flex items-center justify-center flex-col border-r">
                    <h1 id="present" class="font-bold text-30">200</h1>
                    <span class="text-12 mt-3">Present Employees</span>
                    <span class="material-symbols-outlined text-16 text-gray-400 mt-1">
                        badge
                    </span>
                </div>
             
                <div class="w-full flex items-center justify-center flex-col">
                    <h1 id="emp-on-leave"  class="font-bold text-30 text-orange-700">15</h1>
                    <span class="text-12 mt-3 text-orange-700">Employees On Leave</span>
                    <span
                        class="material-symbols-outlined text-16 text-gray-400 mt-1 text-orange-700">
                        logout
                    </span>
                </div>
            </div>
    </div>
</div>