<div class="w-[70%] onboarding-actions mx-auto h-full flex items-center justify-end py-5 intro-y">
    <button action="prev" class="btn onboarding-action-btn flex items-center justify-center border rounded-md border px-5 bg-gray-300 w-[120px] mr-5">
        <span class="material-symbols-outlined mr-2"> west </span>
        Prev
    </button>
    <button action="next" class="btn onboarding-action-btn flex items-center justify-center border rounded-md border px-5 bg-default text-theme_text_color w-[120px]">
        Next
        <span class="material-symbols-outlined ml-2"> trending_flat </span>
    </button>
</div>