<div class="w-[300px] h-[200px] grid grid-cols-7 grid-rows-10 gap-10 fixed bottom-[10%] left-[2%] overflow-hidden">
    <div class="bg-gray-300 rounded-full w-[7px] h-[7px]"></div>
    <div class="bg-gray-300 rounded-full w-[7px] h-[7px]"></div>
    <div class="bg-gray-300 rounded-full w-[7px] h-[7px]"></div>
    <div class="bg-gray-300 rounded-full w-[7px] h-[7px]"></div>
    <div class="bg-gray-300 rounded-full w-[7px] h-[7px]"></div>
    <div class="bg-gray-300 rounded-full w-[7px] h-[7px]"></div>
    <div class="bg-gray-300 rounded-full w-[7px] h-[7px]"></div>
    <div class="bg-gray-300 rounded-full w-[7px] h-[7px]"></div>
    <div class="bg-gray-300 rounded-full w-[7px] h-[7px]"></div>
    <div class="bg-gray-300 rounded-full w-[7px] h-[7px]"></div>
    <div class="bg-gray-300 rounded-full w-[7px] h-[7px]"></div>
    <div class="bg-gray-300 rounded-full w-[7px] h-[7px]"></div>
    <div class="bg-gray-300 rounded-full w-[7px] h-[7px]"></div>
    <div class="bg-gray-300 rounded-full w-[7px] h-[7px]"></div>
    <div class="bg-gray-300 rounded-full w-[7px] h-[7px]"></div>
    <div class="bg-gray-300 rounded-full w-[7px] h-[7px]"></div>
    <div class="bg-gray-300 rounded-full w-[7px] h-[7px]"></div>
    <div class="bg-gray-300 rounded-full w-[7px] h-[7px]"></div>
    <div class="bg-gray-300 rounded-full w-[7px] h-[7px]"></div>
    <div class="bg-gray-300 rounded-full w-[7px] h-[7px]"></div>
    <div class="bg-gray-300 rounded-full w-[7px] h-[7px]"></div>
    <div class="bg-gray-300 rounded-full w-[7px] h-[7px]"></div>
    <div class="bg-gray-300 rounded-full w-[7px] h-[7px]"></div>
    <div class="bg-gray-300 rounded-full w-[7px] h-[7px]"></div>
    <div class="bg-gray-300 rounded-full w-[7px] h-[7px]"></div>
    <div class="bg-gray-300 rounded-full w-[7px] h-[7px]"></div>
    <div class="bg-gray-300 rounded-full w-[7px] h-[7px]"></div>
    <div class="bg-gray-300 rounded-full w-[7px] h-[7px]"></div>
    <div class="bg-gray-300 rounded-full w-[7px] h-[7px]"></div>
    <div class="bg-gray-300 rounded-full w-[7px] h-[7px]"></div>
    <div class="bg-gray-300 rounded-full w-[7px] h-[7px]"></div>
    <div class="bg-gray-300 rounded-full w-[7px] h-[7px]"></div>
    <div class="bg-gray-300 rounded-full w-[7px] h-[7px]"></div>
    <div class="bg-gray-300 rounded-full w-[7px] h-[7px]"></div>
    <div class="bg-gray-300 rounded-full w-[7px] h-[7px]"></div>
    <div class="bg-gray-300 rounded-full w-[7px] h-[7px]"></div>
    <div class="bg-gray-300 rounded-full w-[7px] h-[7px]"></div>
    <div class="bg-gray-300 rounded-full w-[7px] h-[7px]"></div>
    <div class="bg-gray-300 rounded-full w-[7px] h-[7px]"></div>
    <div class="bg-gray-300 rounded-full w-[7px] h-[7px]"></div>

</div>