<div class="w-full m-auto h-full flex items-center justify-start flex-col hidden onboarding-stage" stage="2">
    <div class="h-full grid md:grid-cols-2">
        <!-- LEFT PANEL -->
        <div class="bg-indigo-950 text-white flex flex-col justify-between p-20">

            <div class="">

                <h1 class="text-4xl font-bold leading-tight mb-6">
                    Let’s get <br> you started!
                </h1>

                <p class="text-gray-300 max-w-md mb-8">
                    Please lets start by changing the Temporary password. To avoid any issues 
                </p>

                <button class="flex items-center gap-3 bg-indigo-900/60 hover:bg-indigo-800 px-5 py-3 rounded-xl transition">
                    <span class="w-8 h-8 flex items-center justify-center bg-white/20 rounded-full">▶</span>
                    <span class="text-sm">More on how to use Varyon HRMIS</span>
                </button>
                </div>

                <div class="text-sm text-gray-400 space-y-2">
                <p>Get Certified? <span class="text-white underline cursor-pointer">Learn More</span></p>
                <a href="https://varyon-hrmis.com/support"><p class="text-indigo-300 cursor-pointer">Need help?</p></a>
            </div>
        </div>


        <!-- RIGHT PANEL -->
        <div class="flex items-center justify-center p-8">

            <div class="w-full max-w-lg">

            <!-- Step Indicator -->
            <div class="flex justify-between items-center mb-10">
                <h3 class="text-gray-600 font-medium">Password</h3>

                <div class="flex items-center gap-3">
                <div class="w-4 h-4 bg-indigo-500 rounded-full"></div>
                <div class="w-10 h-[2px] bg-indigo-300"></div>
                <div class="w-4 h-4 bg-indigo-500 rounded-full"></div>
                <div class="w-10 h-[2px] bg-indigo-300"></div>
                <div class="w-4 h-4 border-2 border-indigo-500 rounded-full"></div>
                </div>
            </div>

            <!-- FORM -->
            <div class="space-y-4">

                <div class="w-full password-field-wrapper"></div>
                <small class="main-error text-red"></small>
                <button id="update-password" class="btn bg-indigo-600 text-white text-theme_text_color font-bold w-full h-[45px] rounded-md mt-5 intro-y">
                    <span class="flex items-center justify-center">
                        Update Password
                        <span class="material-symbols-outlined ml-2 text-18"> task_alt </span>
                    </span>
                </button>
            </div>

            <!-- Buttons -->
            <div class="flex justify-between items-center mt-8">
                <button action="prev" class="px-6 onboarding-action-btn py-3 border border-gray-400 rounded-xl text-gray-600 hover:bg-gray-200 transition">
                    Back
                </button>

                <button action="next" class="px-8 onboarding-action-btn py-3 bg-indigo-600 hover:bg-indigo-700 text-white rounded-xl shadow-md transition">
                    next
                </button>
            </div>

            <!-- Footer -->
            <p class="text-xs text-gray-400 mt-6 text-center">
                Please make sure you agree with our 
                <span class="underline cursor-pointer">Terms</span> and 
                <span class="underline cursor-pointer">Privacy Policy</span>
            </p>

            </div>
        </div>

    </div>
</div>