<div class="w-[60%] m-auto h-full flex items-center justify-start flex-col hidden onboarding-stage" stage="2">
    <div class="intro-y mb-5">
        <h1 class="text-25 font-bold">Let's Setup a New Password</h1>
    </div>
    <div class="w-[400px] h-[max-content] transition duration-1000 h-max-content border border-dotted rounded-md border-gray-300 shadow-lg bg-white p-10 intro-y">
        <div class="w-full flex items-center justify-center">
            <img src="/static/images/logo/logo.svg" class="w-[100px] h-[50px] company-logo object-contain mb-1" alt="">
        </div>
        <div class="intro-y">
            <div class="font-semibold my-2 text-center text-12">Provide a new password that will be used to authenticate your account</div>
        </div>
        <div class="w-full password-field-wrapper">

        </div>
        <small class="main-error text-red"></small>
        <button id="update-password" class="btn bg-default text-theme_text_color font-bold w-full h-[45px] rounded-md mt-5 intro-y">
            <span class="flex items-center justify-center">
                Update Password
                <span class="material-symbols-outlined ml-2 text-18"> task_alt </span>
            </span>
        </button>
    </div>
</div>