<div class="w-full flex items-center justify-end h-[70px] ">
    <div class="grid grid-cols-5 gap-x-5 w-[40%] translate-y-[-50%]">
        <div class="flex items-center justify-center flex-col">
            <div class="w-[30px] h-[30px] rounded-full bg-default text-theme_text_color flex items-center justify-center font-bold stage-circle" stage="1">1</div>
            <span class="text-10 font-semibold">Welcome</span>
        </div>
        <div class="flex items-center justify-center flex-col">
            <div class="w-[30px] h-[30px] rounded-full bg-gray-100 border border-gray-400 border-dotted flex items-center justify-center font-bold stage-circle" stage="2">2</div>
            <span class="text-10 font-semibold">Change Password</span>
        </div>
        <div class="flex items-center justify-center flex-col">
            <div class="w-[30px] h-[30px] rounded-full bg-gray-100 border border-gray-400 border-dotted flex items-center justify-center font-bold stage-circle" stage="3">3</div>
            <span class="text-10 font-semibold">Your Role</span>
        </div>
        <div class="flex items-center justify-center flex-col">
            <div class="w-[30px] h-[30px] rounded-full text-30 bg-gray-100 border border-gray-400 border-dotted flex items-center justify-center font-bold stage-circle" stage="4">
                <span class="material-symbols-outlined">check</span>
            </div>
            <span class="text-10 font-semibold">Complete</span>
        </div>
    </div>       
</div>