<div class="w-full m-auto h-full onboarding-stage hidden" stage="1">
    
    <div class="w-full flex items-center justify-between">
        <div class="w-50 intro-y">
            <h1 class="text-35 font-bold intro-y">HELLO <span class="user-names"></span>!</h1>
        </div>
        <div class="intro-y">
            <img src="/static/images/others/welcome.svg" alt="" class="w-[200px] h-[150px]">
        </div>
    </div>
    <div class="mt-10">
        <div class="w-full intro-y">
            <h3 class="font-bold mb-3 intro-y">Welcome to Examinations Council HRMIS!</h3>
        </div>
        <div class="intro-y">
            We are excited to have you on board! <br> Our comprehensive HRMIS system is designed to streamline and optimize Councils HR operations. <br>
            With HRMIS Solution, 
            you'll have access to a suite of Roles that cater to various aspects of our organization HR facilities. <br>
            Let's take a brief tour of our HR Facilities:
        </div>

        <div class="intro-y w-full">
            With HRMIS, you'll enjoy a seamless and integrated experience across all HR Facilities, enabling you to an automated experience in the FLow of operations. <br><br>
            Explore our HR Facilities, and discover how HRMIS can transform and automate our operations!
        </div>
        <div class="intro-y w-full">
            <h3 class="font-bold text-30 mt-10">
                Click Next to go to the next stage
            </h3>
        </div>
    </div>
</div>