<div class="col-span-1 w-full h-full grid grid-rows-2 gap-y-8">
    <div class="-2 intro-y h-full">
        <div class="box p-3 h-full overflow-hidden">
            <div class="w-full h-[2rem] flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">OutCome Metrics</h4>
            </div>
            <div class="my-2 bg-gray-300 w-full h-[3px] rounded-full"></div>
            <div class="w-full h-[80%] gap-4">
                <div class="p-2">
                    <h3 class="grid content-start h-[2rem]">Average Resolution Time</h3>
                    <div class="grid font-semibold text-xl place-content-center h-[80%]"><div class="" id="average-resolutions-time">00</div><small class="">days</small></div>
                </div>
                <div class="p-2">Desplinary Actions Taken</div>
                <div class="grid place content-center" id="actions-taken-chart"></div>
            </div>
          
         
        </div>
    </div>
    <div class="-2 intro-y h-full">
        <div class="box p-3 h-full">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">Desplinary Frequancy</h4>
            </div>
            <div class="my-2 bg-gray-300 w-full h-[3px] rounded-full"></div>
            <div class="w-full h-[88%]">
                <div class="w-full h-full" id="employye-Retention-chart"></div>
            </div>
            
        </div>
    </div>
</div>