<div class="-2 w-full h-full intro-y relative dashboard-content">
    <div class="box w-full h-full flex flex-col p-3 shadow-lg rounded-lg shadow-lg rounded-lg shadow-md">
        <span class="font-bold mb-2 border-b border-white ">Appointment Statistics</span>
        <div class="flex flex-col text-gray-600 p-4 gap-2">
            <div class="flex justify-between items-center">
                <div class="gap-4 flex items-center"> 
                    <span class="material-symbols-outlined rounded-full size-3 flex items-center justify-center">
                        total_dissolved_solids
                    </span>
                    <span>Total Appointments</span>
                </div>
                <span class="ml-auto bg-gray-200 rounded-full p-3 text-gray" id="total_appointments"></span>
            </div>
            
            <div class="flex justify-between">
                  <div class="gap-4 flex items-center">
                    <span class="material-symbols-outlined material-symbols-outlined bg-green-300 rounded-full size-3 flex items-center justify-center">
                        done_all
                        </span>
                        Closed Appointments
                  </div>
                <span class="ml-auto bg-gray-200 rounded-full p-3 text-gray" id="closed_appointments"></span> 
            </div>
            <div class="flex justify-between ">
                   <div class="gap-4 flex items-center">
                    <span class="material-symbols-outlined material-symbols-outlined bg-orange-300 rounded-full size-3 flex items-center justify-center">
                        pending
                        </span>
                        Pending Appointments
                   </div>
              
                <span class="ml-auto bg-gray-200 rounded-full p-3 text-gray" id="pending_appointments"></span> 
            </div>
            <div class="flex justify-between ">
                   <div class="gap-4 flex items-center">
                    <span class="material-symbols-outlined material-symbols-outlined bg-red-300 rounded-full size-3 flex items-center justify-center">
                        do_not_disturb_off
                        </span>
                        Cancelled Appointments
                   </div>
                <span class="ml-auto bg-gray-200 rounded-full p-3    text-gray" id="counciled_appointments">0</span> 
            </div>
            
        </div>
    </div>
</div>
