<div class="-2 w-full h-full intro-y relative dashboard-content">
    <!-- Repeat this structure for each row -->
    <div class="box w-full h-full flex flex-col p-3 bg-white rounded-lg shadow-md">
        <span class="font-bold text-lg mb-2">Contracts</span>
        <div class="flex flex-col text-gray-600 space-y-6 pt-4">
            <div class="flex justify-between">
                <span class="">Total Contracts:</span>
                <span class="ml-auto bg-gray-500 rounded-full p-2 text-white" id="total_contracts"></span> 
            </div>
            <div class="flex justify-between">
                <span class="">Active Contracts:</span>
                <span class="ml-auto bg-blue-500 rounded-full p-2 text-white">7</span> 
            </div>
            <div class="flex justify-between">
                <span class="">Expired Contracst:</span>
                <span class="ml-auto bg-red-500 rounded-full p-2 text-white">2</span> 
            </div>
            <div class="flex justify-between">
                <span class="">Unsigned Contract:</span>
                <span class="ml-auto bg-green-500 rounded-full p-2 text-white">0</span> 
            </div>
        </div>
    </div>
</div>