<div class=" w-full h-full col-span-2 intro-y">
    <div class="-2 w-full h-full intro-y">
        <div class="box w-full h-full flex items-center justify-start flex-col p-2 relative ">
            <div class="flex items-center justify-between w-full">
                <span class="font-bold w-full mb-1">Campaigns Performance  <p class="font-light text-[10px]">Year To Date</p></span>
            </div>
            <div class="w-full  grid grid-cols-4 gap-x-4 h-full">
                <div class="w-full h-full flex items-center justify-center flex-col">
                    <div class="w-[120px] h-[120px] rounded-full border-[5px] border-r-indigo-700 border-b-indigo-400  border-l-pink-500 border-t-pink-300 flex items-center justify-center flex-col">
                        <span class="font-bold text-default text-[23px] total-campaigns" id="total-campaigns">0</span>
                        <small class="mt-2 font-semibold text-11">Top Campaigns</small>
                    </div>
                </div>
                <div class="w-full h-full border-l border-l-[2px] border-l-dotted pl-3 grid grid-rows-2 gap-y-3 relative overflow-hidden">
                    <div class="w-fullh-full flex items-center justify-center flex-col border-b">
                        <div class="text-[20px] font-bold text-default new-leads" id="leads_generated_thru_email">0</div>
                        <span class="text-12 mt-2">Leads Generated</span>
                    </div>
                    <div class="w-fullh-full flex items-center justify-center flex-col">
                        <div class="text-[24px] font-bold text-gray-400 campaign_performance"> <span id="campaign_performance"></span>0 %</div>
                        <span class="text-12 mt-2 z-[3] text-center w-full">Campaign Overall Performance</span>
                    </div>
                </div>
                <div class="w-full h-full border-l border-l-[2px] border-l-dotted pl-2 col-span-2  relative">
                    <p class="font-light text-12">Campaign By Type</p>
                    <div class="h-[90%] w-full campaign_by_type flex justify-center items-center" id="campaign_by_type"></div>
                </div>
            </div>
        </div>
    </div>
</div>
