<div class="-2 w-full intro-x dashboard-content relative">
    <div class="box w-full h-full p-5">
        <h3 class="font-bold text-gray-700 w-full border-b pb-2">Quick Links</h3>
        
        <!-- New Ticket -->
        <a href="/accounts"
            class="w-full flex items-center justify-start h-[60px] hover:text-blue-700 transition duration-100 hover:translate-x-[-3%]">
            <span class="material-symbols-outlined text-[24px] mr-4 text-yellow-800">
                add
            </span>
            <span class="text-lg">New Ticket</span>
        </a>
        
        <!-- Ticket List -->
        <a href="accounting_reports/general_ledger"
            class="w-full flex items-center justify-start h-[60px] hover:text-blue-700 transition duration-100 hover:translate-x-[-3%] mt-4">
            <span class="material-symbols-outlined text-[24px] mr-4 text-warning">
                transition_slide
            </span>
            <span class="text-lg">Ticket List</span>
        </a>

        <!-- Resolved Tickets -->
        <a href="#" class="w-full flex items-center justify-start h-[60px] hover:text-blue-700 transition duration-100 hover:translate-x-[-3%] mt-4">
            <span class="material-symbols-outlined text-[24px] mr-4 text-green-500">
                done
            </span>
            <span class="text-lg">Resolved Tickets</span>
        </a>
         <a href="#" class="w-full flex items-center justify-start h-[60px] hover:text-blue-700 transition duration-100 hover:translate-x-[-3%] mt-4">
            <span class="material-symbols-outlined text-[24px] mr-4 text-green-500">
                done
            </span>
            <span class="text-lg">Resolved Tickets</span>
        </a>
        <!-- Chats Tickets -->
    </div>
</div>
