<div class="-2 w-full h-full  intro-x dashboard-content relative">
    <div class="box w-full h-full p-3">
        <h3 class="font-semibold text-12 text-gray-700 w-full border-b pb-2">Quick Links</h3>
        
        <!-- New Ticket -->
        <a href="/app/crm/lead/?app=lead&page=new-form&content_type=lead"
            class="w-full flex items-center justify-start h-[30px] hover:text-blue-700 transition duration-100 hover:translate-x-[-3%]">
            <span class="material-symbols-outlined text-[12px] mr-4 text-yellow-800">
                add
            </span>
            <span class="">New Lead</span>
        </a>
        
        <!-- Ticket List -->
        <a href="/app/crm/prospect/?app=prospect&page=new-form&content_type=prospect"
            class="w-full flex items-center justify-start h-[30px] hover:text-blue-700 transition duration-100 hover:translate-x-[-3%] mt-2">
            <span class="material-symbols-outlined text-[12px] mr-4 text-warning">
                transition_slide
            </span>
            <span class="">New Prospect</span>
        </a>

        <!-- Resolved Tickets -->
        <a href="/app/crm/opportunity/?app=opportunity&page=new-form&content_type=opportunity" class="w-full flex items-center justify-start h-[30px] hover:text-blue-700 transition duration-100 hover:translate-x-[-3%] mt-2">
            <span class="material-symbols-outlined text-[12px] mr-4 text-green-500">
                done
            </span>
            <span class="">New Opportunity</span>
        </a>
         <a href="/app/crm/contract/?app=contract&page=new-form&content_type=contract" class="w-full flex items-center justify-start h-[30px] hover:text-blue-700 transition duration-100 hover:translate-x-[-3%] mt-2">
            <span class="material-symbols-outlined text-[12px] mr-4 text-green-500">
                done
            </span>
            <span class="">New Contract</span>
        </a>
    </div>
</div>
