<div class="w-full h-full">
    <div class="-2 row-span-2 w-full h-full intro-y">
        <div class="box w-full h-full p-3">
            <div class="h-full w-full relative">
                <div class="flex items-center justify-between w-full">
                    <span class="font-bold w-full mb-3">Recent Communication</span>
                    <button class="flex items-center justify-start min-w-[120px]">
                        View More
                        <span class="material-symbols-outlined text-18 ml-3">
                            arrow_right_alt
                        </span>
                    </button>
                </div>
                <div class="w-full h-[90%]">
                    <div class="w-full h-full overflow-y-auto">
                        <div class="grid grid-cols-11 w-full h-[30px] bg-gray-100 text-11 rounded-t rounded-md mt-2">
                            <span class="flex items-center justify-start col-span-2">
                                <span class="material-symbols-outlined mr-1 text-orange-600">date_range</span>
                                Date||Communication
                            </span>
                            <span class="flex items-center justify-start col-span-3">
                                <span class="material-symbols-outlined mr-1 text-indigo-600">signature</span>
                                Group
                            </span>
                            <span class="flex items-center justify-start col-span-2">
                                <span class="material-symbols-outlined mr-1 text-emerald-600">redeem</span>
                                Subject
                            </span>
                            <span class="flex items-center justify-start col-span-2">
                                <span class="material-symbols-outlined mr-1 text-blue-600">database</span>
                                Status
                            </span>
                        </div>
                        <div class="w-full h-full overflow-y-auto social-media-posts" id="previous_communications">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>