<div class="-2 min-h-[300px] w-full intro-x row-span-2">
    <div class="box w-full h-full p-3">
        <div class="h-full w-full relative">
            <div class="h-full w-full p-2">
                <div class="w-full h-full border-r">
                    <div class="h-full w-full">
                        <h3 class="font-semibold text-14 text-gray-700 w-full pb-2">Monthly Campaigns</h3>
                        <div class="h-[90%] w-full platforms_stats" id="platforms_stats"></div>
                    </div>
                </div>
                
            </div>
            <!-- <div class="w-full platforms" id="platforms">
            
            </div> -->
        </div>
    </div>
</div>