<div class="w-full h-full">
    <div class="-2 w-full h-full intro-x">
        <div class="box w-full h-full p-3 gap-3">
            <div class="h-full w-full relative">
                <h3 class="font-semibold text-gray-700 w-full pb-2">Top Customers</h3>
                <div class="w-full h-full text-13 mt-1 top-customers" id="top-customers">
                    <a href="" class="w-full flex items-center justify-between mt-2">
                        <span class="flex items-center justify-start text-12">
                            <span class="material-symbols-outlined text-18 mr-1 text-orange-800">person</span>
                            Bsks World Inc
                        </span>
                        <span class="flex items text-[10px] justify-end">
                            joined On 20th mar, 2024
                            <span class="material-symbols-outlined text-15 ml-2">chevron_right</span>
                        </span>
                    </a> 
                </div>
            </div>
        </div>
    </div>
</div>