{% load static %}
<div class="col-span-1 w-full h-full">
    <div class=" intro-y h-full bg-default text-theme_text_color rounded-md p-3">
        <div class="w-full flex items-center justify-between">
            <h4 class="font-semibold bg-white text-slate-600 px-4 py-1 rounded-md">Approvals By Status</h4>
        </div>
        <div class="my-2 bg-gray-300 w-full h-[3px] rounded-full"></div>
        <div id="stafff-project-task" class="w-full h-full">
            
        </div>
    </div>
</div>