<div class="col-span-1 w-full h-full grid grid-rows-2 gap-y-8">
    <div class="-2 intro-y h-full">
        <div class="box p-3 h-full ">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">Recent Applications</h4>
            </div>
            <div class="my-2 bg-gray-300 w-full h-[3px] rounded-full"></div>
           <div class="space-y-8 mt-8">
            <div class="flex justify-between m-4">
                <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined text-[30px] bg-blue-100 w-8 h-8 rounded-lg text-center">
                        done_outline
                        </span>
                    <div>Approved Training Program Applications</div>
                </div>
                <h1 class="text-20 items-center text-blue-300 w-8 h-8 rounded-full">0</h1>
            </div>
            <div class="flex justify-between m-4">
                <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined text-[30px] bg-red-100 w-8 h-8 rounded-lg text-center">
                        do_not_disturb_off
                        </span>
                    <div>Cancelled Training Program Applications</div>
                </div>
                <h1 class="text-20 items-center text-red-300 w-8 h-8 rounded-full">0</h1>
            </div>
            <div class="flex justify-between m-4">
                <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined text-[30px] bg-purple-100 w-8 h-8 rounded-lg text-center">
                        folded_hands
                        </span>
                    <div>Oldest Training Program Applications</div>
                </div>
                <h1 class="text-20 items-center text-purple-300 w-8 h-8 rounded-full">0</h1>
            </div>
            <div class="flex justify-between m-4">
                <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined text-[30px] bg-teal-100 w-8 h-8 rounded-lg text-center">
                        pending
                        </span>
                    <div>Pending Applications</div>
                </div>
                <h1 class="text-20 items-center text-teal-300 w-8 h-8 rounded-full">0</h1>
            </div>
           </div>
            
        </div>
    </div>
    <div class="-2 intro-y h-full">
        <div class="box p-3 h-full">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">Stats</h4>
            </div>
            <div class="my-2 bg-gray-300 w-full h-[3px] rounded-full"></div>
            <div class="space-y-8 mt-8">
                <div class="flex justify-between m-4">
                    <div class="flex items-center gap-2">
                        <span class="material-symbols-outlined text-[30px] bg-blue-100 w-8 h-8 rounded-lg text-center">
                            done_outline
                            </span>
                        <div>Approved Training Program Applications</div>
                    </div>
                    <h1 class="text-20 items-center text-blue-300 w-8 h-8 rounded-full">0</h1>
                </div>
                <div class="flex justify-between m-4">
                    <div class="flex items-center gap-2">
                        <span class="material-symbols-outlined text-[30px] bg-red-100 w-8 h-8 rounded-lg text-center">
                            do_not_disturb_off
                            </span>
                        <div>Cancelled Training Program Applications</div>
                    </div>
                    <h1 class="text-20 items-center text-red-300 w-8 h-8 rounded-full">0</h1>
                </div>
                <div class="flex justify-between m-4">
                    <div class="flex items-center gap-2">
                        <span class="material-symbols-outlined text-[30px] bg-purple-100 w-8 h-8 rounded-lg text-center">
                            folded_hands
                            </span>
                        <div>Oldest Training Program Applications</div>
                    </div>
                    <h1 class="text-20 items-center text-purple-300 w-8 h-8 rounded-full">0</h1>
                </div>
                <div class="flex justify-between m-4">
                    <div class="flex items-center gap-2">
                        <span class="material-symbols-outlined text-[30px] bg-teal-100 w-8 h-8 rounded-lg text-center">
                            pending
                            </span>
                        <div>Pending Applications</div>
                    </div>
                    <h1 class="text-20 items-center text-teal-300 w-8 h-8 rounded-full">0</h1>
                </div>
               </div>
        </div>
    </div>
</div>