{% extends "../client_app/layout.html" %}
{% block title %}
Transport Request
{% endblock title %}
{% block content %}
{% load static %}
<div class="mt-10 w-[96%] mx-auto h-[80vh]">
    <div class="w-full grid grid-cols-4 h-[75%] gap-7">
        <!-- tab list view for the  -->
        <div class="w-full col-span-4">
            <!-- BEGIN: top action -->
            <div class="col-span-12">
                <div class="intro-y flex items-center justify-between items-end h-[max-content]">
                    {% include 'client_app/components/navigators.html' %}
                    <!-- TITLE CONTENT -->
                    <!-- RIGHT ACTIONS -->
                    {% include "./components/controller.html" %}
                    <!-- RIGHT ACTIONS -->
                </div>
            </div>
            <!-- END: top action -->
    
            <!-- main content -->
            <div class="main-content-wrapper w-full">
                <div class="content-group list-view-content w-full">
                    {% include "./components/list_view.html" %}
                </div>
                <div class="content-group info-view-content w-full hidden">
                    {% include "./components/info_view.html" %}
                </div>
                <div class="content-group new-form-view-content w-full hidden">
                    {% include "./components/form.html" %}
                </div>
            </div>
            <!-- main content -->
        </div>

    
    </div>


</div>
{% endblock content %}