<div class="w-full mx-auto min-h-[500px] h-[max-content] relative lg:xl:mt-[70px] mt-0 lg:xl:rounded-t-[20px]">
    <div class="w-full min-h-[500px] modules-head-wrapper-faded bg-default/10 absolute top-0 left-0 lg:xl:rounded-t-[20px]"></div>
    <div class="w-full min-h-[500px] bg-default modules-head-wrapper top-0 left-0 lg:xl:rounded-t-[20px]"></div>
    <div class="lg:xl:w-[80%] w-full absolute lg:xl:left-[10%] left-0 top-[80px] h-full z-[10] grid lg:grid-cols-2 xl:grid-cols-2 gap-x-8 text-white lg:xl:rounded-t-[20px]">
        <div class="lg:xl:w-full w-[80%] mx-auto h-[max-content] flex items-start justify-end flex-col relative">
            <div class="absolute top-[50px] lg:xl:left-[-40px] left-[-10px] lg:xl:w-[200px] w-[100px] lg:xl:h-[300px] h-[140px] border border-pink-500 border-1 rounded-md"></div>
            <div class="absolute top-[120px] right-[50px] w-[100px] lg:xl:h-[300px] h-[140px] border border-teal-500 border-1 rounded-md"></div>
            <img src="/static/images/web/accounting_dashboard.png" alt="" class="rounded-md w-[80%] object-contain border-pink-500 border-2 border self-start justify-start z-1 relative">
            <img src="/static/images/web/asset_dashboard.png" alt="" class="rounded-md w-[80%]  border-teal-500 border-2 border object-contain translate-y-[-20%] self-end justify-end shadow-lg z-1 relative">
            <button class="play-btn flex items-center justify-center w-[80px] h-[80px] bg-white rounded-full border-pink-500 border border-2 absolute top-[30%] left-[40%] shadow-2xl text-pink-500 transition hover:scale-[1.1] hover:bg-pink-500 hover:text-white">
                <span class="material-symbols-outlined text-[50px]"> play_arrow </span>
            </button>
        </div>
        <div class="lg:xl:w-full w-full mx-auto h-[max-content] flex lg:xl:items-start items- center justify-start flex-col mt-[80px] bg-default lg:xl:bg-default/0 rounded-b-[20px] pb-20 lg:xl:pb-0">
            <h1 class="lg:xl:text-[60px] text-[40px] font-bold leading-[1.5] text-center">Varyon Modules</h1>
            <p class="mt-10 w-[80%] lg:xl:bg-full mx-auto lg:xl:text-white">
                Our Varyon ERP system integrates key business functions into a single platform, streamlining operations and 
                improving efficiency. It manages financial transactions, asset lifecycles, 
                inventory levels, and employee data. Payroll processing, procurement, and customer interactions are automated, 
                while budgeting tools help track financial planning and performance. 
                Together, these modules enhance decision-making and operational control across the organization.
            </p>
            <a href="" class="lg:xl:flex hidden items-center justify-center rounded-md bg-white mt-[30px] w-[50%] h-[50px] text-default font-bold border border-default">Get Started</a>
        </div>
    </div>
</div>