<div class="lg:xl:w-[70%] w-[80%] h-max-content mx-auto grid lg:grid-cols-2 mt-[350px] gap-x-7 pb-[200px] lg:xl:mt-[100px]">
    <div class="w-full h-max-content lg:xl:border-r border-r-indigo-500 border-dotted">
        <img src="/static/images/web/customer.png" alt="" class="my-10border border-indigo-400  object-contain bg-white rounded-md w-[95%]">
        <h1 class="lg:xl:text-[40px] text-[24px] leading-[1.1] font-semibold mb-10 text-default flex items-center justify-start">
            <span class="material-symbols-outlined text-[40px] text-indigo-500 mr-2"> add_chart </span>
            Accounting
        </h1>
        <p>
            Manages financial transactions, including general ledger, accounts payable, accounts receivable, and financial reporting. 
            It helps track income, expenses, and overall financial health. Some of the key Accounting features include:
        </p>
        <div class="w-full mt-5 grid lg:grid-cols-2">
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-indigo-600"></div>
                <p class="ml-1">Chart Of Accounts Setup</p>
            </div>
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-indigo-600"></div>
                <p class="ml-1">Customer Management</p>
            </div>
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-indigo-600"></div>
                <p class="ml-1">Supplier Management</p>
            </div>
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-indigo-600"></div>
                <p class="ml-1">Item/Service Management</p>
            </div>
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-indigo-600"></div>
                <p class="ml-1">Management Reports</p>
            </div>
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-indigo-600"></div>
                <p class="ml-1">Financial Reports</p>
            </div>
        </div>
    </div>
    <div class="w-full h-max-content lg:xl:translate-y-[15%]">
        <img src="/static/images/web/assets_dashboard.png" alt="" class="my-10 border border-pink-400  object-contain bg-white rounded-md">
        <h1 class="lg:xl:text-[40px] text-[24px] leading-[1.1] font-semibold mb-10 text-pink-600 flex items-center justify-start">
            <span class="material-symbols-outlined text-[40px] text-indigo-500 mr-2"> empty_dashboard </span>
            Asset Management
        </h1>
        <p>
            Tracks and manages the lifecycle of company assets, such as machinery, vehicles, and equipment. It helps with asset acquisition, 
            maintenance, depreciation, and disposal. Some of the key Asset Management features include:
        </p>
        <div class="w-full mt-5 grid lg:grid-cols-2">
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-pink-600"></div>
                <p class="ml-1">Asset Register</p>
            </div>
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-pink-600"></div>
                <p class="ml-1">Asset Depreciation</p>
            </div>
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-pink-600"></div>
                <p class="ml-1">Asset Insurance</p>
            </div>
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-pink-600"></div>
                <p class="ml-1">Asset Maintenance</p>
            </div>
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-pink-600"></div>
                <p class="ml-1">Asset Transfer</p>
            </div>
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-pink-600"></div>
                <p class="ml-1">Asset Revaluation</p>
            </div>
        </div>
    </div>
    <div class="w-full h-max-content mt-[60px] lg:xl:border-r border-r-teal-500 border-dotted">
        <img src="/static/images/web/stock_dashboard.png" alt="" class="my-10 border border-teal-400  w-[95%] object-contain bg-white rounded-md">
        <h1 class="lg:xl:text-[40px] text-[24px] leading-[1.1] font-semibold mb-10 text-teal-600 flex items-center justify-start">
            <span class="material-symbols-outlined text-[40px] text-indigo-500 mr-2"> data_check </span>
            Stock Management
        </h1>
        <p>
            Monitors inventory levels, stock movements, and warehouse operations. Ensures optimal stock levels, tracks goods in real-time, 
            and reduces stockouts or overstocking. Some of the key Stock Management features include:
        </p>
        <div class="w-full mt-5 grid lg:grid-cols-2">
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-teal-600"></div>
                <p class="ml-1">Stock Recording</p>
            </div>
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-teal-600"></div>
                <p class="ml-1">Stock Adjustiment/Movement</p>
            </div>
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-teal-600"></div>
                <p class="ml-1">Stock Check</p>
            </div>
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-teal-600"></div>
                <p class="ml-1">Stock Reconciliation</p>
            </div>
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-teal-600"></div>
                <p class="ml-1">Stock Revaluation</p>
            </div>
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-teal-600"></div>
                <p class="ml-1">Stock Reports</p>
            </div>
        </div>
    </div>
    <div class="w-full h-max-content mt-[40px] lg:xl:translate-y-[15%]">
        <img src="/static/images/web/hr_dashboard.png" alt="" class="my-10 border border-secondary_color/50  object-contain bg-white rounded-md">
        <h1 class="lg:xl:text-[40px] text-[24px] leading-[1.1] font-semibold mb-10 text-orange-600 mt flex items-center justify-start">
            <span class="material-symbols-outlined text-[40px] text-indigo-500 mr-2"> work </span>
            HR Management
        </h1>
        <p>Manages employee data, recruitment, performance evaluations, training, and attendance. It streamlines HR processes and ensures 
            regulatory compliance. Some of the key HR Management features include:
        </p>
        <div class="w-full mt-5 grid lg:grid-cols-2">
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-orange-600"></div>
                <p class="ml-1">Employee Management</p>
            </div>
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-orange-600"></div>
                <p class="ml-1">Leave Management</p>
            </div>
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-orange-600"></div>
                <p class="ml-1">Performance Management</p>
            </div>
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-orange-600"></div>
                <p class="ml-1">Seperation Management</p>
            </div>
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-orange-600"></div>
                <p class="ml-1">Recruitment & Selection</p>
            </div>
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-orange-600"></div>
                <p class="ml-1">HR Reports</p>
            </div>
        </div>
    </div>
    <div class="w-full h-max-content mt-[60px] lg:xl:border-r border-r-purple-500 border-dotted">
        <img src="/static/images/web/payroll_dashboard.png" alt="" class="my-10 border border-purple-400  w-[95%] object-contain  rounded-md">
        <h1 class="lg:xl:text-[40px] text-[24px] leading-[1.1] font-semibold mb-10 text-purple-800 flex items-center justify-start">
            <span class="material-symbols-outlined text-[40px] text-indigo-500 mr-2"> database </span>
            Payroll Management
        </h1>
        <p>
            Automates salary processing, tax deductions, and benefits management. Ensures accurate and timely payment to employees while 
            managing compliance with local tax regulations. Some of the key Payroll Management features include:
        </p>
        <div class="w-full mt-5 grid lg:grid-cols-2">
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-purple-600"></div>
                <p class="ml-1">Process Payroll</p>
            </div>
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-purple-600"></div>
                <p class="ml-1">Salary Advance</p>
            </div>
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-purple-600"></div>
                <p class="ml-1">Overtime</p>
            </div>
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-purple-600"></div>
                <p class="ml-1">Income Tax Bands</p>
            </div>
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-purple-600"></div>
                <p class="ml-1">NAPSA/NHIMA/PAYE</p>
            </div>
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-purple-600"></div>
                <p class="ml-1">Payroll Reports</p>
            </div>
        </div>
    </div>
    <div class="w-full h-max-content mt-[40px] lg:xl:translate-y-[20%]">
        <img src="/static/images/web/crm_dashboard.png" alt="" class="my-10 border border-gray-400  object-contain  rounded-md">
        <h1 class="lg:xl:text-[40px] text-[24px] leading-[1.1] font-semibold mb-10 text-brown-600 mt flex items-center justify-start">
            <span class="material-symbols-outlined text-[40px] text-indigo-500 mr-2"> support_agent </span>
            CRM
        </h1>
        <p>Helps manage interactions with customers, sales leads, and marketing campaigns. It stores customer data, tracks communication, 
            and improves customer service and retention. Some of the key CRM features include:
        </p>
        <div class="w-full mt-5 grid lg:grid-cols-2">
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-gray-600"></div>
                <p class="ml-1">Customer Management</p>
            </div>
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-gray-600"></div>
                <p class="ml-1">Sales Pipeline</p>
            </div>
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-gray-600"></div>
                <p class="ml-1">Customer Support</p>
            </div>
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-gray-600"></div>
                <p class="ml-1">Campaign(Email, Social Media)</p>
            </div>
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-gray-600"></div>
                <p class="ml-1">Customer Portal</p>
            </div>
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-gray-600"></div>
                <p class="ml-1">CRM Reports</p>
            </div>
        </div>
    </div>
    <div class="w-full h-max-content mt-[60px] lg:xl:border-r border-r-rose-500 border-dotted">
        <img src="/static/images/web/procurement_dashboard.png" alt="" class="my-10 border border-rose-400  w-[95%] object-contain  rounded-md">
        <h1 class="lg:xl:text-[40px] text-[24px] leading-[1.1] font-semibold mb-10 text-rose-800 flex items-center justify-start">
            <span class="material-symbols-outlined text-[40px] text-indigo-500 mr-2"> shopping_cart </span>
            Procurement
        </h1>
        <p>
            Manages the purchasing process, from vendor selection to purchase orders and supplier payments. It helps control procurement costs and 
            ensures timely delivery of goods and services. Some of the key Procurement features include:
        </p>
        <div class="w-full mt-5 grid lg:grid-cols-2">
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-rose-600"></div>
                <p class="ml-1">Process Payroll</p>
            </div>
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-rose-600"></div>
                <p class="ml-1">Salary Advance</p>
            </div>
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-rose-600"></div>
                <p class="ml-1">Overtime</p>
            </div>
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-rose-600"></div>
                <p class="ml-1">Income Tax Bands</p>
            </div>
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-rose-600"></div>
                <p class="ml-1">NAPSA/NHIMA/PAYE</p>
            </div>
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-rose-600"></div>
                <p class="ml-1">Payroll Reports</p>
            </div>
        </div>
    </div>
    <div class="w-full h-max-content mt-[40px] lg:xl:translate-y-[20%]">
        <img src="/static/images/web/crm_dashboard.png" alt="" class="my-10 border border-cyan-400  object-contain  rounded-md">
        <h1 class="lg:xl:text-[40px] text-[24px] leading-[1.1] font-semibold mb-10 text-cyan-600 mt flex items-center justify-start">
            <span class="material-symbols-outlined text-[40px] text-indigo-500 mr-2"> payments </span>
            Budgetting
        </h1>
        <p>Assists in planning and managing financial resources by forecasting revenues, expenses, and investments. It helps track 
            actual spending against the budget and supports financial decision-making. Some of the key Budgetting features include:
        </p>
        <div class="w-full mt-5 grid lg:grid-cols-2">
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-cyan-600"></div>
                <p class="ml-1">Customer Management</p>
            </div>
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-cyan-600"></div>
                <p class="ml-1">Sales Pipeline</p>
            </div>
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-cyan-600"></div>
                <p class="ml-1">Customer Support</p>
            </div>
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-cyan-600"></div>
                <p class="ml-1">Campaign(Email, Social Media)</p>
            </div>
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-cyan-600"></div>
                <p class="ml-1">Customer Portal</p>
            </div>
            <div class="flex items-center justify-start mb-2">
                <div class="rounded-full w-[14px] border-[2px] h-[14px] border border-cyan-600"></div>
                <p class="ml-1">CRM Reports</p>
            </div>
        </div>
    </div>
    
</div>