<div class="col-span-1 w-full h-full grid grid-rows-2 gap-y-3">
    <div class="-2 intro-y col-span-1">
        <div class="box p-3 h-full flex items-center justify-start flex-col">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">Recent Approval Groups</h4>
            </div>
            <div class="my-2 bg-gray-300 w-full h-[3px] rounded-full"></div>
        </div>
    </div>

    <div class="-2 intro-y col-span-1 mt-7">
        <div class="box p-3 h-full">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">Recent Workflows</h4>
                
            </div>
            <div class="my-2 bg-gray-300 w-full h-[3px] rounded-full"></div>
        </div>
    </div>
</div>