
{% load static %}
<div class="w-full h-[740px] grid grid-rows-2 gap-6">
   <div class="-2 intro-y h-full">
        <div class="box p-5 h-full">
            <div class="w-full flex items-center justify-between border-b">
                <h4 class="font-semibold text-black-600">Interviews This Week</h4>
            </div>
            <div class="my-3  w-full h-[3px] rounded-full" id="job-application "></div>          
        </div>
    </div>

    <!-- Add another card for the second row -->
    <div class="-2 intro-y h-full">
        <div class="box p-5 h-full">
            <div class="w-full flex items-center justify-between border-b">
                <h4 class="font-semibold text-black-600">Interview By Status</h4>
            </div>
            <div id="job_applic_by_desig-chart-info" class="w-full h-full"></div>
                 
        </div>
    </div>
</div>
