<div class="col-span-1 w-full h-full grid grid-rows-2 gap-y-7">
    <div class="-2 intro-y h-full">
        <div class="box p-3 h-full">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">Component Grade Distribution</h4>
            </div>
            <div  id="component-grade" class="my-2 bg-gray-300 w-full h-[3px] rounded-full"></div>
        </div>
    </div>

    <div class="-2 intro-y col-span-1">
        <div class="box p-3 h-full flex items-center justify-start flex-col">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">Component Grade Distribution Summary</h4>
            </div>
            <div class="w-full h-full flex items-center justify-center">
                <div id="component-grade-stats"></div>
            </div>
        </div>
    </div>
</div>
