{% extends "./layout.html" %}

{% block title %}
Password Reset Email
{% endblock %}

{% block content %}
{% load static %}
<div class="container login-wrapper">
    <div class="w-full min-h-screen p-3 md:p-20 flex items-center justify-center">
        <div class="w-96 intro-y">
            <div
                class="box px-5 py-8 mt-10 max-w-[450px] relative before:content-[''] before:z-[-1] before:w-[95%] before:h-full before:bg-slate-200 before:border before:border-slate-200 before:-mt-5 before:absolute before:rounded-lg before:mx-auto before:inset-x-0 before:dark:bg-darkmode-600/70 before:dark:border-darkmode-500/60">
                <img class="mx-auto w-24 intro-y auth-logo" alt="" src="/static/images/logo/default.svg">
                <div class="auth-company my-3 w-full text-center text-gray-500"></div>
                <div class="text-slate-600 text-20 font-medium text-center mt-5  mb-5 intro-y">Password Reset</div>
                <div class="w-full my-5 first-reset-stage">
                    <small class="">Your Email Address</small>
                    <input type="email" fieldname="email" value="" class="form-control py-3 px-4 block mb-4 mt-2" placeholder="Your Email Address"autocomplete="off">
                    <div id="email-auth-error" class="text-orange-600 text-12 text-md hidden my-4"></div>
                    <button id="reset-btn" class="btn bg-default border-none text-white w-full xl:mr-3 reset-btn">Reset</button>
                </div>
                <div class="w-full my-5 second-reset-stage hidden">
                    <div id="validation-fields-wrapper" class="grid w-full mt-3"></div>
                    <div id="validation-auth-error" class="text-orange-600 text-12 text-md hidden my-4"></div>
                    <button id="validate-password-reset" class="btn bg-default border-none text-white w-full mt-10">Update Password</button>
                </div>
               
                <div class="text-slate-500 flex justify-center text-xs sm:text-sm intro-y login-action-wrapper mt-10">
                    <a href="/auth/login" class="forgot-password">Rememberd Your Password?</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}