{% load static %}
<div class="w-full mt-5 intro-y">
    <div class="box p-3 h-[69vh] overflow-y-auto">
        <div class="w-full flex items-center justify-between">
            <span class=" flex items-center justify-center text-default">
                <small class="material-symbols-outlined text-default mr-1 text-17">earthquake</small>
                Foreign Exchange Rate Cross Relations
            </span>
        </div>
        <div class="forex-wrapper w-full h-[90%] mt-3 border rounded-t grid gap-0 overflow-hidden overflow-y-auto"></div>
    </div>
</div>