{% load static %}
<div class="w-full h-full grid grid-cols-13 border-b">
    <div class="w-full border-r h-full flex items-center justify-center bg-slate-50 text-12 border-b">
        <img src="{% static 'images/country/zm.svg' %}" class="w-[20px] h-[20px] rounded-full object-cover mr-2" alt="">
        ZMW
    </div>
    <div class="w-full border-r h-full flex items-center justify-center flex-col text-11">
        <div class="w-full h-full font-semibold flex items-center justify-center">27.0998</div>
        <small class="inverse text-gray-400">Inverse: 0.987</small>
    </div>
    <div class="w-full border-r h-full flex items-center justify-center flex-col text-11">
        <div class="w-full h-full font-semibold flex items-center justify-center">27.0998</div>
        <small class="inverse text-gray-400">Inverse: 0.987</small>
    </div>
    <div class="w-full border-r h-full flex items-center justify-center flex-col text-11">
        <div class="w-full h-full font-semibold flex items-center justify-center">27.0998</div>
        <small class="inverse text-gray-400">Inverse: 0.987</small>
    </div>
    <div class="w-full border-r h-full flex items-center justify-center flex-col text-11">
        <div class="w-full h-full font-semibold flex items-center justify-center">27.0998</div>
        <small class="inverse text-gray-400">Inverse: 0.987</small>
    </div>
    <div class="w-full border-r h-full flex items-center justify-center flex-col text-11">
        <div class="w-full h-full font-semibold flex items-center justify-center">27.0998</div>
        <small class="inverse text-gray-400">Inverse: 0.987</small>
    </div>
    <div class="w-full border-r h-full flex items-center justify-center flex-col text-11">
        <div class="w-full h-full font-semibold flex items-center justify-center">27.0998</div>
        <small class="inverse text-gray-400">Inverse: 0.324</small>
    </div>
    <div class="w-full border-r h-full flex items-center justify-center flex-col text-11 bg-gray-50">
        <div class="w-full h-full font-semibold flex items-center justify-center">27.0998</div>
        <small class="inverse text-gray-400">Inverse: 0.323</small>
    </div>
    <div class="w-full border-r h-full flex items-center justify-center flex-col text-11">
        <div class="w-full h-full font-semibold flex items-center justify-center">27.0998</div>
        <small class="inverse text-gray-400">Inverse: 0.0439</small>
    </div>
    <div class="w-full border-r h-full flex items-center justify-center flex-col text-11 bg-orange-50">
        <div class="w-full h-full font-semibold flex items-center justify-center">27.0998</div>
        <small class="inverse text-gray-400">Inverse: 0.892</small>
    </div>
    <div class="w-full border-r h-full flex items-center justify-center flex-col text-11">
        <div class="w-full h-full font-semibold flex items-center justify-center">27.0998</div>
        <small class="inverse text-gray-400">Inverse: 0.345</small>
    </div>
    <div class="w-full border-r h-full flex items-center justify-center flex-col text-11">
        <div class="w-full h-full font-semibold flex items-center justify-center">27.0998</div>
        <small class="inverse text-gray-400">Inverse: 0.987</small>
    </div>
    <div class="w-full h-full flex items-center justify-center flex-col text-11">
        <div class="w-full h-full font-semibold flex items-center justify-center">27.0998</div>
        <small class="inverse text-gray-400">Inverse: 0.987</small>
    </div>
    <!-- <div class="w-full h-full flex items-center justify-center"></div> -->
</div>