<div class="col-span-1 w-full h-full grid grid-rows-2 gap-y-7">
    <div class="-2 intro-y col-span-1">
        <div class="box p-3 h-full flex items-center justify-start flex-col">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">Job Openings</h4>
            </div>
            <div class="w-full h-full">
                <div class="w-full my-8 flex items-center justify-between">
                    <div class="flex flex-col">
                        <span class="font-semibold flex items-center justify-start">

                            <span class="material-symbols-outlined material-symbols-outlined text-[14px] mr-1 text-orange-600">
                                door_open
                                </span>
                            Openings
                        </span>
                        <small class="text-slate-500 ml-5 w-[90%]">
                            Total number of openings
                        </small>
                    </div>
                    <div class="total-openings rounded-full bg-gray-200 w-[30px] h-[30px] flex items-center justify-center text-[12px]" id="total_openins">
                        0
                    </div>
                </div>
                <div class="w-full my-8 flex items-center justify-between">
                    <div class="flex flex-col">
                        <span class="font-semibold flex items-center justify-start">

                            <span class="material-symbols-outlined material-symbols-outlined text-[14px] mr-1 text-orange-600">
                                empty_dashboard
                                </span>
                            Vacancies
                        </span>
                        <small class="text-slate-500 ml-5 w-[90%]">
                            Total number of Vacancies
                        </small>
                    </div>
                    <div class="total-openings rounded-full bg-gray-200 w-[30px] h-[30px] flex items-center justify-center text-[12px]" id="total_vacancies">
                        0
                    </div>
                </div>
                <div class="w-full my-8 flex items-center justify-between">
                    <div class="flex flex-col">
                        <span class="font-semibold flex items-center justify-start">

                            <span class="material-symbols-outlined material-symbols-outlined text-[14px] mr-1 text-orange-600">
                                block
                                </span>
                            Closed Job Openings
                        </span>
                        <small class="text-slate-500 ml-5 w-[90%]">
                            Closed Job Openings
                        </small>
                    </div>
                    <div class="total-openings rounded-full bg-gray-200 w-[30px] h-[30px] flex items-center justify-center text-[12px]" id="">
                        0
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="-2 intro-y col-span-1">
        <div class="box p-3 h-full flex items-center justify-start flex-col">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">Summary By Department</h4>
            </div>
            <div class="w-full h-[2px] bg-gray-300 rounded-full"></div>
            <div id="job-openings-data" class="w-full h-full"></div>
        </div>
    </div>
</div>