
<div class=" page-actions-wrapper flex items-center justify-between ">
    {% comment %} {% include 'client_app/components/navigators.html' %} {% endcomment %}
    <div class="content-group actions-group list-view-content list-actions flex items-center justify-center ml-3 customer-type">
        <select type="select" action-type="multi-content-toggler" class="lite-selector border rounded-md px-3 w-[230px]" placeholder="Select View">
            <option selected value="Acting Appointment">Acting Appointment</option>
            <option value="Acting Appointment Memo">Acting Appointment Memo</option>
            <option value="Acting Appointment Settings">Acting Appointment Settings</option>
        </select>
    </div>
    <div class="content-group info-view-content new-form-view-content form-content-view info-actions flex items-center justify-center hidden"></div>
</div>