<div class="flex justify-end items-center">
    <a class="new-action-btn h-[47px] text-16 w-[170px] btn bg-default text-theme_text_color shadow-md mr-2">
        <i data-lucide="save" class="w-[17px] h-[17px] mr-2"></i>
        Save
    </a>
</div>
<div class="w-full mt-5 intro-y">
    <div class="box p-3 h-[65vh]">
        <form class="w-full grid grid-cols-3 gap-3">
            <div class="invoice-hear w-full grid grid-cols-2 col-span-3 gap-2">
                <div class="w-full flex left-header-content">

                </div>
                <div class="w-full flex items-center justify-end">
                    <span class="material-symbols-outlined mr-2">
                        support_agent
                    </span>
                    <h1 class="font-bold text-[17px] text-gray-500">New leave type</h1>
                </div>
            </div>
            <div class="mt-2">
                <label for="modal-form-1" class="form-label text-slate-500">Leave Name</label>
                <input type="text" class="form-control w-full block mx-auto" placeholder="Leave Name">
            </div>
            <div class="mt-2">
                <label for="modal-form-1" class="form-label text-slate-500">Maximun Leave Allocation</label>
                <input type="text" class="form-control w-full block mx-auto" placeholder="Maximun Leave Allocation">

            </div>
            <div class="mt-2">
                 <label for="modal-form-1" class="form-label text-slate-500">Application After(Working Days)</label>
                <input type="text" class="form-control w-full block mx-auto" placeholder="Application After(Working Days)">

            </div>
            <div class="mt-2">
                 <label for="modal-form-1" class="form-label text-slate-500">Maximun Consecutive Leaves Allowed</label>
                <input type="text" class="form-control w-full block mx-auto" placeholder="Maximun Consecutive Leaves Allowed">

            </div>
            <div class="mt-2">
                <input id="checkbox-switch-4" class="form-check-input" type="checkbox" value=""> <label class="form-check-label" for="checkbox-switch-4">Is Carry Forward</label> 
 
            </div>
             <div class="mt-2">
                <input id="checkbox-switch-4" class="form-check-input" type="checkbox" value=""> <label class="form-check-label" for="checkbox-switch-4">Include holidays within leaves as leaves</label> 
 
            </div>
             <div class="mt-2">
                <input id="checkbox-switch-4" class="form-check-input" type="checkbox" value=""> <label class="form-check-label" for="checkbox-switch-4">Is Leave Without Pay</label> 
 
            </div>
             <div class="mt-2">
                <input id="checkbox-switch-4" class="form-check-input" type="checkbox" value=""> <label class="form-check-label" for="checkbox-switch-4">Is Partially Paid</label> 
 
            </div>
             <div class="mt-2">
                <input id="checkbox-switch-4" class="form-check-input" type="checkbox" value=""> <label class="form-check-label" for="checkbox-switch-4">Is Optional Leave</label> 
 
            </div>
             <div class="mt-2">
                <input id="checkbox-switch-4" class="form-check-input" type="checkbox" value=""> <label class="form-check-label" for="checkbox-switch-4">Allow Over Allocation</label> 
 
            </div>
             <div class="mt-2">
                <input id="checkbox-switch-4" class="form-check-input" type="checkbox" value=""> <label class="form-check-label" for="checkbox-switch-4">Allow Negative Balance</label> 
 
            </div>
             <div class="mt-2">
                <input id="checkbox-switch-4" class="form-check-input" type="checkbox" value=""> <label class="form-check-label" for="checkbox-switch-4">Is Compensatory</label> 
 
            </div>
             <div class="mt-2">
                <input id="checkbox-switch-4" class="form-check-input" type="checkbox" value=""> <label class="form-check-label" for="checkbox-switch-4">Allow Encashment</label> 
 
            </div>
             <div class="mt-2">
                <input id="checkbox-switch-4" class="form-check-input" type="checkbox" value=""> <label class="form-check-label" for="checkbox-switch-4">Allow Earned Leave</label> 
 
            </div>
        
            
        </form>
    </div>
</div>