{% load static %}
<div class="w-full">
    <div class="-2 intro-y">
        <div class="box p-3">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">Leave Summary</h4>
                
            </div>
            <div class="my-5 bg-gray-300 w-full h-[3px] rounded-full"></div>
            <div class="w-full my-8 flex items-center justify-between">
                <div class="flex flex-col">
                    <span class="font-semibold flex items-center justify-start">
                        <span class="material-symbols-outlined text-[14px] mr-1 text-orange-600">
                            draft_orders
                        </span>
                        Open
                    </span>
                    <small class="text-slate-500 ml-5 w-[90%]">
                        Total leaves currently open
                    </small>
                </div>
                <div class="rounded-full bg-gray-200 w-[30px] h-[30px] flex items-center justify-center text-[12px]">
                    10
                </div>
            </div>
            <div class="w-full my-8 flex items-center justify-between">
                <div class="flex flex-col">
                    <span class="font-semibold flex items-center justify-start">
                        <span class="material-symbols-outlined text-[14px] mr-1 text-red-400">
                            add_card
                        </span>
                        Total Approved
                    </span>

                    <small class="text-slate-500 ml-5 w-[90%]">Total quotations not billed</small>
                </div>
                <div class="rounded-full bg-gray-200 w-[30px] h-[30px] flex items-center justify-center text-[12px]">
                    20
                </div>
            </div>
            <div class="w-full my-8 flex items-center justify-between">
                <div class="flex flex-col">
                    <span class="font-semibold flex items-center justify-start">
                        <span class="material-symbols-outlined text-[15px] mr-1 text-default">
                             price_check
                        </span>
                        Total Rejeceted
                    </span>
                    <small class="text-slate-500 ml-5 w-[90%%]">Total leave rejected</small>
                </div>
                <div class="rounded-full bg-gray-200 w-[30px] h-[30px] flex items-center justify-center text-[12px]">
                    14
                </div>
            </div>
            <div class="w-full my-8 flex items-center justify-between">
                <div class="flex flex-col">
                    <span class="font-semibold flex items-center justify-start">
                        <span class="material-symbols-outlined text-[14px] mr-1 text-yellow-700">
                            contract_delete
                        </span>
                        Total Cancelled
                    </span>
                    <small class="text-slate-500 ml-5 w-[90%]">Total leave Cancelled</small>
                </div>
                <div class="rounded-full bg-gray-200 w-[30px] h-[30px] flex items-center justify-center text-[12px]">
                    15
                </div>
            </div>
        </div>
    </div>

    <div class="-2 intro-y mt-6">
        <div class="box p-3">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">Leave Info</h4>
                

            </div>
            <div class="my-5 bg-gray-300 w-full h-[3px] rounded-full"></div>
            <small class="text-blue-700 font-semibold">From 13th Aug, 2023 to 7th Aug, 2023</small>
            <div class="flex items-center justify-between my-10">
                <div class="flex items-center justify-start">
                    <i data-lucide="activity" class="w-[17px] h-[17px] mr-2 text-red-600"></i>
                    Total Applied
                </div>
                <div class="text-gray-700 font-semibold text-[12px]">100</div>
            </div>
            <div class="flex items-center justify-between my-10">
                <div class="flex items-center justify-start">
                    <i data-lucide="bar-chart-2" class="w-[17px] h-[17px] mr-2 text-default"></i>
                    Total Rejected
                </div>
                <div class="text-gray-700 font-semibold text-[12px]">50</div>
            </div>
            <div class="flex items-center justify-between my-10">
                <div class="flex items-center justify-start">
                    <i data-lucide="calendar" class="w-[17px] h-[17px] mr-2"></i>
                    Total Approved
                </div>
                <div class="font-semibold text-[12px] text-red-700">70</div>
            </div>
        </div>
    </div>
</div>