<div class="col-span-1 w-full h-full grid grid-rows-2 gap-y-8">
    
    <div class="-2 intro-y bg-slate-300">
        <div class="box p-3 h-full flex items-center justify-start flex-col">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">Leave Type Stats</h4>
            </div>
            <div class="w-full h-[2px] bg-gray-300 rounded-full"></div>
            <div class="w-full h-full mt-2 p-1" id="leave-type-stats">
                <!-- <span class="flex justify-between">
                    <div class="pt-auto font-bold text-md"><h2>Type</h2></div>
                    <div class="">
                        <div class="flex justify-between border-b font-bold">
                            <p>Used</p>
                            <h4>Value</h4>
                        </div>
                        <div class="font-bold mr-6">
                            <h5 class="">Value</h5>
                            <small>Avarage Length</small>
                        </div>
                    </div>
                </span> -->
            </div>
        </div>
    </div>

    
    <div class="-2 intro-y">
        <div class="box p-3 h-full flex items-center justify-start flex-col">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">Leave Balance Stats</h4>
            </div>
            <div class="w-full h-[2px] bg-gray-300 rounded-full"></div>
            <div class="w-full h-full content-center" id="leave-balance"></div>
        </div>
    </div>

</div>