<div class="-2 row-span-2 col-span-4 w-full h-full intro-y">
    <div class="box w-full h-full p-4 relative bg-white shadow-md rounded-lg">
        <!-- Title -->
        <h2 class="font-semibold text-12 text-gray-700 w-full border-b pb-2">Disciplinary Outcomes</h2>
        
        <!-- Content -->
        <div class="flex flex-col items-center justify-center h-full">
            <span class="material-symbols-outlined text-red-700 text-6xl">
                person_off
            </span>
            <div class="text-4xl font-extrabold text-red-700" id="Total_Number_Of_Discipline_this_month">
                0
            </div>
            <p class="text-sm text-gray-600 text-center">Total number of Disciplines this month.</p>
        </div>
    </div>
</div>