<div class="col-span-1 w-full h-full grid grid-rows-2 gap-y-3">
    <div class="-2 intro-y col-span-1 mt-7">
        <div class="box p-2 h-full">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">Stats</h4>
                
            </div>
            <div class="my-2 bg-gray-300 w-full h-[3px] rounded-full"></div>
            {% comment %} <div class="flex items-center justify-between my-4 border border-violet-.34 p-1 rounded-lg">
                <span class="material-symbols-outlined text-[2rem] text-violet-750">
                    play_arrow
                </span>
                <div class="text-center ">
                    <div class="font-semibold text-md text-violet-700 approved" id="ongoing-training-programs">0.00</div>
                    <p class="text-xs text-defualt">Ongoing Training Programs</p>
                </div>
                <div class="font-semibold"><h4>Of</h4><small class="font-semibold text-defualt total-programs">00</small></div>
            </div>
            <div class="flex items-center justify-between my-4 border border-slate-.34 p-1 rounded-lg">
                <span class="material-symbols-outlined text-[2rem] text-slate-750">
                    calendar_month
                </span>
                <div class="text-center ">
                    <div class="font-semibold text-md text-stone-700 approved" id="scheduled-training-programs">0</div>
                    <p class="text-xs text-defualt">Scheduled Training Programs</p>
                </div>
                <div class="font-semibold"><h4>Of</h4><small class="font-semibold text-defualt total-programs">00</small></div>
            </div>
            <div class="flex items-center justify-between my-4 border border-rose-.34 p-1 rounded-lg">
                <span class="material-symbols-outlined text-[2rem] text-rose-750">
                    block
                </span>
                <div class="text-center ">
                    <div class="font-semibold text-md text-rose-700 approved" id="rejected-training-programs">0</div>
                    <p class="text-xs text-defualt">Rejected Training Programs</p>
                </div>
                <div class="font-semibold "><h4>Of</h4><small class="font-semibold text-defualt total-programs">00</small></div>
            </div>
            <div class="flex items-center justify-between my-4 border border-slate-.34 p-1 rounded-lg">
                    <span class="material-symbols-outlined text-[2rem] text-emerald-750">
                        editor_choice
                    </span>
                <div class="text-center ">
                    <div class="font-semibold text-md text-emerald-700 approved" id="completed-training-programs">0</div>
                    <p class="text-xs text-defualt">Completed Training Programs</p>
                </div> 
                <div class="font-semibold"><h4>Of</h4><small class="font-semibold text-defualt total-programs">00</small></div>
            </div> {% endcomment %}
          
        </div>
    </div>


    <div class=" intro-y mt-2 col-span-1">
        <div class="box p-3 h-[38vh] " >
            <div class="w-full h-[2rem] font-semibold underline">Media Type</div>
            <div class="w-full h-full" id="training-summary-chart"></div>
        </div>
    </div>
</div>