<!-- filters wrapper -->
<div class="filters-wrapper w-full rounded-lg bg-white/50 h-[60px] flex gap-2 items-center p-2 border relative">
    <div class="list-actions flex items-center justify-between"></div>
    <button class="h-[90%] w-max flex gap-2 px-5 border border-default justify-center items-center bg-white rounded-full text-default">
        <span class="material-symbols-outlined">
            page_info
        </span>
        Filters
    </button>
    <div class="absolute hidden show-filters z-[2300] top-[60px] left-0 right-0 h-max">
        <div class="w-full h-max bg-white/30 backdrop-blur-sm p-4 rounded-lg">
            <div class="h-full w-full bg-white/80 p-2 rounded-md border border-default">
                <div class="filter-fields flex items-center justify-start w-[80%]"></div>
            </div>
        </div>
    </div>
</div>
<!-- filters wrapper -->
<!-- list content -->
<div class="w-full h-[max-content] mt-4">
    <div class="w-full  h-[max-content] intro-y box overflow-hidden">
        <div class="w-full h-full listview-wrapper"></div>
    </div>
</div>
<!-- list content -->