<div class="stats w-full h-[240px] grid grid-cols-4 gap-4 mb-7">
    <div class=" stats-view h-full content-group list-view-content intro-y col-span-3">
        <div class="box p-2 bg-white h-full">
            <h4 class="font-semibold text-slate-600">Current Exchange Rates</h4>
        </div>
    </div>
    <div class=" stats-view h-full content-group list-view-content intro-y">
        <div class="box p-3 bg-white h-full">
            <h4 class="font-semibold text-slate-600">Current Exchange Rates</h4>
        </div>
    </div>
</div>