<div class="col-span-1 w-full h-full grid grid-rows-2 gap-y-8">
    <div class="-2 intro-y h-full">
        <div class="box p-3 h-full">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">Appraisal Info</h4>
            </div>
            <div class="my-2 bg-gray-300 w-full h-[3px] rounded-full"></div>
            <div class="w-full h-full relative flex items-center justify-center">
                <div
                    class="w-[140px] h-[140px] rounded-full border-indigo-700 border-b-indigo-900 border-l-blue-700 border-r-indigo-400 border-[7px]  flex items-center justify-center flex-col">
                    <h2 class="font-bold text-27"> 50</h2>
                    <span class="mt-2 text-13 font-semibold">Job Offer</span>
                </div>
            </div>
          
         
        </div>
    </div>
    <div class="-2 intro-y h-full">
        <div class="box p-3 h-full">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">Quick Links</h4>
            </div>
            <div class="my-2 bg-gray-300 w-full h-[3px] rounded-full"></div>
           
            <div class="my-2 bg-gray-300 w-full h-[1px] rounded-full"></div>
         
            <div class="w-full">
                <a href="#"
                    class="w-full flex items-center justify-start text-default text-14 rounded-md my-4">
                    
                    Job Opening
                </a>
                <a href="#"
                    class="w-full flex items-center justify-start text-default text-14 rounded-md my-4">
                    
                    Job Applicant
                </a>
                <a href="#"
                    class="w-full flex items-center justify-start text-default text-14 rounded-md my-4">
                    
                    Interview  Type
                </a>
                <a href="#"
                class="w-full flex items-center justify-start text-default text-14 rounded-md my-4">
                
                Employee Referral
            </a>
          
             
            </div>
        </div>
    </div>
</div>