<div class="w-full h-full grid grid-rows-2 gap-y-7">
    <div class="-2 intro-y">
        <div class="box p-5 h-full">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">Leaves Allocated</h4>
            </div>
            <div class="my-5 bg-gray-300 w-full h-[3px] rounded-full" id="leave"></div>
        </div>
    </div>

    <div class="-2 intro-y">
        <div class="box p-5 h-full">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">Leave Stats</h4>
            </div>
            <div class="my-5 w-full h-[3px] rounded-full" id="leave-allocation-by-leave-type"></div>
        </div>
    </div>
</div>
