<div class="w-full bg-default h-[50px] rounded-md pl-3 text-theme_text_color grid grid-cols-10 mb-3">
    <div class="w-full flex items-center justify-start h-full col-span-2">
        <span class="material-symbols-outlined text-18 mr-1"> admin_panel_settings </span>
        <h3 class="flex items-center justify-center font-bold">Manage Advanced Features</h3>
    </div>
    <a href="" class="flex items-center h-full justify-start text-13 col-span-2">
        <span class="material-symbols-outlined text-17 bg-theme_text_color text-secondary_color text_default rounded-full p-1 mr-2"> power_settings_new </span>
        <span>System Settings</span>
    </a>
    <a href="" class="flex items-center h-full justify-start text-13 col-span-2">
        <span class="material-symbols-outlined text-17 bg-theme_text_color text-secondary_color text_default rounded-full p-1 mr-2"> receipt_long </span>
        <span>Transaction Locking</span>
    </a>
    <a href="" class="flex items-center h-full justify-start text-13 col-span-2">
        <span class="material-symbols-outlined text-17 bg-theme_text_color text-secondary_color text_default rounded-full p-1 mr-2"> receipt_long </span>
        <span>C.O.A Locking</span>
    </a>
    <a href="" class="flex items-center h-full justify-start text-13 col-span-2">
        <span class="material-symbols-outlined text-17 bg-theme_text_color text-secondary_color text_default rounded-full p-1 mr-2"> receipt_long </span>
        <span>User Access</span>
    </a>
    
</div>