<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="width:100%"><h3>HELLO {doc.appraiser_name}</h3> <br>
        <p>
            You have been invited to appraise {doc.appraisee_name}. Kindly note that you are required to submit the subjected 
            appraisal form by {doc.appraisal_date}.
        </p>
        <hr>
        <p> To fill in the appraisal form, please open <a href="" style="margin-left:5px">{doc.name}</a> </p> <br>
        Or 
        <br>
        <div style="width: 200px;height: 40px; background-color:#151030; border-radius: 10px;"></div>
        <a href="" style="background-color: #151030; width: 500px !important; height:550px;border-radius:10px;color:white;text-aligh: center">
            CLICK HERE
        </a> 
        to be redirected to the appraisal form. 
        <br>

        <h4>Thank you for your cooperation.</h4>

        <h4>HUMAN RESOURCE MANAGEMENT DEPARTMENT.</h4>
    </div>
</body>
</html>