
    <div class="mt-5 px-5 p-3 box ">
      <div class="flex justify-end ...">

            <button class="btn btn-primary w-30 mr-2 mb-2">  Submit </button>    
            </div>
          
   <div class="mt-5 px-5 p-3  border-2 grid grid-cols-2 gap-4 place-content-center">


         <div class="flex my-3 items-center w-[100%] gap-4">
          <div class=" w-96"> 
                        <label for="regular-form-1" class="form-label">Employee</label> 
                        <input id="regular-form-1"  type="text" class=" form-control" placeholder="Employee"> </div> <div class="mt-3"> 
                    </div> 
                    <div class=" w-96"> 
                        <label for="regular-form-1" class="form-label">Employee Name</label> 
                        <input id="regular-form-1"  type="text" class=" form-control" placeholder="Employee Name"> </div> <div class="mt-3"> 
                    </div> 
                   
                    
            </div>      
                  
     <div class="flex my-3 items-center w-[100%] gap-4">
        <div class=" w-96"> 
                        <label for="regular-form-1" class="form-label">Department</label> 
                        <input id="regular-form-1"  type="text" class=" form-control" placeholder="Department"> </div> <div class="mt-3"> 
                    </div> 
                    <div class=" w-96"> 
                        <label for="regular-form-1" class="form-label">Leave Type</label> 
                        <input id="regular-form-1" type="text" class="form-control" placeholder="Leave Type"> </div> <div class="mt-3"> 
                    </div>  
                   
                  
            </div>
               <div class="flex my-3 items-center w-[100%] gap-4">
                    <div class=" w-96"> 
                        <label for="regular-form-1" class="form-label">Frome Date</label> 
                        <input id="regular-form-1" type="date" class="form-control" placeholder="Frome Date"> </div> <div class="mt-3"> 
                    </div> 
                    <div class=" w-96"> 
                        <label for="regular-form-1" class="form-label">To Date</label> 
                        <input id="regular-form-1" type="date" class="form-control" placeholder="To Date"> </div> <div class="mt-3"> 
                    </div> 
                  
            </div>
               <div class="flex my-3 items-center w-[100%] gap-4">
                  <div class=" w-96"> 
                        <label for="regular-form-1" class="form-label">Company</label> 
                        <input id="regular-form-1"  type="text" class=" form-control" placeholder="Company"> </div> <div class="mt-3"> 
                    </div> 
                    <div class=" w-96"> 
                        <label for="regular-form-1" class="form-label">New Leaves Allocated</label> 
                        <input id="regular-form-1" type="text" class="form-control" placeholder="New Leaves Allocated"> </div> <div class="mt-3"> 
                    </div> 
                    
                </div>
                <div class="flex my-3 items-center w-[100%] gap-4">
                     <div class=" w-96"> 
                        <label for="regular-form-1" class="form-label">Total Leaves Allocated</label> 
                        <input id="regular-form-1" type="text" class="form-control" placeholder="Total Leaves Allocated"> </div> <div class="mt-3"> 
                    </div>  
              </div> 
    </div>
    
