

    <div class="mt-5 px-5">
    <div class="flex justify-end ...">

   <button class="new-action-btn h-[47px] text-16 btn btn-primary w-50 mr-2 mb-2"> <i data-lucide="plus" class="w-4 h-4 mr-2"></i> Add Leave Allocation </button>    
   </div>


   <!-- filters wrapper-2 -->
            <!-- table -->
         
    <!-- filters wrapper -->
            <div class="w-full rounded-lg bg-white h-[60px] flex items-center justify-between p-2 mt-7 border">
                <div class="grid grid-cols-9 gap-2 w-[080%]">
                   
                  
                     <div class="sm:ml-auto mt-3 sm:mt-0 relative text-slate-500 col-span-2">
                    
                        <input type="text" placeholder="ID" class="form-control sm:w-56 box pl-10">
                    </div>
                    <div class="sm:ml-auto mt-3 sm:mt-0 relative text-slate-500 col-span-2">
                    
                        <input type="text" placeholder="Employee" class="form-control sm:w-56 box pl-10">
                    </div>
                     <div class="sm:ml-auto mt-3 sm:mt-0 relative text-slate-500 col-span-2">
                        
                        <input type="text" placeholder="Employee Name" class=" form-control sm:w-56 box pl-10">
                    </div>
                      <div class="sm:ml-auto mt-3 sm:mt-0 relative text-slate-500 col-span-2">
                        
                        <input type="text" placeholder="Leave Type" class=" form-control sm:w-56 box pl-10">
                    </div>
                </div>
              
             </div>
             
             <div>
            <div class="w-full  mt-2 ">
                <div class="w-full table intro-y box p-3 ">
                    <div class="w-full bg-default shadow-sm h-[50px] rounded-md text-white mt-3 grid grid-cols-15 font-semibold border intro-x px-6 gap-6 flex items-center justify-end">
                        <div class="w-full h-full flex items-center col-span-1 pl-3 th">
                            <div class="form-check w-full flex items-center justify-center">
                                <div class="text-white w-[20px] h-[20px] mr-2">
                                </div>
                                <input id="checkbox-switch-1" class="form-check-input" type="checkbox" value="">
                            </div>
                        </div>

                        <div class="w-full h-full flex items-center col-span-2 pl-3 th">ID</div>
                        <div class="w-full h-full flex items-center col-span-2 th">Employee Name</div>
                        <div class="w-full h-full flex items-center col-span-2 th">Employee</div>
                        <div class="w-full h-full flex items-center col-span-2 th">Status</div>
                    
                    </div>
                    <div class="body w-full h-[330px] overflow-y-auto ">
                        <div class="w-full bg-white border h-[60px] rounded-md text-slate-600 grid grid-cols-15 my-[2px] text-[13px] text-gray-600 transition hover:translate-x-[-5px]">
                            <div class="w-full h-full flex items-center col-span-1 pl-3 th">
                                <div class="form-check w-full flex items-center justify-center">
                                    <div
                                        class="flex items-center justify-center rounded-full bg-gray-200 text-black w-[20px] h-[20px] mr-2">
                                        1
                                    </div>
                                    <input id="checkbox-switch-1" class="form-check-input" type="checkbox" value="">
                                </div>
                            </div>
                            <div class="w-full h-full flex items-center col-span-2 pl-3 font-semibold th">HR-LAL-2022-00519
                            </div>
                            <div class="w-full h-full flex items-center col-span-2 th">Bruce Chikola</div>
                            <div class="w-full h-full flex items-center col-span-2 th">
                                <i data-lucide="" class="w-[17px] text-slate-500 h-[17px] mr-2"></i>
                                EMP-002


                            </div>
                            <div class="w-full h-full flex items-center col-span-2 th">
                                <div
                                    class="flex items-center justify-center rounded-full min-w-[80px] bg-blue-100 text-blue">
                                  Submitted
                                </div>
                            </div>
                          
                        </div>
                        <div
                            class="w-full bg-white border h-[60px] rounded-md text-slate-600 grid grid-cols-15 my-[2px] text-[13px] text-gray-600 transition hover:translate-x-[-5px]">
                            <div class="w-full h-full flex items-center col-span-1 pl-3 th">
                                <div class="form-check w-full flex items-center justify-center">
                                    <div
                                        class="flex items-center justify-center rounded-full bg-gray-200 text-black w-[20px] h-[20px] mr-2">
                                        2
                                    </div>
                                    <input id="checkbox-switch-1" class="form-check-input" type="checkbox" value="">
                                </div>
                            </div>
                            <div class="w-full h-full flex items-center col-span-2 pl-3 font-semibold th">HR-LAL-2022-00519
                            </div>
                            <div class="w-full h-full flex items-center col-span-2 th">Bruce Chikola</div>
                            <div class="w-full h-full flex items-center col-span-2 th">
                                <i data-lucide="" class="w-[17px] text-slate-500 h-[17px] mr-2"></i>
                                EMP-002


                            </div>
                            
                            <div class="w-full h-full flex items-center col-span-2 th">
                                <div
                                    class="flex items-center justify-center rounded-full min-w-[80px] bg-blue-100 text-blue">
                                  Submitted
                                </div>
                            </div>
                         
                    </div>
                        <div
                            class="w-full bg-white border h-[60px] rounded-md text-slate-600 grid grid-cols-15 my-[2px] text-[13px] text-gray-600 transition hover:translate-x-[-5px]">
                            <div class="w-full h-full flex items-center col-span-1 pl-3 th">
                                <div class="form-check w-full flex items-center justify-center">
                                    <div
                                        class="flex items-center justify-center rounded-full bg-gray-200 text-black w-[20px] h-[20px] mr-2">
                                        3
                                    </div>
                                    <input id="checkbox-switch-1" class="form-check-input" type="checkbox" value="">
                                </div>
                            </div>
                            <div class="w-full h-full flex items-center col-span-2 pl-3 font-semibold th">HR-LAL-2022-00519
                            </div>
                            <div class="w-full h-full flex items-center col-span-2 th">Bruce Chikola</div>
                            <div class="w-full h-full flex items-center col-span-2 th">
                                <i data-lucide="" class="w-[17px] text-slate-500 h-[17px] mr-2"></i>
                                EMP-002


                            </div>
                        <div class="w-full h-full flex items-center col-span-2 th">
                                <div
                                    class="flex items-center justify-center rounded-full min-w-[80px] bg-blue-100 text-blue">
                                  Submitted
                                </div>
                            </div>
                          
                        </div>
                        <div
                            class="w-full bg-white border h-[60px] rounded-md text-slate-600 grid grid-cols-15 my-[2px] text-[13px] text-gray-600 transition hover:translate-x-[-5px]">
                            <div class="w-full h-full flex items-center col-span-1 pl-3 th">
                                <div class="form-check w-full flex items-center justify-center">
                                    <div
                                        class="flex items-center justify-center rounded-full bg-gray-200 text-black w-[20px] h-[20px] mr-2">
                                        4
                                    </div>
                                    <input id="checkbox-switch-1" class="form-check-input" type="checkbox" value="">
                                </div>
                            </div>
                            <div class="w-full h-full flex items-center col-span-2 pl-3 font-semibold th">HR-LAL-2022-00519
                            </div>
                            <div class="w-full h-full flex items-center col-span-2 th">Bruce Chikola</div>
                            <div class="w-full h-full flex items-center col-span-2 th">
                                <i data-lucide="" class="w-[17px] text-slate-500 h-[17px] mr-2"></i>
                                EMP-002


                            </div>
                        
                            <div class="w-full h-full flex items-center col-span-2 th">
                                <div
                                    class="flex items-center justify-center rounded-full min-w-[80px] bg-blue-100 text-blue">
                                  Submitted
                                </div>
                            </div>
                          
                        </div>
                        <div
                            class="w-full bg-white border h-[60px] rounded-md text-slate-600 grid grid-cols-15 my-[2px] text-[13px] text-gray-600 transition hover:translate-x-[-5px]">
                            <div class="w-full h-full flex items-center col-span-1 pl-3 th">
                                <div class="form-check w-full flex items-center justify-center">
                                    <div
                                        class="flex items-center justify-center rounded-full bg-gray-200 text-black w-[20px] h-[20px] mr-2">
                                        5
                                    </div>
                                    <input id="checkbox-switch-1" class="form-check-input" type="checkbox" value="">
                                </div>
                            </div>
                            <div class="w-full h-full flex items-center col-span-2 pl-3 font-semibold th">HR-LAL-2022-00519
                            </div>
                            <div class="w-full h-full flex items-center col-span-2 th">Bruce Chikola</div>
                            <div class="w-full h-full flex items-center col-span-2 th">
                                <i data-lucide="" class="w-[17px] text-slate-500 h-[17px] mr-2"></i>
                                EMP-002


                            </div>
                                <div class="w-full h-full flex items-center col-span-2 th">
                                <div
                                    class="flex items-center justify-center rounded-full min-w-[80px] bg-blue-100 text-blue">
                                  Submitted
                                </div>
                            </div>
                           
                        </div>
                    </div>
                        
                    <!-- BEGIN: Pagination -->
                    <div
                        class="intro-y col-span-12 flex flex-wrap sm:flex-row sm:flex-nowrap items-center bg-white h-[60px] rounded-md border p-3">
                        <nav class="w-full sm:w-auto sm:mr-auto">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#"> <i class="w-4 h-4" data-lucide="chevrons-left"></i>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#"> <i class="w-4 h-4" data-lucide="chevron-left"></i>
                                    </a>
                                </li>
                                <li class="page-item"> <a class="page-link" href="#">1</a> </li>
                                <li class="page-item active"> <a class="page-link" href="#">2</a> </li>
                                <li class="page-item"> <a class="page-link" href="#">3</a> </li>
                                <li class="page-item">
                                    <a class="page-link" href="#"> <i class="w-4 h-4" data-lucide="chevron-right"></i>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#"> <i class="w-4 h-4" data-lucide="chevrons-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <select class="w-20 form-select box mt-3 sm:mt-0">
                            <option>10</option>
                            <option>25</option>
                            <option>35</option>
                            <option>50</option>
                        </select>
                    </div>
                    <!-- END: Pagination -->
                </div>

            </div>
           
            <!-- table -->
        </div>
    
 
