{% comment %} {% extends "../client_app/layout.html" %}

{% block content %} {% endcomment %}
 <div class="mt-5 px-5 p-3 box w-5/6 mx-auto">
      <div class="flex justify-end ...">

            <button class="btn btn-primary w-30 mr-2 mb-2">  Submit </button>    
            </div>
          
   <div class="mt-5 px-5 p-3  border-2 grid grid-cols-2 gap-4 place-content-center">


         <div class="flex my-3 items-center w-[100%] gap-4">
                    <div class=" w-96"> 
                        <label for="regular-form-1" class="form-label">Leave Name</label> 
                        <input id="regular-form-1"  type="text" class=" form-control" placeholder="Leave Name"> </div> <div class="mt-3"> 
                    </div> 
                   
                    
            </div>      
                  
     <div class="flex my-3 items-center w-[100%] gap-4">
     
                    <div class=" w-96"> 
                        <label for="regular-form-1" class="form-label">Maximun Leave Allocation </label> 
                        <input id="regular-form-1"  type="text" class=" form-control" placeholder="Maximun Leave Allocation Allowed"> </div> <div class="mt-3"> 
                    </div>  
                   
                  
            </div>




         <div class="flex my-3 items-center w-[100%] gap-4">
                    <div class=" w-96"> 
                        <label for="regular-form-1" class="form-label">Application After(Working Days)</label> 
                        <input id="regular-form-1"  type="text" class=" form-control" placeholder=""> </div> <div class="mt-3"> 
                    </div> 
                   
                    
            </div>      
                  
     <div class="flex my-3 items-center w-[100%] gap-4">
     
                         <div class=" w-96"> 
                        <label for="regular-form-1" class="form-label">Maximun Consecutive Leaves Allowed</label> 
                        <input id="regular-form-1"  type="text" class=" form-control" placeholder=""> </div> <div class="mt-3"> 
                    </div> 
                   
                  
            </div>

            <div class="flex my-3 items-center w-[100%] gap-4">
                   
                      <div class=" w-[50%]"> 
                          <div class="form-check mr-2"> <input id="checkbox-switch-4" class="form-check-input" type="checkbox" value=""> <label class="form-check-label" for="checkbox-switch-4">Is Carry Forward</label> </div>
                
                     </div> 
                </div>

            <div class="flex my-3 items-center w-[100%] gap-4">
                   
                      <div class=" w-[50%]"> 
                          <div class="form-check mr-2"> <input id="checkbox-switch-4" class="form-check-input" type="checkbox" value=""> <label class="form-check-label" for="checkbox-switch-4">Is Leave Without Pay</label> </div>
                
                     </div> 
                </div>
                <div class="flex my-3 items-center w-[100%] gap-4">
                   
                      <div class=" w-[50%]"> 
                          <div class="form-check mr-2"> <input id="checkbox-switch-4" class="form-check-input" type="checkbox" value=""> <label class="form-check-label" for="checkbox-switch-4">Is Partially Paid</label> </div>
                
                     </div> 
                </div>

            <div class="flex my-3 items-center w-[100%] gap-4">
                   
                      <div class=" w-[50%]"> 
                          <div class="form-check mr-2"> <input id="checkbox-switch-4" class="form-check-input" type="checkbox" value=""> <label class="form-check-label" for="checkbox-switch-4">Is Optional Leave</label> </div>
                
                     </div> 
                </div>
                 <div class="flex my-3 items-center w-[100%] gap-4">
                   
                      <div class=" w-[50%]"> 
                          <div class="form-check mr-2"> <input id="checkbox-switch-4" class="form-check-input" type="checkbox" value=""> <label class="form-check-label" for="checkbox-switch-4">Allow Over Allocation</label> </div>
                
                     </div> 
                </div>

            <div class="flex my-3 items-center w-[100%] gap-4">
                   
                      <div class=" w-[50%]"> 
                          <div class="form-check mr-2"> <input id="checkbox-switch-4" class="form-check-input" type="checkbox" value=""> <label class="form-check-label" for="checkbox-switch-4">Allow Negative Balance</label> </div>
                
                     </div> 
                </div>
               
                    <div class="flex my-3 items-center w-[100%] gap-4">
                   
                      <div class=" w-[50%]"> 
                          <div class="form-check mr-2"> <input id="checkbox-switch-4" class="form-check-input" type="checkbox" value=""> <label class="form-check-label" for="checkbox-switch-4">Is Compensatory</label> </div>
                
                     </div> 
                </div>
                    <div class="flex my-3 items-center w-[100%] gap-4">
                   
                      <div class=" w-[50%]"> 
                          <div class="form-check mr-2"> <input id="checkbox-switch-4" class="form-check-input" type="checkbox" value=""> <label class="form-check-label" for="checkbox-switch-4">Allow Encashment</label> </div>
                
                     </div> 

                     
                </div>
                    <div class=" w-[50%]"> 
                          <div class="form-check mr-2"> <input id="checkbox-switch-4" class="form-check-input" type="checkbox" value=""> <label class="form-check-label" for="checkbox-switch-4">Allow Earned Leave</label> </div>
                
                     </div>
            </div>
             
               
                  
            </div>
            </div>
            

         
                  
            </div>
             
               
                   
    </div> 
    </div>
{% comment %} {% endblock %} {% endcomment %}