<div id="appointment-letter-confirmation-careers" class="w-full h-full mx-auto my-4 intro-y">
    <div class="box  mt-12 w-full h-[80vh] ">
        <div class="grid h-full w-full place-content-center " id="appointment-letter-confirmation-careers-visible-body">
            <div class="flex justify-between">            
                <div class="h-[40rem] w-[35rem] border border-black-200 rounded-lg place-content-center" id="appointment-letter-applicant-details">
                    <div class="h-[12rem] p-2 grid grid-rows-3 grid-cols-2 gap-8">
                        <div class="span-row-1 span-col-1 p-2 mb-4">
                            <label for="first_name" class="font-bold text-primary">First Name</label>
                            <input type="text" class="rounded-lg" id="first_name" name="first_name" placeholder="First Name">
                            <small class="hidden w-full mr-0 text-red-400 mb-8 flex justify-end" id="first_name_missing">Data is missing...</small>
                        </div>
                        <div class="span-row-1 span-col-1 p-2 mb-4">
                            <label for="other_names" class="font-bold text-primary">Last Name</label>
                            <input type="text" class="rounded-lg" id="other_names" name="other_names" placeholder="Last Name">
                            <small class="hidden w-full mr-0 text-red-400 mb-8 flex justify-end" id="other_names_missing">Data is missing...</small>
                        </div>
                        <div class="span-row-1 span-col-1 p-2 mb-4">
                            <label for="applicat_email" class="font-bold text-primary">Email</label>
                            <input type="email" class="rounded-lg" id="applicat_email" name="applicat_email" placeholder="example: 'applicat_email@mail.com'">
                            <small class="hidden w-full mr-0 text-red-400 mb-8 flex justify-end" id="applicat_email_missing">Data is missing...</small>
                        </div>
                        <div class="span-row-1 span-col-1 p-2 mb-4">
                            <label for="job_designation" class="font-bold text-primary">Job Designation</label>
                            <input type="text" class="rounded-lg" id="job_designation" name="job_designation" placeholder="Job Designation">
                            <small class="hidden w-full mr-0 text-red-400 mb-8 flex justify-end" id="job_designation_missing">Data is missing...</small>
                        </div>
                        <div class="span-row-1 p-2 mb-4 text-center w-full">
                            <input type="submit" value="Submit" class="bg-blue-900 text-white p-2 rounded-lg" id="appointment-details-submission">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>