<div class=" page-actions-wrapper flex items-center justify-center ">
    <!-- actions for the list view -->
    <div class="content-group list-view-content flex items-center justify-center">
        <!-- <button class="new-action-btn h-[47px] text-16 w-max btn bg-default text-theme_text_color shadow-md mr-2">
            <i data-lucide="plus-circle" class="w-[17px] h-[17px] mr-2"></i>New Leave Entry
        </button> -->
    </div>
    <!-- actions for the list view -->
    <!-- actions for the info view -->
    <div class="content-group info-view-content flex items-center justify-center hidden">
        <button class="update-action-btn w-[120px] mr-2 btn bg-default text-theme_text_color shadow-md ">
            <i data-lucide="save" class="w-[17px] h-[17px] mr-2"></i>Update
        </button>
        <div class="dropdown w-1/2 sm:w-auto" style="position: relative;">
            <button class="dropdown-toggle w-full btn sm:w-auto bg-white" aria-expanded="false"
                data-tw-toggle="dropdown">
                <i data-lucide="more-vertical" class="w-[17px] h-[17px]"></i>
            </button>
            <div class="dropdown-menu w-[240px]" id="_hjlc5luf1" data-popper-placement="bottom-end"
                style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(-0.5px, 38px, 0px);">
                <ul class="dropdown-content"></ul>
            </div>
        </div>
    </div>
    <!-- actions for the info view -->
    <div class="content-group actions-group new-form-view-content w-full flex items-center justify-between hidden">
        <button for="" class="save-action-btn w-[170px] btn bg-default text-theme_text_color shadow-md ">
            <i data-lucide="save" class="w-[17px] h-[17px] mr-2"></i>Save
        </button>
    </div>
</div>