<div class="col-span-1 w-full h-full grid grid-rows-2 gap-y-8">
    <div class="-2 intro-y h-full">
        <div class="box p-3 h-full">
            <div class="w-full flex items-center justify-between mb-5">
                <span class="font-bold w-full ">Leave Summary</span>
                <button class="flex items-center justify-center w-[max-content]">
                    More
                    <span class="material-symbols-outlined text-17 ml-1">
                        arrow_right_alt
                    </span>

                </button>
            </div>
            <div
                class="w-[110px] h-[110px] rounded-full border-indigo-500 border-4 flex items-center justify-center flex-col">
                <h2 class="font-bold text-27"> 1,700</h2>
                <span class="mt-2 text-13 font-semibold">Total Allocated</span>
            </div>
            <div class="w-full h-1 border-gray border rounded-full my-3"></div>
            <div
                class="w-full flex items-center justify-between h-[60px] border rounded-md mb-3 px-1">
                <div class="flex items-center justify-start">
                    <div
                        class="flex items-center justify-center  w-[30px] h-[30px] rounded-full bg-orange-100 mr-2">
                        <span class="material-symbols-outlined text-18 text-orange-900">
                            calendar_clock
                        </span>
                    </div>
                    <div class="flex items-start justify-center flex-col">
                        <h6>Unused Leave Days</h6>
                        <small class="flex items-center justify-center font-semibold text-11">
                            357 Days
                        </small>
                    </div>
                </div>
                <button class="flex items-center justify-center">
                    <span class="material-symbols-outlined text-18">
                        arrow_right_alt
                    </span>

                </button>
            </div>
            <div
                class="w-full flex items-center justify-between h-[60px] border rounded-md mb-3 px-1">
                <div class="flex items-center justify-start">
                    <div
                        class="flex items-center justify-center  w-[30px] h-[30px] rounded-full bg-red-100 mr-2">
                        <span class="material-symbols-outlined text-18 text-red-900">
                            event
                        </span>
                    </div>
                    <div class="flex items-start justify-center flex-col">
                        <h6>Pending Applications</h6>
                        <small class="flex items-center justify-center font-semibold text-11">
                            88 Pending Leave Applications
                        </small>
                    </div>
                </div>
                <button class="flex items-center justify-center">
                    <span class="material-symbols-outlined text-18">
                        arrow_right_alt
                    </span>

                </button>
            </div>
            <div
                class="w-full flex items-center justify-between h-[60px] border rounded-md mb-3 px-1">
                <div class="flex items-center justify-start">
                    <div
                        class="flex items-center justify-center  w-[30px] h-[30px] rounded-full bg-blue-100 mr-2">
                        <span class="material-symbols-outlined text-18 text-blue-900">
                            event_available
                        </span>
                    </div>
                    <div class="flex items-start justify-center flex-col">
                        <h6>Approved Leaves</h6>
                        <small class="flex items-center justify-center font-semibold text-11">
                            27 Applications Approved
                        </small>
                    </div>
                </div>
                <button class="flex items-center justify-center">
                    <span class="material-symbols-outlined text-18">
                        arrow_right_alt
                    </span>

                </button>
            </div>
        </div>
    </div>
    <div class="-2 intro-y h-full">
        <div class="box p-3 h-full">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">Quick Links</h4>
            </div>
            <div class="my-2 bg-gray-300 w-full h-[3px] rounded-full"></div>
           
           
            <div class="w-full">
                <a href="#"
                    class="w-full flex items-center justify-start text-default text-12 rounded-md my-4">
                    
                    Leave Setup
                </a>
                <a href="#"
                    class="w-full flex items-center justify-start text-default text-12 rounded-md my-4">
                    
                   Leave Policy
                </a>
                <a href="#"
                    class="w-full flex items-center justify-start text-default text-12 rounded-md my-4">
                    
                    Leave Compensation
                </a>
                <a href="#"
                    class="w-full flex items-center justify-start text-default text-12 rounded-md my-4">
                    
                   Leave Entry
                </a>
            </div>
        </div>
    </div>
</div>