<div class="col-span-1 w-full h-full grid grid-rows-2 gap-y-8">
    <div class="-2 intro-y h-full">
        <div class="box p-3 h-full">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">Recent Memo's</h4>
            </div>
            <div class="my-2 bg-gray-300 w-full h-[3px] rounded-full"></div>
            <div id="memo-stats" class="w-full h-full  ">
               <!-- <div class="w-full h-[45px] flex items-center justify-between border-b">
                    <div class="flex items-center justify-start">
                        <div class="flex items-ceenter justify-center mr-3">
                            <span class="material-symbols-outlined text-default text-17"> check_circle </span>
                        </div>
                        <div class="text-gray-700">Delayment of Salaries</div>
                    </div>
                    <div class="flex flex-col items-end justify-center">
                        <span class="font-semibold text-12">
                            <span class="material-symbols-outlined text-13 mr-1"> calendar_month </span>
                            1st Jan, 2024
                        </span>
                        <small class="text-orange-500 text-10">Submitted</small>
                    </div>
               </div>
               <div class="w-full h-[45px] flex items-center justify-between border-b">
                    <div class="flex items-center justify-start">
                        <div class="flex items-ceenter justify-center mr-3">
                            <span class="material-symbols-outlined text-default text-17"> check_circle </span>
                        </div>
                        <div class="text-gray-700">Cancellation of 13th Cheque</div>
                    </div>
                    <div class="flex flex-col items-end justify-center">
                        <span class="font-semibold text-12">
                            <span class="material-symbols-outlined text-13 mr-1"> calendar_month </span>
                            1st Jan, 2024
                        </span>
                        <small class="text-orange-500 text-10">Submitted</small>
                    </div>
               </div>
               <div class="w-full h-[45px] flex items-center justify-between border-b">
                    <div class="flex items-center justify-start">
                        <div class="flex items-ceenter justify-center mr-3">
                            <span class="material-symbols-outlined text-default text-17"> check_circle </span>
                        </div>
                        <div class="text-gray-700">UNKA GO Launch</div>
                    </div>
                    <div class="flex flex-col items-end justify-center">
                        <span class="font-semibold text-12">
                            <span class="material-symbols-outlined text-13 mr-1"> calendar_month </span>
                            1st Jan, 2024
                        </span>
                        <small class="text-orange-500 text-10">Submitted</small>
                    </div>
               </div>
               <div class="w-full h-[45px] flex items-center justify-between border-b">
                    <div class="flex items-center justify-start">
                        <div class="flex items-ceenter justify-center mr-3">
                            <span class="material-symbols-outlined text-default text-17"> check_circle </span>
                        </div>
                        <div class="text-gray-700">Launch Of Varyon</div>
                    </div>
                    <div class="flex flex-col items-end justify-center">
                        <span class="font-semibold text-12">
                            <span class="material-symbols-outlined text-13 mr-1"> calendar_month </span>
                            1st Jan, 2024
                        </span>
                        <small class="text-orange-500 text-10">Submitted</small>
                    </div>
               </div>
               <div class="w-full h-[45px] flex items-center justify-between border-b">
                    <div class="flex items-center justify-start">
                        <div class="flex items-ceenter justify-center mr-3">
                            <span class="material-symbols-outlined text-default text-17"> check_circle </span>
                        </div>
                        <div class="text-gray-700">Increase of Basic Pay </div>
                    </div>
                    <div class="flex flex-col items-end justify-center">
                        <span class="font-semibold text-12">
                            <span class="material-symbols-outlined text-13 mr-1"> calendar_month </span>
                            1st Jan, 2024
                        </span>
                        <small class="text-orange-500 text-10">Submitted</small>
                    </div>
               </div>
               <div class="w-full h-[45px] flex items-center justify-between border-b">
                    <div class="flex items-center justify-start">
                        <div class="flex items-ceenter justify-center mr-3">
                            <span class="material-symbols-outlined text-default text-17"> check_circle </span>
                        </div>
                        <div class="text-gray-700">Contract Signing </div>
                    </div>
                    <div class="flex flex-col items-end justify-center">
                        <span class="font-semibold text-12">
                            <span class="material-symbols-outlined text-13 mr-1"> calendar_month </span>
                            1st Jan, 2024
                        </span>
                        <small class="text-orange-500 text-10">Submitted</small>
                    </div>
               </div> -->
            </div>
          
         
        </div>
    </div>
    <div class="-2 intro-y h-full">
        <div class="box p-3 h-full">
            <div class="w-full flex items-center justify-between">
                <h4 class="font-semibold text-slate-600">Stats</h4>
            </div>
            <div class="my-2 bg-gray-300 w-full h-[3px] rounded-full"></div>
            <div class="w-full h-full">
                <div class="w-full h-[45px] flex items-center justify-between">
                    <div class="flex items-center justify-start">
                        <div class="flex items-ceenter justify-center mr-3">
                            <span class="material-symbols-outlined text-orange-700 text-20">mail</span>
                        </div>
                        <div class="text-gray-700">Memo's In Draft</div>
                    </div>
                    <div class="flex flex-col items-center justify-center w-[20px] h-[20px] rounded-full bg-gray-100 text-12">
                        0
                    </div>
               </div>
                <div class="w-full h-[45px] flex items-center justify-between">
                    <div class="flex items-center justify-start">
                        <div class="flex items-ceenter justify-center mr-3">
                            <span class="material-symbols-outlined text-blue-700 text-20">task_alt</span>
                        </div>
                        <div class="text-gray-700">Approved Memo's</div>
                    </div>
                    <div class="flex flex-col items-center justify-center w-[20px] h-[20px] rounded-full bg-gray-100 text-12">
                       0 
                    </div>
               </div>
                <div class="w-full h-[45px] flex items-center justify-between">
                    <div class="flex items-center justify-start">
                        <div class="flex items-ceenter justify-center mr-3">
                            <span class="material-symbols-outlined text-red-800 text-20">block</span>
                        </div>
                        <div class="text-gray-700">Rejected Memo's</div>
                    </div>
                    <div class="flex flex-col items-center justify-center w-[20px] h-[20px] rounded-full bg-gray-100 text-12">
                       0 
                    </div>
               </div>
                <div class="w-full h-[45px] flex items-center justify-between">
                    <div class="flex items-center justify-start">
                        <div class="flex items-ceenter justify-center mr-3">
                            <span class="material-symbols-outlined text-emerald-700 text-20">chronic</span>
                        </div>
                        <div class="text-gray-700">Memo's In Transit</div>
                    </div>
                    <div class="flex flex-col items-center justify-center w-[20px] h-[20px] rounded-full bg-gray-100 text-12">
                        0
                    </div>
               </div>
            </div>
        </div>
    </div>
</div>