<div class="w-[95%] mx-auto min-h-[80px] h-max-content rounded-md ">
    <h1 class="font-bold  text-35 flex items-center justify-start flex">
        <span class="material-symbols-outlined text-35 mr-2 text-purple-600"> api </span>
        API Integrations.
    </h1>
    <p class="ml-12 mt-5">
        Welcome to our Integrations page, where we bridge the gap between your favorite tools and our platform. Here, you'll discover a suite of seamless connections designed to enhance your workflow, streamline processes, and amplify productivity.
    </p>
</div>