<div class="integration-menu-content-wrapper w-full col-span-4 absolute top-0 left-0 bg-white h-full overflow-y-auto rounded-md shadow-md p-3">
    <div class="w-full flex items-center justify-between border-b h-[50px]">
        <span class="selected-integration-guide flex items-center justify-start relative">
            <input id="search-request"  type="text" class="w-[270px] min-h-[30px] form-control" placeholder="Search Request">
            <span class="material-symbols-outlined absolute right-2 text-20 text-gray-400"> search </span>
            <!-- <select type="select" action-type="multi-content-toggler" class="lite-selector border rounded-md px-3 w-[200px]" placeholder="Select Receivable Type">
                <option value="Dashboard">Dashboard</option>
                <option value="Quotation">Quotation</option>
                <option value="Sales Order">Sales Order</option>
                <option value="Proforma Invoice">Proforma Invoice</option>
                <option value="Tax Invoice">Tax Invoice</option>
                <option value="Credit Note">Credit Note</option>
            </select> -->
        </span>
        <button class="close-integration-menus flex items-center justify-center border-none outline-none font-bold">
            <span class="material-symbols-outlined text-30 text-red-700"> close </span>
        </button>
    </div>
    <div class="request-content w-full grid grid-cols-4 gap-5 mt-5">
        <a href="Fetch Item Classification" class="request-content-item flex items-center justify-start text-13 p-2 rounded-md bg-gray-200 hover:bg-gray-400 transition duration-1000 hover:translate-x-[-3%]">
            <span class="material-symbols-outlined mr-1 text-orange-700"> circle </span>
            Fetch Item Classification
        </a>
    </div>
</div>