<div class="w-[92%] mx-auto my-5 grid grid-cols-4 gap-x-4 border-t pt-5">
    <a href="normal integrations" class="integration-menu-item flex items-center justify-between border border-default px-3 h-[35px] rounded-md transition duration-100 bg-default text-theme_text_color">
        <span class="flex items-center justify-start">
            <span class="material-symbols-outlined mr-2 text-20 text-default"> code </span>
            Normal Integrations
        </span>
        <span class="material-symbols-outlined text-20 m-arrow"> keyboard_arrow_down </span>
    </a>
    <a href="smart invoice integrations" class="integration-menu-item flex items-center justify-between border border-secondary_color px-3 h-[35px] rounded-md transition duration-100 hover:bg-default/30">
        <span class="flex items-center justify-start">
            <span class="material-symbols-outlined mr-2 text-20 text-orange-700"> smart_screen </span>
            Smart Invoice Integrations
        </span>
        <span class="material-symbols-outlined text-20 m-arrow"> keyboard_arrow_down </span>
    </a>
    <a href="api key generation" class="integration-menu-item flex items-center justify-between border border-teal-300 px-3 h-[35px] rounded-md transition duration-100 hover:bg-default/30">
        <span class="flex items-center justify-start">
            <span class="material-symbols-outlined mr-2 text-20 text-teal-600"> key </span>
            API Key Generation
        </span>
        <span class="material-symbols-outlined text-20 m-arrow"> keyboard_arrow_down </span>
    </a>
    <a href="api-data-table" class="integration-menu-item flex items-center justify-between border border-purple-400 px-3 h-[35px] rounded-md transition duration-100 hover:bg-default/30">
        <span class="flex items-center justify-start">
            <span class="material-symbols-outlined mr-2 text-20 text-purple-600"> table </span>
            API Data Table
        </span>
        <span class="material-symbols-outlined text-20 m-arrow"> keyboard_arrow_down </span>
    </a>

    
</div>