{% extends "../client_app/layout.html" %}
{% block title %}
Role
{% endblock title %}
{% block content %}
{% load static %}
<div class="w-full h-full mx-auto">
    <div class="w-full grid grid-cols-4 h-[75%] gap-7">
        <!-- tab list view for the  -->
        <div class="w-full col-span-4">
            {% include "./components/controller.html" %}
            <!-- main content -->
            <div class="main-content-wrapper w-full">
                <div class="content-group list-view-content w-full">
                    {% include "./components/list_view.html" %}
                </div>
                <div class="content-group info-view-content w-full hidden">
                    {% include "./components/info_view.html" %}
                </div>
                <div class="content-group new-form-view-content w-full hidden">
                    {% include "./components/form.html" %}
                </div>
            </div>
            <!-- main content -->
        </div>        
    </div>


</div>
{% endblock content %}