{% load static %}
<!DOCTYPE html>
<html lang="en" class="light">
<head>
    <meta charset="utf-8">
    <link href="{% static 'static/images/logo/varyon.png' %}" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Varyon is built to simplify your business complexity">
    <meta name="keywords" content="zambia erp hr payroll">
    <meta name="author" content="Varyon HRMIS">
    <meta property="og:title" content="Varyon HRMIS">
    <meta property="og:image" content="https://varyon-hrmis/static/images/logo/varyon.png">
    <meta property="og:url" content="https://varyon-hrmis">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <meta property="og:type" content="website">
    <link rel="icon" href="{% static '/images/logo/varyon.png' %}">
    <!-- BEGIN: CSS Assets-->
    <link rel="stylesheet" href="{% static '/css/google_fonts.css' %}" />
    <link rel="stylesheet" href="{% static '/css/app.css' %}" />
    <link rel="stylesheet" href="{% static '/css/summernote/summernote.css' %}" />
    <link rel="stylesheet" href="{% static '/css/custom.css' %}" />
    <link rel="stylesheet" href="{% static '/css/media.css' %}" />
    <link rel="stylesheet" href="{% static '/css/custom_select.css' %}" />
    <link rel="stylesheet" href="{% static '/css/table.css' %}" />
    <link rel="stylesheet" href="{% static '/css/animations.css' %}" />
    <link rel="stylesheet" href="{% static '/css/datepicker.css' %}" />
    <link rel="stylesheet" href="{% static '/css/timepicker.css' %}" />
    <link rel="stylesheet" href="{% static '/css/yearpicker.css' %}" />
    <link rel="stylesheet" href="{% static '/css/navigation.css' %}" />
    <!-- END: CSS Assets-->
</head>