<div id="nav-menu-dropdown" class="w-[97%] overflow-hidden bg-white border p-3 absolute top-[70px] left-[1.5%] rounded-md shadow-lighter">
    <div class="w-full relative">
        <div class="w-full flex items-center justify-between mb-5 pb-3 border-b">
            <div class="flex items-center justify-center font-bold text-30">
                <i data-lucide="layers" class="w-[17px] h-[17px] mr-2"></i>
                Navigation
            </div>
            <button id="nav-menu-dropdown-close-btn" class="font-semibold text-red-800 text-30">x</button>
        </div>
        <div class="w-full grid grid-cols-4 gap-x-3 nav-content-wrapper">
            <div class="w-full mobile-col-4 nav-modules-wrapper overflow-y-auto h-[75vh] overflow-y-auto col-span-3">
                <div id="nav-menu-content" class="w-full bg-white grid grid-cols-3 gap-3"></div> 
            </div>
            <div class="w-full mobile-col-4 h-[max-content] min-h-[75vh] col-span-1 bg-gray-100 rounded-md mb-5 text-swhite p-2 pb-10">
                <div class="w-full flex items-center justify-start my-2 border-b pb-3">
                    <span class="material-symbols-outlined"> more_down </span>
                    <h3 class="font-bold text-25">Module Shortcuts</h3>
                </div>
                
            </div>
        </div>
    </div>
</div>