<div class=" mobile-col-2 w-full h-full intro-y">
    <div class="-2 w-full h-full intro-y">
        <div id="employee-info-wrapper" class="box w-full h-full flex items-center justify-start flex-col p-3 dashboard-content relative">
            <div class="flex items-center justify-between w-full border-b pb-3">
                <span class="font-bold w-full">Employee Info</span>
            </div>
            <div class="w-full h-full">
                <div class="w-full flex items-center justify-between h-[70px]">
                    <div class="flex items-center justify-start">
                        <div class="flex items-center justify-center h-[40px] w-[40px] bg-indigo-100 rounded-md mr-2">
                            <span class="material-symbols-outlined text-20 text-default">
                                business_center
                            </span>
                        </div>
                        <div class="">
                            <h4>Total Employees</h4>
                            <small class="text-gray-500 text-11">Total number of
                                employees</small>
                        </div>
                    </div>
                    <div class="font-bold text-11 text-gray-700 flex items-end justify-center flex-col">
                        
                        <span class="total-employees text-15">0</span>
                    </div>
                </div>
                <div class="w-full flex items-center justify-between h-[70px]">
                    <div class="flex items-center justify-start">
                        <div class="flex items-center justify-center h-[40px] w-[40px] bg-orange-100 rounded-md mr-2">
                            <span class="material-symbols-outlined text-20 text-orange-800">
                                schedule
                            </span>
                        </div>
                        <div class="">
                            <h4>Number Of Employees on Payroll</h4>
                            <small class="text-gray-500 text-11">Last Month Payroll</small>
                        </div>
                    </div>
                    <div class="font-bold text-11 text-gray-700 flex items-end justify-center">
                        <span class="total-employees text-15 number-of-employes-on-payroll mr-2">0.00 </span>
                    </div>
                </div>
                <div class="w-full flex items-center justify-between h-[70px]">
                    <div class="flex items-center justify-start">
                        <div class="flex items-center justify-center h-[40px] w-[40px] bg-emerald-100 rounded-md mr-2">
                            <span class="material-symbols-outlined text-20 text-emerald-800">
                                work_history
                            </span>
                        </div>
                        <div class="">
                            <h4>Total Overtime Accrued</h4>
                            <small class="text-gray-500 text-11">Overtime Accrued</small>
                        </div>
                    </div>
                    <div class="font-bold text-11 text-gray-700 flex flex-col items-end justify-center">
                        
                        <div><span class="total-employees text-15 overtime-accrued mr-2">0.00 </span> HRS</div>
                        <span class="total-employees text-10 overtime-accrued-amount mr-2">0.00 </span>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>