<div class=" mobile-col-2 w-full h-full intro-y">
    <div class="-2 w-full h-full intro-y">
        <div id="payroll-cost-summary-wrapper" class="box w-full h-full flex items-center justify-start flex-col p-3 relative dashboard-content">
            <div class="flex items-center justify-between w-full">
                <span class="font-bold w-full">Last Payroll Summary</span>
                <a href="" class="flex items-center justify-center w-[150px] text-12">
                    More
                    <span class="material-symbols-outlined text-18 ml-3">
                        arrow_right_alt
                    </span>
                </a>
            </div>
            <div class="w-full h-full flex items-center justify-center">
                <div id="payroll-cost-summary"></div>
            </div>
        </div>
    </div>
</div>