<div class=" mobile-hidden-2 w-full h-full intro-x col-span-2 mt-5 min-h-[44vh]">
    <div id="recent-payments-wrapper" class="box w-full h-full p-3 gap-3 relative dashboard-content">
        <div class="w-full flex items-center justify-between mb-5">
            <span class="font-bold w-full">Recent Payments</span>
            <a href="/payroll/payroll_processor/?app=payroll_processor&page=list&content_type=Payroll%20Processor" class="flex items-center justify-center w-[max-content]">
                More
                <span class="material-symbols-outlined text-17 ml-1">
                    arrow_right_alt
                </span>
            </a>
        </div>
        <div class="w-full recent-payments">
            <div class="w-full grid grid-cols-7 h-[45px] bg-gray-100 rounded-t-md text-12 font-semibold">
                <div class="w-full flex items-center justify-start h-full col-span-2 pl-2">
                    <span class="material-symbols-outlined mr-1 text-orange-600">
                        event_available
                    </span>
                    Payroll Period
                </div>
                <div class="w-full flex items-center justify-start h-full">
                    <span class="material-symbols-outlined mr-1">
                        badge
                    </span>
                    Employees
                </div>
                <div class="w-full flex items-center justify-start h-full">
                    <span class="material-symbols-outlined mr-2">
                        redeem
                    </span>
                    Gross Pay
                </div>
                <div class="w-full flex items-center justify-start h-full">
                    <span class="material-symbols-outlined text-green-700 mr-2">
                        trending_up
                    </span>
                    Earnings
                </div>
                <div class="w-full flex items-center justify-start h-full">
                    <span class="material-symbols-outlined text-red-700 mr-2">
                        trending_down
                    </span>
                    Deductions
                </div>
                <div class="w-full flex items-center justify-start h-full">
                    <span class="material-symbols-outlined mr-1 text-indigo-600">
                        credit_score
                    </span>
                    Net Pay
                </div>
            </div>
            <div class="body w-full recent-payments-list"></div>
        </div>
    </div>
</div>


